Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

cleanup
  .eslintrc.js
  integration-tests/yarn.lock
  pnpm-lock.yaml
Due: none

update readme with new examples
  packages/nextjs-webpack-plugin/README.md
  packages/nuxt-plugin/README.md
  packages/remix-vite-plugin/README.md
  packages/rollup-plugin/README.md
  packages/solidstart-plugin/README.md
  packages/sveltekit-plugin/README.md
  packages/vite-plugin/README.md
  packages/webpack-plugin/README.md
Due: Rollup plugin, Vite plugin, Webpack plugin

add in tokenless example
  .github/workflows/ci.yml
  examples/tokenless/.eslintrc.cjs
  examples/tokenless/.gitignore
  examples/tokenless/README.md
  examples/tokenless/index.html
  examples/tokenless/package.json
  examples/tokenless/public/vite.svg
  examples/tokenless/src/App.css
  examples/tokenless/src/App.tsx
  examples/tokenless/src/IndexedLazyComponent/IndexedLazyComponent.tsx
  examples/tokenless/src/IndexedLazyComponent/index.ts
  examples/tokenless/src/LazyComponent/LazyComponent.tsx
  examples/tokenless/src/assets/react.svg
  examples/tokenless/src/index.css
  examples/tokenless/src/main.tsx
  examples/tokenless/src/vite-env.d.ts
  examples/tokenless/tsconfig.json
  examples/tokenless/tsconfig.node.json
  examples/tokenless/vite.config.ts
Due: none

add git service to other examples
  examples/next-js-15/next.config.mjs
  examples/next-js/next.config.mjs
  examples/nuxt/nuxt.config.ts
  examples/remix/vite.config.ts
  examples/rollup/rollup.config.js
  examples/solidstart/app.config.ts
  examples/sveltekit/vite.config.ts
  examples/webpack/webpack.config.js
Due: none

small typo fix
  packages/bundler-plugin-core/src/types.ts
Due: Plugin core

remove NoUploadTokenError
  packages/bundler-plugin-core/src/errors/NoUploadTokenError.ts
Due: Plugin core

update getPreSignedURL to remove requirement for uploadToken
  packages/bundler-plugin-core/src/utils/__tests__/getPreSignedURL.test.ts
Due: Plugin core

add back no upload token error and new undefined git service error
  packages/bundler-plugin-core/src/errors/NoUploadTokenError.ts
Due: Plugin core

update getPreSignedURL to support tokenless uploads
  packages/bundler-plugin-core/src/utils/__tests__/getPreSignedURL.test.ts
Due: Plugin core

add tokenless examples to readme's
  packages/nuxt-plugin/README.md
  packages/remix-vite-plugin/README.md
  packages/rollup-plugin/README.md
  packages/solidstart-plugin/README.md
  packages/sveltekit-plugin/README.md
  packages/vite-plugin/README.md
  packages/webpack-plugin/README.md
Due: Rollup plugin, Vite plugin, Webpack plugin

update readme examples
  packages/nuxt-plugin/README.md
  packages/remix-vite-plugin/README.md
  packages/rollup-plugin/README.md
  packages/solidstart-plugin/README.md
  packages/sveltekit-plugin/README.md
  packages/vite-plugin/README.md
  packages/webpack-plugin/README.md
Due: Rollup plugin, Vite plugin, Webpack plugin

update readme copy
  packages/nuxt-plugin/README.md
  packages/remix-vite-plugin/README.md
  packages/rollup-plugin/README.md
  packages/solidstart-plugin/README.md
  packages/sveltekit-plugin/README.md
  packages/vite-plugin/README.md
  packages/webpack-plugin/README.md
Due: Rollup plugin, Vite plugin, Webpack plugin

remove tokenless example, as it only works with forks
  .github/workflows/ci.yml
  examples/tokenless/.eslintrc.cjs
  examples/tokenless/.gitignore
  examples/tokenless/README.md
  examples/tokenless/index.html
  examples/tokenless/package.json
  examples/tokenless/public/vite.svg
  examples/tokenless/src/App.css
  examples/tokenless/src/App.tsx
  examples/tokenless/src/IndexedLazyComponent/IndexedLazyComponent.tsx
  examples/tokenless/src/IndexedLazyComponent/index.ts
  examples/tokenless/src/LazyComponent/LazyComponent.tsx
  examples/tokenless/src/assets/react.svg
  examples/tokenless/src/index.css
  examples/tokenless/src/main.tsx
  examples/tokenless/src/vite-env.d.ts
  examples/tokenless/tsconfig.json
  examples/tokenless/tsconfig.node.json
  examples/tokenless/vite.config.ts
Due: none

update readme with new examples
  packages/nuxt-plugin/README.md
  packages/remix-vite-plugin/README.md
  packages/rollup-plugin/README.md
  packages/solidstart-plugin/README.md
  packages/sveltekit-plugin/README.md
  packages/vite-plugin/README.md
  packages/webpack-plugin/README.md
Due: Rollup plugin, Vite plugin, Webpack plugin

add in new errors for OIDC related errors
  packages/bundler-plugin-core/src/errors/BadOIDCServiceError.ts
  packages/bundler-plugin-core/src/errors/FailedOIDCFetch.ts
Due: Plugin core

add in OIDC config object
  packages/bundler-plugin-core/src/types.ts
  packages/bundler-plugin-core/src/utils/__tests__/normalizeOptions.test.ts
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
Due: Plugin core

add in @actions/core package
  packages/bundler-plugin-core/package.json
  pnpm-lock.yaml
Due: Plugin core

add in example oidc app
  .github/workflows/ci.yml
  examples/oidc/.eslintrc.cjs
  examples/oidc/.gitignore
  examples/oidc/README.md
  examples/oidc/index.html
  examples/oidc/package.json
  examples/oidc/public/vite.svg
  examples/oidc/src/App.css
  examples/oidc/src/App.tsx
  examples/oidc/src/IndexedLazyComponent/IndexedLazyComponent.tsx
  examples/oidc/src/IndexedLazyComponent/index.ts
  examples/oidc/src/LazyComponent/LazyComponent.tsx
  examples/oidc/src/assets/react.svg
  examples/oidc/src/index.css
  examples/oidc/src/main.tsx
  examples/oidc/src/vite-env.d.ts
  examples/oidc/tsconfig.json
  examples/oidc/tsconfig.node.json
  examples/oidc/vite.config.ts
  packages/bundler-plugin-core/src/types.ts
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
Due: Plugin core

update lock file with new example
  pnpm-lock.yaml
Due: none

testing with id-token permission
  .github/workflows/ci.yml
Due: none

update Output to store oidc values and pass this to getPreSignedURL
  packages/bundler-plugin-core/src/utils/Output.ts
Due: Plugin core

fix msw mock in index.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/index.test.ts
Due: Plugin core

add in quotes to make url more apparent
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

update getPreSignedURL to support OIDC uploads
  packages/bundler-plugin-core/src/utils/__tests__/getPreSignedURL.test.ts
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

add in example for GH OIDC
  packages/nextjs-webpack-plugin/README.md
  packages/nuxt-plugin/README.md
  packages/remix-vite-plugin/README.md
  packages/rollup-plugin/README.md
  packages/solidstart-plugin/README.md
  packages/sveltekit-plugin/README.md
  packages/vite-plugin/README.md
  packages/webpack-plugin/README.md
Due: Rollup plugin, Vite plugin, Webpack plugin

add in changeset
  .changeset/lucky-seals-admire.md
Due: none

initial commit
  .changeset/fair-colts-invent.md
  examples/nuxt/package.json
  examples/sveltekit/package.json
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/vite-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  integration-tests/package.json
  integration-tests/test-apps/nuxt/package.json
  integration-tests/test-apps/sveltekit/package.json
  pnpm-lock.yaml
Due: none

add ts expect error
  integration-tests/fixtures/generate-bundle-stats/remix/vite-base.config.ts
Due: none

update changeset
  .changeset/fair-colts-invent.md
Due: none

[vuln] Update nuxt to 3.12.4 (#162)
  .changeset/fair-colts-invent.md
  examples/nuxt/package.json
  examples/sveltekit/package.json
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/vite-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/sveltekit/vite-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  integration-tests/package.json
  integration-tests/test-apps/nuxt/package.json
  integration-tests/test-apps/sveltekit/package.json
  pnpm-lock.yaml
Due: none

remove redundent tokens from ci
  .github/workflows/ci.yml
Due: none

remove reassignment of url
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

rename ODICEndpoint to be github audience
  packages/bundler-plugin-core/src/types.ts
  packages/bundler-plugin-core/src/utils/Output.ts
  packages/bundler-plugin-core/src/utils/__tests__/getPreSignedURL.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/normalizeOptions.test.ts
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
Due: Plugin core

swap from positive to nonegative to allow >= 0
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
Due: Plugin core

add Error to failed oidc fetch error
  packages/bundler-plugin-core/src/errors/FailedOIDCFetchError.ts
  packages/bundler-plugin-core/src/utils/__tests__/getPreSignedURL.test.ts
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

remove redundent assignment
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

Path conditions:
  Plugin core: any of: packages/bundler-plugin-core/**
  Rollup plugin: any of: packages/rollup-plugin/**
  Vite plugin: any of: packages/vite-plugin/**
  Webpack plugin: any of: packages/webpack-plugin/**
