Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

checking sentrt debug logs
  packages/bundler-plugin-core/src/sentry.ts
Due: Plugin core

create telem plugin
  packages/bundler-plugin-core/src/plugins/telemetry.ts
Due: Plugin core

use telem plugin
  packages/bundler-plugin-core/src/index.ts
Due: Plugin core

inline replace in all plugin build configs
  packages/bundler-plugin-core/build.config.ts
  packages/rollup-plugin/build.config.ts
  packages/vite-plugin/build.config.ts
  packages/webpack-plugin/build.config.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

maybe we just need to reassign the options?
  packages/bundler-plugin-core/build.config.ts
  packages/rollup-plugin/build.config.ts
  packages/vite-plugin/build.config.ts
  packages/webpack-plugin/build.config.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

that didn't work
  packages/bundler-plugin-core/build.config.ts
  packages/rollup-plugin/build.config.ts
  packages/vite-plugin/build.config.ts
  packages/webpack-plugin/build.config.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

small tweaks post rebase
  packages/bundler-plugin-core/src/index.ts
  packages/bundler-plugin-core/src/utils/__tests__/normalizeOptions.test.ts
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
  pnpm-lock.yaml
Due: Plugin core

small fix for telemetry type issue
  packages/bundler-plugin-core/src/bundle-analysis/__tests__/bundleAnalysisPluginFactory.test.ts
Due: Plugin core

add in typedoc package
  package.json
  packages/bundler-plugin-core/package.json
  packages/rollup-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
  pnpm-lock.yaml
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

update eslint config
  .eslintrc.js
Due: none

add in typedoc plugin
  typedoc/plugin-remove-references.js
Due: none

add in script to deploy docs
  scripts/publish-docs.js
Due: none

add in typedoc configs
  packages/bundler-plugin-core/typedoc.json
  packages/rollup-plugin/typedoc.json
  packages/vite-plugin/typedoc.json
  packages/webpack-plugin/typedoc.json
  typedoc.base.json
  typedoc.json
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

setup JSDoc comments to work properly so we have some docs appear
  packages/bundler-plugin-core/src/types.ts
  packages/rollup-plugin/src/index.ts
  packages/vite-plugin/src/index.ts
  packages/webpack-plugin/src/index.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

add in step to publish docs
  .github/workflows/publish.yml
Due: none

bump to beta three to see if we get a better error message
  packages/bundler-plugin-core/package.json
  packages/rollup-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
  pnpm-lock.yaml
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

feat: Auto gen type docs via TypeDoc (#95)
  .eslintrc.js
  .github/workflows/publish.yml
  package.json
  packages/bundler-plugin-core/package.json
  packages/bundler-plugin-core/src/types.ts
  packages/bundler-plugin-core/typedoc.json
  packages/rollup-plugin/package.json
  packages/rollup-plugin/src/index.ts
  packages/rollup-plugin/typedoc.json
  packages/vite-plugin/package.json
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/typedoc.json
  packages/webpack-plugin/package.json
  packages/webpack-plugin/src/index.ts
  packages/webpack-plugin/typedoc.json
  pnpm-lock.yaml
  scripts/publish-docs.js
  typedoc.base.json
  typedoc.json
  typedoc/plugin-remove-references.js
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

add in workflow yaml
  .github/workflows/typedoc_manual_deploy.yml
Due: none

slight tweak to cache clean up workflow name
  .github/workflows/cache_cleanup.yml
Due: none

build: Add in TypeDoc manual workflow yaml (#104)
  .github/workflows/cache_cleanup.yml
  .github/workflows/typedoc_manual_deploy.yml
Due: none

we actually need to build the packages before we build the docs
  scripts/publish-docs.js
Due: none

move to mjs
  scripts/publish-docs.mjs
Due: none

slight tweak to eslint config
  .eslintrc.js
Due: none

update node command
  .github/workflows/typedoc_manual_deploy.yml
Due: none

Add blurb on git perms
  .github/workflows/typedoc_manual_deploy.yml
Due: none

No token in netrc at this time
  .github/workflows/typedoc_manual_deploy.yml
Due: none

use Trents trick
  .github/workflows/typedoc_manual_deploy.yml
Due: none

Add write perms to this job
  .github/workflows/typedoc_manual_deploy.yml
Due: none

Update publish-docs.mjs
  scripts/publish-docs.mjs
Due: none

Adding token auth
  .github/workflows/typedoc_manual_deploy.yml
Due: none

Removing git setup
  .github/workflows/typedoc_manual_deploy.yml
Due: none

Adding releaser user usage
  .github/workflows/typedoc_manual_deploy.yml
Due: none

Use ssh again
  scripts/publish-docs.mjs
Due: none

use checkout
  scripts/publish-docs.mjs
Due: none

configure git
  scripts/publish-docs.mjs
Due: none

git in the correct order
  scripts/publish-docs.mjs
Due: none

correcter order
  scripts/publish-docs.mjs
Due: none

global
  scripts/publish-docs.mjs
Due: none

git setup
  .github/workflows/typedoc_manual_deploy.yml
Due: none

meta: Update docs
  assets/highlight.css
  assets/icons.js
  assets/icons.svg
  assets/main.js
  assets/navigation.js
  assets/search.js
  assets/style.css
  functions/_codecov_rollup_plugin.codecovRollupPlugin.html
  functions/_codecov_vite_plugin.codecovVitePlugin.html
  functions/_codecov_webpack_plugin.codecovWebpackPlugin.html
  index.html
  interfaces/_codecov_bundler_plugin_core.Options.html
  interfaces/_codecov_bundler_plugin_core.UploadOverrides.html
  modules/_codecov_bundler_plugin_core.html
  modules/_codecov_rollup_plugin.html
  modules/_codecov_vite_plugin.html
  modules/_codecov_webpack_plugin.html
Due: none

Path conditions:
  Plugin core: any of: packages/bundler-plugin-core/**
  Rollup plugin: any of: packages/rollup-plugin/**
  Vite plugin: any of: packages/vite-plugin/**
  Webpack plugin: any of: packages/webpack-plugin/**
