Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Bundle Analyzer, Plugin core, Next.js Webpack plugin, Nuxt plugin, Remix Vite plugin, Rollup plugin, SolidStart plugin, SvelteKit plugin, Vite plugin, Webpack plugin

chore: This is a test
  README.md
Due: none

this is another commit
  README.md
Due: none

chore: Add repository fields
  packages/astro-plugin/package.json
  packages/bundle-analyzer/package.json
  packages/bundler-plugin-core/package.json
  packages/nextjs-webpack-plugin/package.json
  packages/nuxt-plugin/package.json
  packages/remix-vite-plugin/package.json
  packages/rollup-plugin/package.json
  packages/solidstart-plugin/package.json
  packages/sveltekit-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
Due: Plugin core, Next.js Webpack plugin, Nuxt plugin, Remix Vite plugin, Rollup plugin, SolidStart plugin, SvelteKit plugin, Vite plugin, Webpack plugin

add support for Vite 7
  packages/vite-plugin/package.json
Due: Vite plugin

fix: add lock file
  pnpm-lock.yaml
Due: none

security: add patched next devDependency for nextjs-webpack-plugin
  packages/nextjs-webpack-plugin/package.json
  pnpm-lock.yaml
Due: Next.js Webpack plugin

security: bump Remix packages to ^2.17.2 in example app
  examples/remix/package.json
  pnpm-lock.yaml
Due: none

security: bump Remix packages to ^2.17.2 in integration test app
  integration-tests/test-apps/remix/package.json
  pnpm-lock.yaml
Due: none

security: bump Remix packages to ^2.17.2 in integration-tests
  integration-tests/package.json
  pnpm-lock.yaml
Due: none

security: bump next to 15.2.6 in next-js-15 example
  examples/next-js-15/package.json
  pnpm-lock.yaml
Due: none

ci: test Node 20.x, 22.x, and 24.x; drop Node 18.x
  .github/workflows/ci.yml
Due: none

security: bump next to 15.2.6 in next-js-15 example (#297)
  examples/next-js-15/package.json
  pnpm-lock.yaml
Due: none

fix(security): widen Dependabot scope and pin patched Next for webpack plugin
  .github/dependabot.yml
  packages/nextjs-webpack-plugin/package.json
  pnpm-lock.yaml
Due: Next.js Webpack plugin

fix(security): widen Dependabot scope and pin patched Next for webpac… (#309)
  .github/dependabot.yml
  packages/nextjs-webpack-plugin/package.json
  pnpm-lock.yaml
Due: Next.js Webpack plugin

ci: add Node 22.x and 24.x integration tests; drop Node 18.x (#308)
  .github/workflows/ci.yml
Due: none

fix: bump deps
  pnpm-lock.yaml
Due: none

security: bump Remix to ^2.17.2 in integration-tests and test app
  integration-tests/package.json
  integration-tests/test-apps/remix/package.json
  pnpm-lock.yaml
Due: none

security: bump Remix packages to ^2.17.2 (example app, integration-tests, test app) (#299)
  examples/remix/package.json
  integration-tests/package.json
  integration-tests/test-apps/remix/package.json
  pnpm-lock.yaml
Due: none

security: raise Nuxt to ~3.16.0 for patched releases
  examples/nuxt/package.json
  integration-tests/package.json
  integration-tests/test-apps/nuxt/package.json
  packages/nuxt-plugin/package.json
  pnpm-lock.yaml
Due: Nuxt plugin

test(integration): fix Nuxt 3.16 bundle-stats snapshots
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/nuxt/nuxt-plugin.test.ts
Due: none

chore: align Nuxt semver ranges with ^ convention in package.json
  examples/nuxt/package.json
  integration-tests/package.json
  integration-tests/test-apps/nuxt/package.json
  packages/nuxt-plugin/package.json
  pnpm-lock.yaml
Due: Nuxt plugin

ci: fix GitHub Actions permissions key (content → contents)
  .github/workflows/test-api-ci.yml
  .github/workflows/test-api-push.yml
  .github/workflows/typedoc-manual-deploy.yml
Due: none

security: raise Nuxt to ~3.16.0 for patched releases (#302)
  examples/nuxt/package.json
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/nuxt/nuxt-plugin.test.ts
  integration-tests/package.json
  integration-tests/test-apps/nuxt/package.json
  packages/nuxt-plugin/package.json
  pnpm-lock.yaml
Due: Nuxt plugin

ci: fix invalid `permissions` key in three workflows (#316)
  .github/workflows/test-api-ci.yml
  .github/workflows/test-api-push.yml
  .github/workflows/typedoc-manual-deploy.yml
Due: none

chore: require Node.js >= 20 in package engines
  examples/bundle-analyzer-cli/package.json
  examples/bundle-analyzer-lib-cjs/package.json
  examples/bundle-analyzer-lib-esm/package.json
  examples/next-js/package.json
  examples/oidc/package.json
  examples/rollup/package.json
  examples/solidstart/package.json
  examples/tokenless/package.json
  examples/vite/package.json
  examples/webpack/package.json
  integration-tests/test-apps/solidstart/package.json
  package.json
  packages/astro-plugin/package.json
  packages/bundle-analyzer/package.json
  packages/bundler-plugin-core/package.json
  packages/nextjs-webpack-plugin/package.json
  packages/nuxt-plugin/package.json
  packages/remix-vite-plugin/package.json
  packages/rollup-plugin/package.json
  packages/solidstart-plugin/package.json
  packages/sveltekit-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
Due: Plugin core, Next.js Webpack plugin, Nuxt plugin, Remix Vite plugin, Rollup plugin, SolidStart plugin, SvelteKit plugin, Vite plugin, Webpack plugin

chore: fix ESLint/prettier issues from lint run
  packages/astro-plugin/vitest.config.ts
  packages/bundle-analyzer/vitest.config.ts
  packages/bundler-plugin-core/src/sentry/transports.ts
  packages/bundler-plugin-core/src/types.ts
  packages/nextjs-webpack-plugin/vitest.config.ts
  packages/nuxt-plugin/vitest.config.ts
  packages/remix-vite-plugin/vitest.config.ts
  packages/rollup-plugin/vitest.config.ts
  packages/solidstart-plugin/vitest.config.ts
  packages/sveltekit-plugin/vitest.config.ts
  packages/vite-plugin/vitest.config.ts
  packages/webpack-plugin/vitest.config.ts
Due: Plugin core, Next.js Webpack plugin, Nuxt plugin, Remix Vite plugin, Rollup plugin, SolidStart plugin, SvelteKit plugin, Vite plugin, Webpack plugin

security: bump lint-staged to ^16.4.0
  package.json
  pnpm-lock.yaml
Due: none

security: bump @changesets/cli to ^2.30.0
  package.json
  pnpm-lock.yaml
Due: none

security: bump solid-js to ^1.9.4 in SolidStart apps
  examples/solidstart/package.json
  integration-tests/test-apps/solidstart/package.json
  pnpm-lock.yaml
Due: none

security: bump serve to ^14.2.6 in rollup and bundle-analyzer examples
  examples/bundle-analyzer-cli/package.json
  examples/rollup/package.json
  pnpm-lock.yaml
Due: none

security: pnpm override cross-spawn to ^7.0.6
  package.json
  pnpm-lock.yaml
Due: none

security: bump lint-staged to ^16.4.0 (#303)
  package.json
  pnpm-lock.yaml
Due: none

chore(deps): bump next versions
  examples/next-js-15/package.json
  examples/next-js/package.json
  integration-tests/test-apps/nextjs/package.json
  pnpm-lock.yaml
Due: none

chore(bundler-plugin-core): bump @actions/core and @actions/github
  .changeset/bump-actions-toolkit.md
  packages/bundler-plugin-core/package.json
  packages/bundler-plugin-core/src/utils/providers/__tests__/GitHubActions.test.ts
  pnpm-lock.yaml
Due: Plugin core

fix(bundler-plugin-core): bundle @actions/* for CJS dist
  .changeset/bump-actions-toolkit.md
  packages/bundler-plugin-core/build.config.ts
Due: Plugin core

chore(bundler-plugin-core): bump @actions/core and @actions/github (#322)
  .changeset/bump-actions-toolkit.md
  packages/bundler-plugin-core/build.config.ts
  packages/bundler-plugin-core/package.json
  packages/bundler-plugin-core/src/utils/providers/__tests__/GitHubActions.test.ts
  pnpm-lock.yaml
Due: Plugin core

fix: update 2.0.0 changeset
  .changeset/polite-dots-pump.md
Due: none

fix: update 2.0.0 changeset (#323)
  .changeset/polite-dots-pump.md
Due: none

Path conditions:
  Bundle Analyzer: any of: packages/bundler-analyzer/**, but not: examples/*, integration-tests/*
  Plugin core: any of: packages/bundler-plugin-core/**, but not: examples/*, integration-tests/*
  Next.js Webpack plugin: any of: packages/nextjs-webpack-plugin/**, but not: examples/*, integration-tests/*
  Nuxt plugin: any of: packages/nuxt-plugin/**, but not: examples/*, integration-tests/*
  Remix Vite plugin: any of: packages/remix-vite-plugin/**, but not: examples/*, integration-tests/*
  Rollup plugin: any of: packages/rollup-plugin/**, but not: examples/*, integration-tests/*
  SolidStart plugin: any of: packages/solidstart-plugin/**, but not: examples/*, integration-tests/*
  SvelteKit plugin: any of: packages/sveltekit-plugin/**, but not: examples/*, integration-tests/*
  Vite plugin: any of: packages/vite-plugin/**, but not: examples/*, integration-tests/*
  Webpack plugin: any of: packages/webpack-plugin/**, but not: examples/*, integration-tests/*
