Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

codecov.yml:

comment:
  layout: "condensed_header, condensed_files, components, condensed_footer"

ai_pr_review:
  enabled: true

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: package_core
      name: Plugin core
      paths:
        - packages/bundler-plugin-core/**
    - component_id: package_rollup
      name: Rollup plugin
      paths:
        - packages/rollup-plugin/**
    - component_id: package_vite
      name: Vite plugin
      paths:
        - packages/vite-plugin/**
    - component_id: package_webpack
      name: Webpack plugin
      paths:
        - packages/webpack-plugin/**

update to just import webpack
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Webpack plugin

update changeset message
  .changeset/flat-coats-jump.md
Due: none

ref: Remove references to Webpack 4 (#43)
  .changeset/flat-coats-jump.md
  packages/webpack-plugin/package.json
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
  pnpm-lock.yaml
Due: Webpack plugin

update changeset publish command to also build the packages
  package.json
Due: none

build: Update publish command to also build the packages (#45)
  package.json
Due: none

rename option to uploadOverrides
  packages/bundler-plugin-core/src/types.ts
Due: Plugin core

add changeset to bump version
  .changeset/new-chefs-fold.md
Due: none

move to using snapshot tests
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-v3-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-v4-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-v3-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-v4-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-v4-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-v5-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v4-plugin.test.mts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v4-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v5-plugin.test.mts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v5-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-v5-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-v5-plugin.test.ts
  integration-tests/jest.config.ts
Due: none

add bundle name to webpack example
  examples/webpack/webpack.config.js
Due: none

need to add duration directly in webpack plugin because buildEnd is called after the assests are emitted
  .changeset/breezy-horses-rule.md
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Webpack plugin

remove url from uploadOverrides and fix up some type docs
  packages/bundler-plugin-core/src/types.ts
Due: Plugin core

fix up type issue
  packages/bundler-plugin-core/src/bundle-analysis/bundleAnalysisPluginFactory.ts
Due: Plugin core

update changeset message
  .changeset/new-chefs-fold.md
Due: none

remove url from tests where it's not needed
  packages/bundler-plugin-core/src/utils/providers/__tests__/CircleCI.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/CloudflarePages.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Netlify.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Render.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Vercel.test.ts
  packages/bundler-plugin-core/test-utils/helpers.ts
Due: Plugin core

remove globalUploadToken and repoToken in favour of just uploadToken
  .changeset/new-chefs-fold.md
  packages/bundler-plugin-core/src/bundle-analysis/bundleAnalysisPluginFactory.ts
  packages/bundler-plugin-core/src/types.ts
  packages/bundler-plugin-core/src/utils/__tests__/getPreSignedURL.test.ts
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

feat: Add integration tests for older bundler versions (#44)
  .changeset/breezy-horses-rule.md
  .github/workflows/ci.yml
  examples/webpack/webpack.config.js
  integration-tests/fixtures/generate-bundle-stats/rollup-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-v3-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-v4-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-v3-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-v4-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-v4-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-v5-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v4-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v5-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/webpack-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-v5-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-v5-plugin.test.ts
  integration-tests/package.json
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
  pnpm-lock.yaml
Due: Webpack plugin

rename step for running e2e tests
  .github/workflows/ci.yml
Due: none

ref: Rename uploader overrides option (#47)
  .changeset/new-chefs-fold.md
  .github/workflows/ci.yml
  packages/bundler-plugin-core/src/bundle-analysis/bundleAnalysisPluginFactory.ts
  packages/bundler-plugin-core/src/types.ts
  packages/bundler-plugin-core/src/utils/__tests__/getPreSignedURL.test.ts
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/CircleCI.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/CloudflarePages.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Netlify.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Render.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Vercel.test.ts
  packages/bundler-plugin-core/test-utils/helpers.ts
Due: Plugin core

update rollup readme
  packages/rollup-plugin/README.md
Due: Rollup plugin

update vite readme
  packages/vite-plugin/README.md
Due: Vite plugin

update webpack readme
  packages/webpack-plugin/README.md
Due: Webpack plugin

docs: Update readme examples (#49)
  packages/rollup-plugin/README.md
  packages/vite-plugin/README.md
  packages/webpack-plugin/README.md
Due: Rollup plugin, Vite plugin, Webpack plugin

'chore(ci): add fossa workflow'
  .github/workflows/enforce-license-compliance.yml
Due: none

chore(ci): add fossa workflow (#51)
  .github/workflows/enforce-license-compliance.yml
Due: none

add local upload script to gitignore
  .gitignore
Due: none

remove old fossabot code
  .github/workflows/ci.yml
Due: none

adjust peer dep versions
  packages/rollup-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
Due: Rollup plugin, Vite plugin, Webpack plugin

add in changeset for peer dep change
  .changeset/pretty-ghosts-arrive.md
Due: none

clean up deps in examples and integration tests package jsons
  examples/rollup/package.json
  examples/vite/package.json
  examples/webpack/package.json
  integration-tests/package.json
  pnpm-lock.yaml
Due: none

write workflow to upload stats info
  .github/workflows/upload_example_stats.yml
Due: none

create staging version of the config files
  examples/rollup/package.json
  examples/rollup/rollup.config.staging.ts
  examples/vite/package.json
  examples/vite/vite.config.staging.ts
  examples/webpack/package.json
  examples/webpack/webpack.config.staging.js
Due: none

run the staging build command
  .github/workflows/upload_example_stats.yml
Due: none

move the test api over to bun, and save stats to in-memory sqlite db
  integration-tests/test-api/package.json
  integration-tests/test-api/src/index.ts
Due: none

add in bun lock file
  integration-tests/test-api/bun.lockb
Due: none

update docker file to use bun
  integration-tests/test-api/Dockerfile
Due: none

remove test-api from pnpm workspace
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

update change log message to be more descriptive
  .changeset/pretty-ghosts-arrive.md
Due: none

remove staging configs
  examples/rollup/package.json
  examples/rollup/rollup.config.staging.ts
  examples/vite/package.json
  examples/vite/vite.config.staging.ts
  examples/webpack/package.json
  examples/webpack/webpack.config.staging.js
Due: none

set envs in workflow
  .github/workflows/upload_example_stats.yml
Due: none

grab new env values
  examples/next-js/next.config.js
  examples/rollup/rollup.config.ts
  examples/vite/vite.config.ts
  examples/webpack/webpack.config.js
Due: none
