Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

try just running nuxt integration tests
  .github/workflows/ci.yml
Due: none

try rolling back version of bun
  .github/workflows/ci.yml
  integration-tests/package.json
  pnpm-lock.yaml
Due: none

be explicity of the exact file we want to run the test against
  .github/workflows/ci.yml
  integration-tests/package.json
  pnpm-lock.yaml
Due: none

remove filter to see if it's happier
  .github/workflows/ci.yml
  integration-tests/package.json
Due: none

rollback from bun 1.1.x
  integration-tests/package.json
  pnpm-lock.yaml
Due: none

remove --ignore-scripts ...
  .github/workflows/ci.yml
  integration-tests/package.json
  pnpm-lock.yaml
Due: none

missed a lock file
  pnpm-lock.yaml
Due: none

update bundler plugin to latest version
  packages/bundler-plugin-core/package.json
  packages/nuxt-plugin/package.json
  packages/rollup-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
  pnpm-lock.yaml
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

rollback version from beta 6 to 5
  packages/bundler-plugin-core/package.json
  packages/rollup-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

rename internal plugin to include bundle analysis
  packages/rollup-plugin/src/index.ts
  packages/vite-plugin/src/index.ts
  packages/webpack-plugin/src/index.ts
Due: Rollup plugin, Vite plugin, Webpack plugin

update nuxt plugin to be a nuxt module
  examples/nuxt/nuxt.config.ts
  integration-tests/fixtures/generate-bundle-stats/nuxt/nuxt-base.config.ts
  packages/nuxt-plugin/package.json
  packages/nuxt-plugin/src/index.ts
Due: none

update lock file
  pnpm-lock.yaml
Due: none

add in vscode settings
  .vscode/settings.json
Due: none

udpate some of the docs around nuxt plugin
  packages/nuxt-plugin/README.md
  packages/nuxt-plugin/src/index.ts
Due: none

also check type errors in integration tests
  package.json
Due: none

don't wrap in extra quotes
  packages/bundler-plugin-core/build.config.ts
  packages/nuxt-plugin/build.config.ts
  packages/rollup-plugin/build.config.ts
  packages/vite-plugin/build.config.ts
  packages/webpack-plugin/build.config.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

don't check types for test api
  integration-tests/tsconfig.json
Due: none

add in reminder to remove code once we hard fail on bundle name errors
  packages/nuxt-plugin/src/nuxt-bundle-analysis/nuxtBundleAnalysisPlugin.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Rollup plugin, Vite plugin, Webpack plugin

clean up some of the basic stuff in Output
  packages/bundler-plugin-core/src/utils/Output.ts
Due: Plugin core

bump vite version
  examples/vite/package.json
  packages/nuxt-plugin/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
Due: Vite plugin

remove redundent nullish return
  packages/bundler-plugin-core/src/utils/Output.ts
Due: Plugin core

assign properties directly rather than storing object
  packages/bundler-plugin-core/src/utils/Output.ts
Due: Plugin core

rework how output sets the bundle name
  packages/bundler-plugin-core/src/utils/Output.ts
  packages/bundler-plugin-core/src/utils/__tests__/Output.test.ts
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/getBundleName.test.ts
  packages/nuxt-plugin/src/nuxt-bundle-analysis/getBundleName.ts
  packages/nuxt-plugin/src/nuxt-bundle-analysis/nuxtBundleAnalysisPlugin.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

fix last remaining lint and typechecking issues
  examples/vite/package.json
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/vite-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-plugin.test.ts
  integration-tests/package.json
  package.json
  packages/nuxt-plugin/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
  vitest.shared.ts
Due: Vite plugin

add in example sveltekit app
  examples/sveltekit/.gitignore
  examples/sveltekit/.npmrc
  examples/sveltekit/README.md
  examples/sveltekit/package.json
  examples/sveltekit/src/app.d.ts
  examples/sveltekit/src/app.html
  examples/sveltekit/src/lib/images/github.svg
  examples/sveltekit/src/lib/images/svelte-logo.svg
  examples/sveltekit/src/lib/images/svelte-welcome.png
  examples/sveltekit/src/lib/images/svelte-welcome.webp
  examples/sveltekit/src/routes/+layout.svelte
  examples/sveltekit/src/routes/+page.svelte
  examples/sveltekit/src/routes/+page.ts
  examples/sveltekit/src/routes/Counter.svelte
  examples/sveltekit/src/routes/Header.svelte
  examples/sveltekit/src/routes/about/+page.svelte
  examples/sveltekit/src/routes/about/+page.ts
  examples/sveltekit/src/routes/styles.css
  examples/sveltekit/src/routes/sverdle/+page.server.ts
  examples/sveltekit/src/routes/sverdle/+page.svelte
  examples/sveltekit/src/routes/sverdle/game.ts
  examples/sveltekit/src/routes/sverdle/how-to-play/+page.svelte
  examples/sveltekit/src/routes/sverdle/how-to-play/+page.ts
  examples/sveltekit/src/routes/sverdle/reduced-motion.ts
  examples/sveltekit/src/routes/sverdle/words.server.ts
  examples/sveltekit/static/favicon.png
  examples/sveltekit/static/robots.txt
  examples/sveltekit/svelte.config.js
  examples/sveltekit/tsconfig.json
  examples/sveltekit/vite.config.ts
Due: none

add in example sveltekit app for integration tests
  integration-tests/test-apps/sveltekit/.gitignore
  integration-tests/test-apps/sveltekit/package.json
  integration-tests/test-apps/sveltekit/src/app.html
  integration-tests/test-apps/sveltekit/src/lib/images/github.svg
  integration-tests/test-apps/sveltekit/src/lib/images/svelte-logo.svg
  integration-tests/test-apps/sveltekit/src/lib/images/svelte-welcome.png
  integration-tests/test-apps/sveltekit/src/lib/images/svelte-welcome.webp
  integration-tests/test-apps/sveltekit/src/routes/+layout.svelte
  integration-tests/test-apps/sveltekit/src/routes/+page.js
  integration-tests/test-apps/sveltekit/src/routes/+page.svelte
  integration-tests/test-apps/sveltekit/src/routes/Counter.svelte
  integration-tests/test-apps/sveltekit/src/routes/Header.svelte
  integration-tests/test-apps/sveltekit/src/routes/about/+page.js
  integration-tests/test-apps/sveltekit/src/routes/about/+page.svelte
  integration-tests/test-apps/sveltekit/src/routes/styles.css
  integration-tests/test-apps/sveltekit/src/routes/sverdle/+page.server.js
  integration-tests/test-apps/sveltekit/src/routes/sverdle/+page.svelte
  integration-tests/test-apps/sveltekit/src/routes/sverdle/game.js
  integration-tests/test-apps/sveltekit/src/routes/sverdle/how-to-play/+page.js
  integration-tests/test-apps/sveltekit/src/routes/sverdle/how-to-play/+page.svelte
  integration-tests/test-apps/sveltekit/src/routes/sverdle/reduced-motion.js
  integration-tests/test-apps/sveltekit/src/routes/sverdle/words.server.js
  integration-tests/test-apps/sveltekit/static/favicon.png
  integration-tests/test-apps/sveltekit/static/robots.txt
  integration-tests/test-apps/sveltekit/svelte.config.js
Due: none

add in new sveltekit plugin
  packages/sveltekit-plugin/LICENSE
  packages/sveltekit-plugin/README.md
  packages/sveltekit-plugin/build.config.ts
  packages/sveltekit-plugin/package.json
  packages/sveltekit-plugin/src/index.ts
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/getBundleName.test.ts
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/sveltekitBundleAnalysisPlugin.test.ts
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/getBundleName.ts
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/sveltekitBundleAnalysisPlugin.ts
  packages/sveltekit-plugin/tsconfig.json
  packages/sveltekit-plugin/typedoc.json
  packages/sveltekit-plugin/vitest.config.ts
Due: none

add in changeset
  .changeset/light-ants-thank.md
Due: none

slight tweak to gen config util
  integration-tests/fixtures/generate-bundle-stats/nuxt/nuxt-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-plugin.test.ts
  integration-tests/scripts/gen-config.ts
Due: none

add in integration tests for sveltekit
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/sveltekit-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/sveltekit/vite-base.config.ts
  integration-tests/package.json
  pnpm-workspace.yaml
Due: none

update eslint config
  .eslintrc.js
Due: none

updates to the lock file
  pnpm-lock.yaml
Due: none

bump license version
  .changeset/orange-lemons-run.md
  LICENSE
  packages/bundler-plugin-core/LICENSE
  packages/nuxt-plugin/LICENSE
  packages/rollup-plugin/LICENSE
  packages/sveltekit-plugin/LICENSE
  packages/vite-plugin/LICENSE
  packages/webpack-plugin/LICENSE
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

mark internal unpligin plugins as internal and remove from typedocs
  packages/rollup-plugin/src/index.ts
  packages/vite-plugin/src/index.ts
  packages/webpack-plugin/src/index.ts
  typedoc.base.json
Due: Rollup plugin, Vite plugin, Webpack plugin

update CI pipeline
  .github/workflows/ci.yml
Due: none

small tweak to sveltekit integration tests
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/sveltekit-plugin.test.ts
Due: none

run e2e tests individually for each plugin
  .github/workflows/ci.yml
Due: none

remove running integration tests by plugin, not noticable enough difference
  .github/workflows/ci.yml
Due: none

adjust base version for nuxt in pre.json
  .changeset/pre.json
Due: none

Path conditions:
  Plugin core: any of: packages/bundler-plugin-core/**
  Rollup plugin: any of: packages/rollup-plugin/**
  Vite plugin: any of: packages/vite-plugin/**
  Webpack plugin: any of: packages/webpack-plugin/**
