Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

codecov.yml:

comment:
  layout: "condensed_header, condensed_files, components, condensed_footer"

ai_pr_review:
  enabled: true

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: package_core
      name: Plugin core
      paths:
        - packages/bundler-plugin-core/**
    - component_id: package_rollup
      name: Rollup plugin
      paths:
        - packages/rollup-plugin/**
    - component_id: package_vite
      name: Vite plugin
      paths:
        - packages/vite-plugin/**
    - component_id: package_webpack
      name: Webpack plugin
      paths:
        - packages/webpack-plugin/**

calling preProcessBody twice seemed to cause some issues
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

remove request body from being logged
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

remove upload url from being logged
  packages/bundler-plugin-core/src/utils/fetchWithRetry.ts
Due: Plugin core

remove debug log from imports
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

update min version in package json
  examples/next-js/package.json
  integration-tests/test-apps/nextjs/package.json
Due: none

update lock file
  pnpm-lock.yaml
Due: none

remove constraint for True Tokenless
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

change logic around
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

update normalizePath
  packages/bundler-plugin-core/src/utils/normalizePath.ts
Due: Plugin core

update tests
  packages/bundler-plugin-core/src/utils/__tests__/normalizePath.test.ts
Due: Plugin core

add changeset
  .changeset/strong-readers-count.md
Due: none

small optimization to remove need for looping
  packages/bundler-plugin-core/src/utils/normalizePath.ts
Due: Plugin core

also handle underscores
  packages/bundler-plugin-core/src/utils/__tests__/normalizePath.test.ts
  packages/bundler-plugin-core/src/utils/normalizePath.ts
Due: Plugin core

fix some snapshots
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
Due: none

some simple tidy up
  packages/bundler-plugin-core/src/utils/normalizePath.ts
Due: Plugin core

remove the ai reviewer
  codecov.yml
Due: none

fix: Issue when hash length is set (#182)
  .changeset/strong-readers-count.md
  codecov.yml
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  packages/bundler-plugin-core/src/utils/__tests__/normalizePath.test.ts
  packages/bundler-plugin-core/src/utils/normalizePath.ts
Due: Plugin core

bump version numbers
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/__tests__/__snapshots__/nextJSWebpackBundleAnalysisPlugin.test.ts.snap
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/solidstart-plugin/src/solidstart-bundle-analysis/__tests__/__snapshots__/solidstartBundleAnalysisPlugin.test.ts.snap
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
Due: Rollup plugin, Vite plugin, Webpack plugin

meta: Update docs
  functions/_codecov_bundle_analyzer.index.createAndUploadReport.html
  functions/_codecov_bundler_plugin_core.handleErrors.html
  functions/_codecov_bundler_plugin_core.normalizeOptions.html
  functions/_codecov_nextjs_webpack_plugin.codecovNextJSWebpackPlugin.html
  functions/_codecov_nuxt_plugin.default.html
  functions/_codecov_remix_vite_plugin.codecovRemixVitePlugin.html
  functions/_codecov_rollup_plugin.codecovRollupPlugin.html
  functions/_codecov_solidstart_plugin.codecovSolidStartPlugin.html
  functions/_codecov_sveltekit_plugin.codecovSvelteKitPlugin.html
  functions/_codecov_vite_plugin.codecovVitePlugin.html
  functions/_codecov_webpack_plugin.codecovWebpackPlugin.html
  interfaces/_codecov_bundle_analyzer.options.BundleAnalyzerOptions.html
  interfaces/_codecov_bundler_plugin_core.Options.html
  interfaces/_codecov_bundler_plugin_core.UploadOverrides.html
  modules/_codecov_bundle_analyzer.html
  modules/_codecov_bundle_analyzer.index.html
  modules/_codecov_bundle_analyzer.options.html
  modules/_codecov_bundler_plugin_core.html
  modules/_codecov_nextjs_webpack_plugin.html
  modules/_codecov_nuxt_plugin.html
  modules/_codecov_remix_vite_plugin.html
  modules/_codecov_rollup_plugin.html
  modules/_codecov_solidstart_plugin.html
  modules/_codecov_sveltekit_plugin.html
  modules/_codecov_vite_plugin.html
  modules/_codecov_webpack_plugin.html
Due: none

Correct `GITHUB_ACTIONS` variable and add missing `GITHUB_JOB`
  packages/bundler-plugin-core/src/utils/providers/GitHubActions.ts
Due: Plugin core

update rollup versions
  examples/bundle-analyzer-cli/package.json
  examples/next-js-15/package.json
  examples/oidc/package.json
  examples/rollup/package.json
  examples/tokenless/package.json
  examples/vite/package.json
  integration-tests/test-apps/nextjs/package.json
  packages/rollup-plugin/package.json
  pnpm-lock.yaml
Due: Rollup plugin

update next integration tests to 15
  integration-tests/fixtures/generate-bundle-stats/nextjs/__snapshots__/nextjs-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/nextjs/next-base.config.mjs
  integration-tests/fixtures/generate-bundle-stats/nextjs/nextjs-plugin.test.ts
Due: none

update nuxt snapshot
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
Due: none

add in changeset
  .changeset/thirty-yaks-exercise.md
Due: none

pin the version of rollup in the rollup plugin
  pnpm-lock.yaml
Due: none

resolve some other issues after moving to next 15
  integration-tests/test-apps/nextjs/next.config.mjs
  integration-tests/test-apps/nextjs/package.json
  integration-tests/test-apps/nextjs/tsconfig.json
Due: none

remove commented out code
  integration-tests/test-apps/nextjs/next.config.mjs
Due: none

ignore eslint during build in integration test next config
  integration-tests/fixtures/generate-bundle-stats/nextjs/next-base.config.mjs
Due: none

temp disable node 18 runs
  .github/workflows/ci.yml
Due: none

doesn't seem like it was a node 18 issue
  .github/workflows/ci.yml
Due: none

bring everything to what they have in a freshly bootstrapped next app
  integration-tests/fixtures/generate-bundle-stats/nextjs/next-base.config.mjs
  integration-tests/test-apps/nextjs/.eslintrc.json
  integration-tests/test-apps/nextjs/package.json
  integration-tests/test-apps/nextjs/tsconfig.json
  pnpm-lock.yaml
Due: none

forgot to bring back the plugin
  integration-tests/test-apps/nextjs/package.json
Due: none

forgot to re-run to generate the new lock file
  pnpm-lock.yaml
Due: none

run integration tests individually to see what's actually going on
  .github/workflows/ci.yml
Due: none

didn't have correct bundle name to find
  integration-tests/test-apps/nextjs/next.config.mjs
Due: none

missed v14 to v15
  integration-tests/fixtures/generate-bundle-stats/nextjs/nextjs-plugin.test.ts
Due: none

idk maybe bumping will do the trick
  integration-tests/test-apps/nextjs/package.json
Due: none

once again forgot to update the lock file
  pnpm-lock.yaml
Due: none

update test next app to follow more like the latest generated app
  integration-tests/fixtures/generate-bundle-stats/nextjs/__snapshots__/nextjs-plugin.test.ts.snap
  integration-tests/test-apps/nextjs/app/globals.css
  integration-tests/test-apps/nextjs/app/layout.tsx
  integration-tests/test-apps/nextjs/app/page.module.css
  integration-tests/test-apps/nextjs/app/page.tsx
  integration-tests/test-apps/nextjs/next.config.mjs
Due: none

run next info before building
  integration-tests/fixtures/generate-bundle-stats/nextjs/nextjs-plugin.test.ts
Due: none
