Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

fix linting
  packages/bundler-plugin-core/src/bundle-analysis/bundleAnalysisPluginFactory.ts
  packages/bundler-plugin-core/src/types.ts
  packages/bundler-plugin-core/src/utils/sentryUtils.ts
Due: Plugin core

typo
  packages/bundler-plugin-core/src/utils/__tests__/sentryUtils.test.ts
Due: Plugin core

use sentry env variables
  packages/bundler-plugin-core/src/utils/sentryUtils.ts
Due: Plugin core

add is enabled
  packages/bundler-plugin-core/src/bundle-analysis/bundleAnalysisPluginFactory.ts
  packages/bundler-plugin-core/src/types.ts
Due: Plugin core

use relative paths
  packages/bundler-plugin-core/src/utils/sentryUtils.ts
Due: Plugin core

add option validation
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
Due: Plugin core

fix failing test
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
Due: Plugin core

typo
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
Due: Plugin core

add comment
  packages/bundler-plugin-core/src/types.ts
Due: Plugin core

remove process.env
  packages/bundler-plugin-core/src/types.ts
  packages/bundler-plugin-core/src/utils/__tests__/sentryUtils.test.ts
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
  packages/bundler-plugin-core/src/utils/sentryUtils.ts
Due: Plugin core

feat: send sentry bundle size metrics (#87)
  packages/bundler-plugin-core/src/bundle-analysis/bundleAnalysisPluginFactory.ts
  packages/bundler-plugin-core/src/types.ts
  packages/bundler-plugin-core/src/utils/__tests__/sentryUtils.test.ts
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
  packages/bundler-plugin-core/src/utils/sentryUtils.ts
Due: Plugin core

add changeset
  .changeset/itchy-wolves-accept.md
Due: none

Update itchy-wolves-accept.md
  .changeset/itchy-wolves-accept.md
Due: none

feat: add changeset for sentry metrics change (#90)
  .changeset/itchy-wolves-accept.md
Due: none

add in sections for publishing releases
  CONTRIBUTING.md
Due: none

docs: Add in sections for publishing releases (#92)
  CONTRIBUTING.md
Due: none

build: fix
  packages/bundler-plugin-core/package.json
  packages/rollup-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
  pnpm-lock.yaml
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

build: add !cancelled to test result action
  .github/workflows/ci.yml
Due: none

build: remove failing test
  packages/bundler-plugin-core/src/bundle-analysis/__tests__/bundleAnalysisPluginFactory.test.ts
Due: Plugin core

build: use codecov actions instead of CLI to upload coverage and test results
  .github/workflows/ci.yml
  packages/bundler-plugin-core/package.json
  packages/rollup-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

build: test failure
  packages/bundler-plugin-core/src/bundle-analysis/__tests__/bundleAnalysisPluginFactory.test.ts
Due: Plugin core

build: fix error where unit-test was depending on codecov-startup
  .github/workflows/ci.yml
Due: none

create sentry util for tracking traces, issues, and metrics
  packages/bundler-plugin-core/src/sentry.ts
Due: Plugin core

setup unbuild to inline replace __PACKAGE_VERSION with the current release version
  packages/bundler-plugin-core/build.config.ts
Due: Plugin core

add sentry node
  packages/bundler-plugin-core/package.json
  pnpm-lock.yaml
Due: Plugin core

add telemetry option to the plugin config
  packages/bundler-plugin-core/src/types.ts
Due: Plugin core

pass through sentry client in getPreSignedURL and uploadStats
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
  packages/bundler-plugin-core/src/utils/uploadStats.ts
Due: Plugin core

add guage metric to fetchWithRetry function
  packages/bundler-plugin-core/src/utils/fetchWithRetry.ts
Due: Plugin core

configure sentry client to be used across bundler plugins
  packages/bundler-plugin-core/src/sentry.ts
Due: Plugin core

add bundler plugin metrics to plugin factory
  packages/bundler-plugin-core/src/bundle-analysis/bundleAnalysisPluginFactory.ts
Due: Plugin core

build: use codecov actions instead of CLI to upload coverage and test results (#88)
  .github/workflows/ci.yml
  packages/bundler-plugin-core/package.json
  packages/rollup-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
  pnpm-lock.yaml
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

use new normalizeOptions function and create sentry client if conditions are met
  packages/bundler-plugin-core/src/index.ts
Due: Plugin core

add in changeset
  .changeset/rare-cats-reflect.md
Due: none

swap to using gauge factory function for fetchWithRetry, and add tags for different bundler
  packages/bundler-plugin-core/src/bundle-analysis/bundleAnalysisPluginFactory.ts
  packages/bundler-plugin-core/src/index.ts
  packages/bundler-plugin-core/src/utils/fetchWithRetry.ts
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
  packages/bundler-plugin-core/src/utils/uploadStats.ts
Due: Plugin core

fix up a few things with sentry setup
  packages/bundler-plugin-core/src/bundle-analysis/bundleAnalysisPluginFactory.ts
  packages/bundler-plugin-core/src/index.ts
  packages/bundler-plugin-core/src/sentry.ts
  packages/bundler-plugin-core/src/types.ts
Due: Plugin core

fix up bundle analysis type error in test
  packages/bundler-plugin-core/src/bundle-analysis/__tests__/bundleAnalysisPluginFactory.test.ts
Due: Plugin core

rework how sentry metrics are collected
  packages/bundler-plugin-core/src/bundle-analysis/bundleAnalysisPluginFactory.ts
  packages/bundler-plugin-core/src/index.ts
  packages/bundler-plugin-core/src/sentry.ts
  packages/bundler-plugin-core/src/utils/fetchWithRetry.ts
Due: Plugin core

fix type error
  packages/bundler-plugin-core/src/bundle-analysis/__tests__/bundleAnalysisPluginFactory.test.ts
Due: Plugin core

disable telemetry in integration tests
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-v3.config.cjs
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-v4.config.cjs
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v4.config.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v5.config.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-v5.config.cjs
Due: none

Path conditions:
  Plugin core: any of: packages/bundler-plugin-core/**
  Rollup plugin: any of: packages/rollup-plugin/**
  Vite plugin: any of: packages/vite-plugin/**
  Webpack plugin: any of: packages/webpack-plugin/**
