Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

codecov.yml:

comment:
  layout: "condensed_header, condensed_files, components, condensed_footer"

ai_pr_review:
  enabled: true

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: package_core
      name: Plugin core
      paths:
        - packages/bundler-plugin-core/**
    - component_id: package_rollup
      name: Rollup plugin
      paths:
        - packages/rollup-plugin/**
    - component_id: package_vite
      name: Vite plugin
      paths:
        - packages/vite-plugin/**
    - component_id: package_webpack
      name: Webpack plugin
      paths:
        - packages/webpack-plugin/**

Adding env vars
  .github/workflows/typedoc_manual_deploy.yml
  scripts/publish-docs.mjs
Due: none

add in this special file
  .nojekyll
Due: none

remove ds store
  .DS_Store
Due: none

meta: Update docs
  functions/_codecov_rollup_plugin.codecovRollupPlugin.html
  functions/_codecov_vite_plugin.codecovVitePlugin.html
  functions/_codecov_webpack_plugin.codecovWebpackPlugin.html
  interfaces/_codecov_bundler_plugin_core.Options.html
  interfaces/_codecov_bundler_plugin_core.UploadOverrides.html
Due: none

slight tweak to root type doc config
  typedoc.json
Due: none

slight tweak to root typedoc config
  typedoc.json
Due: none

meta: Update docs
  functions/_codecov_rollup_plugin.codecovRollupPlugin.html
  functions/_codecov_vite_plugin.codecovVitePlugin.html
  functions/_codecov_webpack_plugin.codecovWebpackPlugin.html
  index.html
  interfaces/_codecov_bundler_plugin_core.Options.html
  interfaces/_codecov_bundler_plugin_core.UploadOverrides.html
  modules/_codecov_bundler_plugin_core.html
  modules/_codecov_rollup_plugin.html
  modules/_codecov_vite_plugin.html
  modules/_codecov_webpack_plugin.html
Due: none

fix: Add build to typedoc step (#105)
  .eslintrc.js
  .github/workflows/typedoc_manual_deploy.yml
  scripts/publish-docs.mjs
  typedoc.json
Due: none

Revert "feat: send sentry bundle size metrics (#87)"
  packages/bundler-plugin-core/src/bundle-analysis/bundleAnalysisPluginFactory.ts
  packages/bundler-plugin-core/src/types.ts
  packages/bundler-plugin-core/src/utils/__tests__/sentryUtils.test.ts
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
  packages/bundler-plugin-core/src/utils/sentryUtils.ts
Due: Plugin core

update to node 20
  .github/workflows/ci.yml
Due: none

move publishing docs into a second step
  .github/workflows/publish.yml
Due: none

add in changeset
  .changeset/silent-pugs-add.md
Due: none

delete the stats file from the test api after fetching it
  integration-tests/test-api/src/index.ts
Due: none

add in a script to generate bundler config files
  integration-tests/scripts/gen-config.sh
Due: none

update bundler plugins to shorten output format and handle esm variants
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Rollup plugin, Vite plugin, Webpack plugin

update rollup integration tests to use new gen script
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-base.config.cjs
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-v3.config.cjs
Due: none

update vite integration tests to use new gen script
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/vite-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v5.config.ts
Due: none

update webpack integration tests to use new gen script
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-base.config.cjs
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-plugin.test.ts
Due: none

add in changeset
  .changeset/many-berries-grab.md
Due: none

be a bit more explicit about bundle name tests
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/vite-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-plugin.test.ts
Due: none

add comments to docs where output formats are listed
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-plugin.test.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Webpack plugin

swap to using JS function to create config files
  integration-tests/scripts/gen-config.sh
  integration-tests/scripts/gen-config.ts
Due: none

add in scripts to run bundler specific tests
  integration-tests/package.json
Due: none

clean up way of assigning values in rollup and vite
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
Due: Rollup plugin, Vite plugin

update tests to use new createConfig function
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-plugin.test.ts
Due: none

Revert "feat: send sentry bundle size metrics (#87)" (#107)
  .changeset/silent-pugs-add.md
  packages/bundler-plugin-core/src/bundle-analysis/bundleAnalysisPluginFactory.ts
  packages/bundler-plugin-core/src/types.ts
  packages/bundler-plugin-core/src/utils/__tests__/sentryUtils.test.ts
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
  packages/bundler-plugin-core/src/utils/sentryUtils.ts
Due: Plugin core

clean up gen-config file a tad
  integration-tests/scripts/gen-config.ts
Due: none

rename file to use kebab case
  .github/workflows/typedoc-manual-deploy.yml
Due: none

remove redundent cache steps
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/test-api-ci.yml
Due: none

clean up a couple step titles to make them easier to understand in github
  .github/workflows/ci.yml
Due: none

feat: Extend es to esm (#109)
  .changeset/many-berries-grab.md
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-base.config.cjs
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-v3.config.cjs
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/vite-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v5.config.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-base.config.cjs
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-plugin.test.ts
  integration-tests/package.json
  integration-tests/scripts/gen-config.ts
  integration-tests/test-api/src/index.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Rollup plugin, Vite plugin, Webpack plugin

remove rules from codecov.yml, because most of our tests are done via integration there's no real way to collect coverage on that
  codecov.yml
Due: none

update normalizePath to handle base64 characters and dashes
  packages/bundler-plugin-core/src/utils/__tests__/normalizePath.test.ts
  packages/bundler-plugin-core/src/utils/normalizePath.ts
Due: Plugin core

update snapshots
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
Due: none

add in changeset
  .changeset/warm-feet-cry.md
Due: none

remove unused regex escapes
  packages/bundler-plugin-core/src/utils/normalizePath.ts
Due: Plugin core

add in escape for slash
  packages/bundler-plugin-core/src/utils/normalizePath.ts
Due: Plugin core

update webpack plugin to remove map files
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Webpack plugin

add in changeset
  .changeset/chilled-eagles-protect.md
Due: none
