Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

add in sourcemap changeset
  .changeset/hip-dolphins-watch.md
Due: none

bring back sourcemaps
  .changeset/hip-dolphins-watch.md
  packages/astro-plugin/build.config.ts
  packages/bundle-analyzer/build.config.ts
  packages/bundler-plugin-core/build.config.ts
  packages/nextjs-webpack-plugin/build.config.ts
  packages/nuxt-plugin/build.config.ts
  packages/remix-vite-plugin/build.config.ts
  packages/rollup-plugin/build.config.ts
  packages/solidstart-plugin/build.config.ts
  packages/sveltekit-plugin/build.config.ts
  packages/vite-plugin/build.config.ts
  packages/webpack-plugin/build.config.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

feat: Remove minification of packages (#248)
  .changeset/eleven-spies-dance.md
  packages/astro-plugin/build.config.ts
  packages/bundle-analyzer/build.config.ts
  packages/bundler-plugin-core/build.config.ts
  packages/nextjs-webpack-plugin/build.config.ts
  packages/nuxt-plugin/build.config.ts
  packages/remix-vite-plugin/build.config.ts
  packages/rollup-plugin/build.config.ts
  packages/solidstart-plugin/build.config.ts
  packages/sveltekit-plugin/build.config.ts
  packages/vite-plugin/build.config.ts
  packages/webpack-plugin/build.config.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

bump version numbers
  integration-tests/fixtures/generate-bundle-stats/astro/__snapshots__/astro-integration.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  packages/astro-plugin/src/astro-bundle-analysis/__tests__/__snapshots__/astroBundleAnalysisPlugin.test.ts.snap
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/__tests__/__snapshots__/nextJSWebpackBundleAnalysisPlugin.test.ts.snap
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/solidstart-plugin/src/solidstart-bundle-analysis/__tests__/__snapshots__/solidstartBundleAnalysisPlugin.test.ts.snap
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
Due: Rollup plugin, Vite plugin, Webpack plugin

meta: Update docs
  functions/_codecov_astro-plugin.default.html
  functions/_codecov_bundle-analyzer.index.createAndUploadReport.html
  functions/_codecov_bundler-plugin-core.handleErrors.html
  functions/_codecov_bundler-plugin-core.normalizeOptions.html
  functions/_codecov_bundler-plugin-core.safeFlushTelemetry.html
  functions/_codecov_nextjs-webpack-plugin.codecovNextJSWebpackPlugin.html
  functions/_codecov_nuxt-plugin.default.html
  functions/_codecov_remix-vite-plugin.codecovRemixVitePlugin.html
  functions/_codecov_rollup-plugin.codecovRollupPlugin.html
  functions/_codecov_solidstart-plugin.codecovSolidStartPlugin.html
  functions/_codecov_sveltekit-plugin.codecovSvelteKitPlugin.html
  functions/_codecov_vite-plugin.codecovVitePlugin.html
  functions/_codecov_webpack-plugin.codecovWebpackPlugin.html
  interfaces/_codecov_bundle-analyzer.index.Options.html
  interfaces/_codecov_bundle-analyzer.options.BundleAnalyzerOptions.html
  interfaces/_codecov_bundler-plugin-core.Options.html
  interfaces/_codecov_bundler-plugin-core.UploadOverrides.html
  modules.html
  modules/_codecov_astro-plugin.html
  modules/_codecov_bundle-analyzer.html
  modules/_codecov_bundler-plugin-core.html
  modules/_codecov_nextjs-webpack-plugin.html
  modules/_codecov_nuxt-plugin.html
  modules/_codecov_remix-vite-plugin.html
  modules/_codecov_rollup-plugin.html
  modules/_codecov_solidstart-plugin.html
  modules/_codecov_sveltekit-plugin.html
  modules/_codecov_vite-plugin.html
  modules/_codecov_webpack-plugin.html
Due: none

Add a way to skip the call to _getPR in the _getSHA function
  packages/bundler-plugin-core/src/utils/providers/AzurePipelines.ts
Due: Plugin core

Update AzurePipelines.ts
  packages/bundler-plugin-core/src/utils/providers/AzurePipelines.ts
Due: Plugin core

chore: Fix vulnerability astro
  examples/astro/package.json
  integration-tests/test-apps/astro-4/package.json
  pnpm-lock.yaml
Due: none

chore: Fix vulnerability astro (#254)
  examples/astro/package.json
  integration-tests/test-apps/astro-4/package.json
  pnpm-lock.yaml
Due: none

Bump vite version to latest
  .changeset/two-stingrays-behave.md
  examples/oidc/package.json
  examples/sveltekit/package.json
  examples/tokenless/package.json
  examples/vite/package.json
  integration-tests/test-apps/bundle-analyzer/dotenv-vercel/package.json
  integration-tests/test-apps/sveltekit/package.json
  package.json
  packages/astro-plugin/package.json
  packages/bundle-analyzer/package.json
  packages/nuxt-plugin/package.json
  packages/remix-vite-plugin/package.json
  packages/solidstart-plugin/package.json
  packages/sveltekit-plugin/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
Due: Vite plugin

Wip
  .changeset/nine-houses-explode.md
  examples/oidc/package.json
  examples/remix/package.json
  examples/sveltekit/package.json
  examples/tokenless/package.json
  examples/vite/package.json
  integration-tests/fixtures/generate-bundle-stats/astro/__snapshots__/astro-integration.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/package.json
  integration-tests/test-apps/bundle-analyzer/dotenv-vercel/package.json
  integration-tests/test-apps/nextjs/next.config.mjs
  integration-tests/test-apps/remix/package.json
  integration-tests/test-apps/sveltekit/package.json
  package.json
  packages/astro-plugin/package.json
  packages/bundle-analyzer/package.json
  packages/nuxt-plugin/package.json
  packages/remix-vite-plugin/package.json
  packages/solidstart-plugin/package.json
  packages/sveltekit-plugin/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
Due: Vite plugin

Use patch instead of minor
  .changeset/nine-houses-explode.md
Due: none

[vuln] Bump vite versions (#255)
  .changeset/nine-houses-explode.md
  examples/oidc/package.json
  examples/remix/package.json
  examples/sveltekit/package.json
  examples/tokenless/package.json
  examples/vite/package.json
  integration-tests/fixtures/generate-bundle-stats/astro/__snapshots__/astro-integration.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/package.json
  integration-tests/test-apps/bundle-analyzer/dotenv-vercel/package.json
  integration-tests/test-apps/nextjs/next.config.mjs
  integration-tests/test-apps/remix/package.json
  integration-tests/test-apps/sveltekit/package.json
  package.json
  packages/astro-plugin/package.json
  packages/bundle-analyzer/package.json
  packages/nuxt-plugin/package.json
  packages/remix-vite-plugin/package.json
  packages/solidstart-plugin/package.json
  packages/sveltekit-plugin/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
Due: Vite plugin

fix: typo affecting commit and compareSHA
  packages/bundler-plugin-core/package.json
  packages/bundler-plugin-core/src/utils/providers/GitHubActions.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/GitHubActions.test.ts
  pnpm-lock.yaml
Due: Plugin core

chore: Test vite plugin custom path normalization
  examples/vite/vite.config.ts
Due: none

trigger build in example vite app
  examples/vite/src/App.tsx
  examples/vite/src/SomeComponent.tsx
Due: none

test: fix unit tests
  packages/bundler-plugin-core/src/utils/providers/__tests__/GitHubActions.test.ts
Due: Plugin core

fix: typo affecting commit and compareSHA (#257)
  packages/bundler-plugin-core/package.json
  packages/bundler-plugin-core/src/utils/providers/GitHubActions.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/GitHubActions.test.ts
  pnpm-lock.yaml
Due: Plugin core

chore: update changelog and version
  .changeset/sweet-squids-perform.md
Due: none

chore: update changelog and version (#259)
  .changeset/sweet-squids-perform.md
Due: none

chore(security): bump next to 14.2.25
  .changeset/witty-icons-appear.md
  examples/next-js/package.json
  integration-tests/test-apps/nextjs/package.json
  pnpm-lock.yaml
Due: none

chore(security): bump next to 14.2.25 (#261)
  .changeset/witty-icons-appear.md
  examples/next-js/package.json
  integration-tests/test-apps/nextjs/package.json
  pnpm-lock.yaml
Due: none

update integration tests
  integration-tests/fixtures/generate-bundle-stats/astro/__snapshots__/astro-integration.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  packages/astro-plugin/src/astro-bundle-analysis/__tests__/__snapshots__/astroBundleAnalysisPlugin.test.ts.snap
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/__tests__/__snapshots__/nextJSWebpackBundleAnalysisPlugin.test.ts.snap
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/solidstart-plugin/src/solidstart-bundle-analysis/__tests__/__snapshots__/solidstartBundleAnalysisPlugin.test.ts.snap
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
Due: Rollup plugin, Vite plugin, Webpack plugin

meta: Update docs
  functions/_codecov_astro-plugin.default.html
  functions/_codecov_bundle-analyzer.index.createAndUploadReport.html
  functions/_codecov_bundler-plugin-core.handleErrors.html
  functions/_codecov_bundler-plugin-core.normalizeOptions.html
  functions/_codecov_bundler-plugin-core.safeFlushTelemetry.html
  functions/_codecov_nextjs-webpack-plugin.codecovNextJSWebpackPlugin.html
  functions/_codecov_nuxt-plugin.default.html
  functions/_codecov_remix-vite-plugin.codecovRemixVitePlugin.html
  functions/_codecov_rollup-plugin.codecovRollupPlugin.html
  functions/_codecov_solidstart-plugin.codecovSolidStartPlugin.html
  functions/_codecov_sveltekit-plugin.codecovSvelteKitPlugin.html
  functions/_codecov_vite-plugin.codecovVitePlugin.html
  functions/_codecov_webpack-plugin.codecovWebpackPlugin.html
  interfaces/_codecov_bundle-analyzer.options.BundleAnalyzerOptions.html
  interfaces/_codecov_bundler-plugin-core.Options.html
  interfaces/_codecov_bundler-plugin-core.UploadOverrides.html
  modules.html
  modules/_codecov_astro-plugin.html
  modules/_codecov_bundle-analyzer.html
  modules/_codecov_bundler-plugin-core.html
  modules/_codecov_nextjs-webpack-plugin.html
  modules/_codecov_nuxt-plugin.html
  modules/_codecov_remix-vite-plugin.html
  modules/_codecov_rollup-plugin.html
  modules/_codecov_solidstart-plugin.html
  modules/_codecov_sveltekit-plugin.html
  modules/_codecov_vite-plugin.html
  modules/_codecov_webpack-plugin.html
Due: none

feat: include user agent in headers
  packages/bundler-plugin-core/src/utils/__tests__/Output.test.ts
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

fix: add github permissions
  .changeset/purple-bikes-jam.md
  .github/workflows/cache_cleanup.yml
  .github/workflows/enforce-license-compliance.yml
  .github/workflows/prepare-publish.yml
  .github/workflows/publish.yml
  .github/workflows/test-api-ci.yml
  .github/workflows/test-api-push.yml
  .github/workflows/typedoc-manual-deploy.yml
Due: none

fix: add github permissions (#263)
  .changeset/purple-bikes-jam.md
  .github/workflows/cache_cleanup.yml
  .github/workflows/enforce-license-compliance.yml
  .github/workflows/prepare-publish.yml
  .github/workflows/publish.yml
  .github/workflows/test-api-ci.yml
  .github/workflows/test-api-push.yml
  .github/workflows/typedoc-manual-deploy.yml
Due: none

fix: correct user agent formatting in headers
  packages/bundler-plugin-core/src/utils/__tests__/Output.test.ts
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

Add accurate homepage, repository and bugs metadata to all packages
  packages/astro-plugin/package.json
  packages/bundle-analyzer/package.json
  packages/bundler-plugin-core/package.json
  packages/nextjs-webpack-plugin/package.json
  packages/nuxt-plugin/package.json
  packages/remix-vite-plugin/package.json
  packages/rollup-plugin/package.json
  packages/solidstart-plugin/package.json
  packages/sveltekit-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

chore: This is a test
  README.md
Due: none

another test commit
  README.md
Due: none

temp upload to overwatch
  .github/workflows/temp-overwatch.yml
Due: none

test
  README.md
Due: none

wrong slug
  .github/workflows/temp-overwatch.yml
Due: none

chore: Test
  README.md
Due: none

this is a test
  README.md
Due: none

chore: Create test commit
  README.md
Due: none

Path conditions:
  Plugin core: any of: packages/bundler-plugin-core/**
  Rollup plugin: any of: packages/rollup-plugin/**
  Vite plugin: any of: packages/vite-plugin/**
  Webpack plugin: any of: packages/webpack-plugin/**
