Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

codecov.yml:

comment:
  layout: "condensed_header, condensed_files, components, condensed_footer"

ai_pr_review:
  enabled: true

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: package_core
      name: Plugin core
      paths:
        - packages/bundler-plugin-core/**
    - component_id: package_rollup
      name: Rollup plugin
      paths:
        - packages/rollup-plugin/**
    - component_id: package_vite
      name: Vite plugin
      paths:
        - packages/vite-plugin/**
    - component_id: package_webpack
      name: Webpack plugin
      paths:
        - packages/webpack-plugin/**

remove url requirement for GH OIDC auidence
  packages/bundler-plugin-core/src/utils/__tests__/normalizeOptions.test.ts
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
Due: Plugin core

tidy up some types descriptions
  packages/bundler-plugin-core/src/types.ts
Due: Plugin core

revert back to providing various args to getPreSignedURL
  packages/bundler-plugin-core/src/utils/Output.ts
  packages/bundler-plugin-core/src/utils/__tests__/getPreSignedURL.test.ts
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

some more tidying up of docstrings
  packages/bundler-plugin-core/src/types.ts
Due: Plugin core

fixing some small typos in the readme's
  packages/nextjs-webpack-plugin/README.md
  packages/nuxt-plugin/README.md
  packages/remix-vite-plugin/README.md
  packages/rollup-plugin/README.md
  packages/solidstart-plugin/README.md
  packages/sveltekit-plugin/README.md
  packages/vite-plugin/README.md
  packages/webpack-plugin/README.md
Due: Rollup plugin, Vite plugin, Webpack plugin

move default retry count to fetch with retry implementation
  packages/bundler-plugin-core/src/utils/fetchWithRetry.ts
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
  packages/bundler-plugin-core/src/utils/uploadStats.ts
Due: Plugin core

small typo suggestion
  packages/bundler-plugin-core/src/utils/__tests__/normalizeOptions.test.ts
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
Due: Plugin core

yea retry count does need to be more than 0
  packages/bundler-plugin-core/src/utils/__tests__/normalizeOptions.test.ts
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
Due: Plugin core

incorporate PR comments
  .changeset/eleven-deers-divide.md
  .github/workflows/ci.yml
  examples/standalone/cli/README.md
  examples/standalone/library-import-cjs/README.md
  examples/standalone/library-import-cjs/analyze.js
  examples/standalone/library-import-cjs/package.json
  examples/standalone/library-import-esm/README.md
  examples/standalone/library-import-esm/analyze.js
  examples/standalone/library-import-esm/package.json
  integration-tests/fixtures/generate-bundle-stats/standalone/dotenv-vercel/standalone-analyzer.test.ts
  integration-tests/test-api/README.md
  integration-tests/test-api/package-lock.json
  integration-tests/test-api/package.json
  packages/standalone-analyzer/README.md
  packages/standalone-analyzer/package.json
  packages/standalone-analyzer/src/cli.ts
  packages/standalone-analyzer/src/index.test.ts
  packages/standalone-analyzer/src/index.ts
  packages/standalone-analyzer/src/options.test.ts
  packages/standalone-analyzer/src/options.ts
  pnpm-lock.yaml
Due: none

rename from standalone-analyzer --> bundle-analyzer
  packages/bundle-analyzer/LICENSE
  packages/bundle-analyzer/README.md
  packages/bundle-analyzer/build.config.ts
  packages/bundle-analyzer/package.json
  packages/bundle-analyzer/src/assets.test.ts
  packages/bundle-analyzer/src/assets.ts
  packages/bundle-analyzer/src/cli.test.ts
  packages/bundle-analyzer/src/cli.ts
  packages/bundle-analyzer/src/index.test.ts
  packages/bundle-analyzer/src/index.ts
  packages/bundle-analyzer/src/options.test.ts
  packages/bundle-analyzer/src/options.ts
  packages/bundle-analyzer/src/version.ts
  packages/bundle-analyzer/tsconfig.json
  packages/bundle-analyzer/typedoc.json
  packages/bundle-analyzer/vitest.config.ts
Due: none

fix tests
  packages/bundle-analyzer/src/index.test.ts
Due: none

minor pr comment fixes
  examples/standalone/library-import-cjs/README.md
  examples/standalone/library-import-esm/README.md
  integration-tests/test-api/README.md
  packages/bundle-analyzer/src/cli.ts
  pnpm-workspace.yaml
Due: none

fix integration tests
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/vite-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/sveltekit/vite-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  integration-tests/package.json
  integration-tests/test-api/bun.lockb
  integration-tests/test-api/package.json
  integration-tests/test-api/tsconfig.json
  integration-tests/test-apps/nuxt/nuxt.config.ts
  integration-tests/test-apps/nuxt/package.json
  integration-tests/test-apps/sveltekit/package.json
Due: none

fix integration tests 2, missed one rename standalone
  examples/bundle-analyzer/cli/README.md
  examples/bundle-analyzer/cli/a.js
  examples/bundle-analyzer/cli/package.json
  examples/bundle-analyzer/cli/rollup.config.js
  examples/bundle-analyzer/cli/src/b.js
  examples/bundle-analyzer/cli/src/c.js
  examples/bundle-analyzer/cli/src/common.js
  examples/bundle-analyzer/cli/src/d.js
  examples/bundle-analyzer/cli/src/main.js
  examples/bundle-analyzer/cli/src/nested/extra.js
  examples/bundle-analyzer/library-import-cjs/README.md
  examples/bundle-analyzer/library-import-cjs/analyze.js
  examples/bundle-analyzer/library-import-cjs/package.json
  examples/bundle-analyzer/library-import-esm/README.md
  examples/bundle-analyzer/library-import-esm/analyze.js
  examples/bundle-analyzer/library-import-esm/package.json
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/vite-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/sveltekit/vite-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  integration-tests/package.json
  integration-tests/test-apps/nuxt/package.json
  integration-tests/test-apps/sveltekit/package.json
Due: none

fix integration tests
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  integration-tests/test-apps/bundle-analyzer/dotenv-vercel/package.json
  pnpm-lock.yaml
Due: none

fix integration tests - next attempt
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
Due: none

bump from ES2021 to ES2022
  tsconfig.json
Due: none

update custom errors to accept error options
  packages/bundler-plugin-core/src/errors/BadOIDCServiceError.ts
  packages/bundler-plugin-core/src/errors/BadResponseError.ts
  packages/bundler-plugin-core/src/errors/FailedFetchError.ts
  packages/bundler-plugin-core/src/errors/FailedOIDCFetchError.ts
  packages/bundler-plugin-core/src/errors/FailedUploadError.ts
  packages/bundler-plugin-core/src/errors/InvalidSlugError.ts
  packages/bundler-plugin-core/src/errors/NoUploadTokenError.ts
  packages/bundler-plugin-core/src/errors/UndefinedGitServiceError.ts
  packages/bundler-plugin-core/src/errors/UploadLimitReachedError.ts
Due: Plugin core

add cause to thrown errors
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

add in changeset
  .changeset/shiny-ghosts-play.md
Due: none

exit pre mode
  .changeset/pre.json
Due: none

expand out the changeset description
  .changeset/shiny-ghosts-play.md
Due: none

add in some links to docs
  .changeset/shiny-ghosts-play.md
Due: none

chore: Align Change Sets for 1.0.0 release (#164)
  .changeset/pre.json
  .changeset/shiny-ghosts-play.md
Due: none

bump plugin version in snapshots
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/__tests__/__snapshots__/nextJSWebpackBundleAnalysisPlugin.test.ts.snap
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/solidstart-plugin/src/solidstart-bundle-analysis/__tests__/__snapshots__/solidstartBundleAnalysisPlugin.test.ts.snap
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
Due: Rollup plugin, Vite plugin, Webpack plugin

remove warning labels from readmes
  README.md
  packages/nextjs-webpack-plugin/README.md
  packages/nuxt-plugin/README.md
  packages/remix-vite-plugin/README.md
  packages/rollup-plugin/README.md
  packages/solidstart-plugin/README.md
  packages/sveltekit-plugin/README.md
  packages/vite-plugin/README.md
  packages/webpack-plugin/README.md
Due: Rollup plugin, Vite plugin, Webpack plugin

logging out context name
  packages/bundler-plugin-core/src/utils/providers/GitHubActions.ts
Due: Plugin core

meta: Update docs
  assets/navigation.js
  assets/search.js
  functions/_codecov_bundler_plugin_core.handleErrors.html
  functions/_codecov_bundler_plugin_core.normalizeOptions.html
  functions/_codecov_nextjs_webpack_plugin.codecovNextJSWebpackPlugin.html
  functions/_codecov_nuxt_plugin.default.html
  functions/_codecov_remix_vite_plugin.codecovRemixVitePlugin.html
  functions/_codecov_rollup_plugin.codecovRollupPlugin.html
  functions/_codecov_solidstart_plugin.codecovSolidStartPlugin.html
  functions/_codecov_sveltekit_plugin.codecovSvelteKitPlugin.html
  functions/_codecov_vite_plugin.codecovVitePlugin.html
  functions/_codecov_webpack_plugin.codecovWebpackPlugin.html
  index.html
  interfaces/_codecov_bundler_plugin_core.Options.html
  interfaces/_codecov_bundler_plugin_core.UploadOverrides.html
  modules/_codecov_bundler_plugin_core.html
  modules/_codecov_nextjs_webpack_plugin.html
  modules/_codecov_nuxt_plugin.html
  modules/_codecov_remix_vite_plugin.html
  modules/_codecov_rollup_plugin.html
  modules/_codecov_solidstart_plugin.html
  modules/_codecov_sveltekit_plugin.html
  modules/_codecov_vite_plugin.html
  modules/_codecov_webpack_plugin.html
Due: none

accept multiple build dir paths by default
  examples/bundle-analyzer/cli/README.md
  examples/bundle-analyzer/library-import-cjs/README.md
  examples/bundle-analyzer/library-import-cjs/analyze.js
  examples/bundle-analyzer/library-import-esm/README.md
  examples/bundle-analyzer/library-import-esm/analyze.js
  integration-tests/test-apps/bundle-analyzer/dotenv-vercel/analyze.js
  packages/bundle-analyzer/package.json
  packages/bundle-analyzer/src/assets.test.ts
  packages/bundle-analyzer/src/assets.ts
  packages/bundle-analyzer/src/cli.test.ts
  packages/bundle-analyzer/src/cli.ts
  packages/bundle-analyzer/src/index.test.ts
  packages/bundle-analyzer/src/index.ts
  packages/bundle-analyzer/src/options.test.ts
  packages/bundle-analyzer/src/options.ts
  pnpm-lock.yaml
Due: none

cleanup
  examples/bundle-analyzer/cli/README.md
  examples/bundle-analyzer/library-import-cjs/README.md
  examples/bundle-analyzer/library-import-cjs/analyze.js
  examples/bundle-analyzer/library-import-cjs/package.json
  examples/bundle-analyzer/library-import-esm/README.md
  packages/bundle-analyzer/package.json
  packages/bundle-analyzer/src/index.ts
  packages/bundle-analyzer/src/options.ts
  pnpm-lock.yaml
Due: none

fix tests
  examples/bundle-analyzer/cli/README.md
  examples/bundle-analyzer/library-import-cjs/README.md
  examples/bundle-analyzer/library-import-cjs/package.json
  examples/bundle-analyzer/library-import-esm/README.md
  packages/bundle-analyzer/package.json
  packages/bundle-analyzer/src/assets.test.ts
  packages/bundle-analyzer/src/cli.test.ts
  packages/bundle-analyzer/src/index.ts
  packages/bundle-analyzer/src/options.ts
Due: none

add test
  packages/bundle-analyzer/src/cli.test.ts
Due: none

dynamically import webpack
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Webpack plugin

add in changeset
  .changeset/thin-dryers-joke.md
Due: none

split up generate require and import/require of webpack
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Webpack plugin

fix: Dynamically import webpack in webpack plugin (#171)
  .changeset/thin-dryers-joke.md
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Webpack plugin
