Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Bundle Analyzer, Plugin core, Next.js Webpack plugin, Nuxt plugin, Remix Vite plugin, Rollup plugin, SolidStart plugin, SvelteKit plugin, Vite plugin, Webpack plugin

fix: add permissions to publish step
  .github/workflows/prepare-publish.yml
Due: none

fix: add permissions to publish step (#324)
  .github/workflows/prepare-publish.yml
Due: none

chore(integration-tests): bump Rollup 3 test alias to 3.30.0
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/package.json
  pnpm-lock.yaml
Due: none

chore: pnpm overrides for rollup 3.29.4/3.29.5 -> 3.30.0
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  package.json
  pnpm-lock.yaml
Due: none

fix: align Node.js engines with bundler-plugin-core (>=20)
  package.json
  packages/astro-plugin/package.json
  packages/bundle-analyzer/package.json
  packages/bundler-plugin-core/src/utils/checkNodeVersion.ts
  packages/nextjs-webpack-plugin/package.json
  packages/nuxt-plugin/package.json
  packages/remix-vite-plugin/package.json
  packages/rollup-plugin/package.json
  packages/solidstart-plugin/package.json
  packages/sveltekit-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
Due: Plugin core, Next.js Webpack plugin, Nuxt plugin, Remix Vite plugin, Rollup plugin, SolidStart plugin, SvelteKit plugin, Vite plugin, Webpack plugin

fix: align Node.js engines with bundler-plugin-core (>=20) (#327)
  package.json
  packages/astro-plugin/package.json
  packages/bundle-analyzer/package.json
  packages/bundler-plugin-core/src/utils/checkNodeVersion.ts
  packages/nextjs-webpack-plugin/package.json
  packages/nuxt-plugin/package.json
  packages/remix-vite-plugin/package.json
  packages/rollup-plugin/package.json
  packages/solidstart-plugin/package.json
  packages/sveltekit-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
Due: Plugin core, Next.js Webpack plugin, Nuxt plugin, Remix Vite plugin, Rollup plugin, SolidStart plugin, SvelteKit plugin, Vite plugin, Webpack plugin

test: refresh snapshots for v2.0.0 and stabilize e2e on Bun
  integration-tests/fixtures/generate-bundle-stats/astro/__snapshots__/astro-integration.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/bundle-analyzer/dotenv-vercel/__snapshots__/bundle-analyzer.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/nextjs/__snapshots__/nextjs-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/remix-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/solidstart/__snapshots__/solidstart-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/sveltekit-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/vite-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-plugin.test.ts
  integration-tests/package.json
  packages/astro-plugin/src/astro-bundle-analysis/__tests__/__snapshots__/astroBundleAnalysisPlugin.test.ts.snap
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/__tests__/__snapshots__/nextJSWebpackBundleAnalysisPlugin.test.ts.snap
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/solidstart-plugin/src/solidstart-bundle-analysis/__tests__/__snapshots__/solidstartBundleAnalysisPlugin.test.ts.snap
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
Due: Next.js Webpack plugin, Nuxt plugin, Remix Vite plugin, Rollup plugin, SolidStart plugin, SvelteKit plugin, Vite plugin, Webpack plugin

test(e2e): align rollup snapshot gzipSize with CI (Ubuntu zlib)
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
Due: none

test(e2e): stop pinning asset gzipSize in rollup/vite/webpack snapshots
  integration-tests/fixtures/generate-bundle-stats/bundle-stats-snapshot-hints.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/.gitignore
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/vite-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-plugin.test.ts
  integration-tests/package.json
Due: none

revert: drop e2e timeout and max-concurrency script flags
  integration-tests/package.json
Due: none

fix: add content write permissions to publish
  .github/workflows/publish.yml
Due: none

fix: add content write permissions to publish (#329)
  .github/workflows/publish.yml
Due: none

chore(release): 2.0.1
  .changeset/pink-birds-knock.md
Due: none

chore(release): 2.0.1 (#330)
  .changeset/pink-birds-knock.md
Due: none

test: update bundle analysis snapshots for v2.0.1
  packages/astro-plugin/src/astro-bundle-analysis/__tests__/__snapshots__/astroBundleAnalysisPlugin.test.ts.snap
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/__tests__/__snapshots__/nextJSWebpackBundleAnalysisPlugin.test.ts.snap
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/solidstart-plugin/src/solidstart-bundle-analysis/__tests__/__snapshots__/solidstartBundleAnalysisPlugin.test.ts.snap
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
Due: Next.js Webpack plugin, Nuxt plugin, Remix Vite plugin, Rollup plugin, SolidStart plugin, SvelteKit plugin, Vite plugin, Webpack plugin

test(e2e): update bundle stats snapshots for v2.0.1
  integration-tests/fixtures/generate-bundle-stats/astro/__snapshots__/astro-integration.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
Due: none

meta: Update docs
  functions/_codecov_astro-plugin.default.html
  functions/_codecov_bundle-analyzer.index.createAndUploadReport.html
  functions/_codecov_bundler-plugin-core.handleErrors.html
  functions/_codecov_bundler-plugin-core.normalizeOptions.html
  functions/_codecov_bundler-plugin-core.safeFlushTelemetry.html
  functions/_codecov_nextjs-webpack-plugin.codecovNextJSWebpackPlugin.html
  functions/_codecov_nuxt-plugin.default.html
  functions/_codecov_remix-vite-plugin.codecovRemixVitePlugin.html
  functions/_codecov_rollup-plugin.codecovRollupPlugin.html
  functions/_codecov_solidstart-plugin.codecovSolidStartPlugin.html
  functions/_codecov_sveltekit-plugin.codecovSvelteKitPlugin.html
  functions/_codecov_vite-plugin.codecovVitePlugin.html
  functions/_codecov_webpack-plugin.codecovWebpackPlugin.html
  interfaces/_codecov_bundle-analyzer.options.BundleAnalyzerOptions.html
  interfaces/_codecov_bundler-plugin-core.Options.html
  interfaces/_codecov_bundler-plugin-core.UploadOverrides.html
  modules.html
  modules/_codecov_astro-plugin.html
  modules/_codecov_bundle-analyzer.html
  modules/_codecov_bundler-plugin-core.html
  modules/_codecov_nextjs-webpack-plugin.html
  modules/_codecov_nuxt-plugin.html
  modules/_codecov_remix-vite-plugin.html
  modules/_codecov_rollup-plugin.html
  modules/_codecov_solidstart-plugin.html
  modules/_codecov_sveltekit-plugin.html
  modules/_codecov_vite-plugin.html
  modules/_codecov_webpack-plugin.html
Due: none

fix(package-metadata): include repository details in `package.json` for the rollup plugin
  packages/rollup-plugin/package.json
Due: Rollup plugin

feat: Add more observability to getPreSignedUrl and prevent retries for client auth errors
  packages/bundler-plugin-core/src/errors/AuthenticationError.ts
  packages/bundler-plugin-core/src/utils/Output.ts
  packages/bundler-plugin-core/src/utils/fetchWithRetry.ts
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

chore: Run prettier
  integration-tests/fixtures/generate-bundle-stats/astro/astro-base.config.mjs
  integration-tests/test-api/tsconfig.json
  packages/bundler-plugin-core/src/utils/fetchWithRetry.ts
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

feat: Use detail instead of message and fix tests
  packages/bundler-plugin-core/src/utils/__tests__/fetchWithRetry.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/getPreSignedURL.test.ts
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

feat: Add more observability to getPreSignedUrl errors and prevent retries f… (#335)
  integration-tests/fixtures/generate-bundle-stats/astro/astro-base.config.mjs
  integration-tests/test-api/tsconfig.json
  packages/bundler-plugin-core/src/errors/AuthenticationError.ts
  packages/bundler-plugin-core/src/utils/Output.ts
  packages/bundler-plugin-core/src/utils/__tests__/fetchWithRetry.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/getPreSignedURL.test.ts
  packages/bundler-plugin-core/src/utils/fetchWithRetry.ts
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

chore: Update changelog
  .changeset/nasty-singers-cross.md
Due: none

ci: remove Enforce License Compliance workflow (#341)
  .github/workflows/enforce-license-compliance.yml
Due: none

chore: replace Codecov by Sentry logo with Codecov by Harness logo
  CONTRIBUTING.md
  README.md
  integration-tests/README.md
  packages/astro-plugin/README.md
  packages/bundle-analyzer/README.md
  packages/bundler-plugin-core/README.md
  packages/nextjs-webpack-plugin/README.md
  packages/nuxt-plugin/README.md
  packages/remix-vite-plugin/README.md
  packages/rollup-plugin/README.md
  packages/solidstart-plugin/README.md
  packages/sveltekit-plugin/README.md
  packages/vite-plugin/README.md
  packages/webpack-plugin/README.md
Due: Plugin core, Next.js Webpack plugin, Nuxt plugin, Remix Vite plugin, Rollup plugin, SolidStart plugin, SvelteKit plugin, Vite plugin, Webpack plugin

chore: replace Codecov by Sentry logo with Codecov by Harness logo (#347)
  CONTRIBUTING.md
  README.md
  integration-tests/README.md
  packages/astro-plugin/README.md
  packages/bundle-analyzer/README.md
  packages/bundler-plugin-core/README.md
  packages/nextjs-webpack-plugin/README.md
  packages/nuxt-plugin/README.md
  packages/remix-vite-plugin/README.md
  packages/rollup-plugin/README.md
  packages/solidstart-plugin/README.md
  packages/sveltekit-plugin/README.md
  packages/vite-plugin/README.md
  packages/webpack-plugin/README.md
Due: Plugin core, Next.js Webpack plugin, Nuxt plugin, Remix Vite plugin, Rollup plugin, SolidStart plugin, SvelteKit plugin, Vite plugin, Webpack plugin

Rebrand PR template legal boilerplate to Harness
  .github/pull_request_template.md
Due: none

Rebrand PR template legal boilerplate from Functional Software/Sentry to Harness (#350)
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/pull_request_template.md
Due: none

fix(deps): bump vitest and @vitest/coverage-v8 to ^3.2.6
  package.json
  packages/astro-plugin/package.json
  packages/bundle-analyzer/package.json
  packages/bundler-plugin-core/package.json
  packages/nextjs-webpack-plugin/package.json
  packages/nuxt-plugin/package.json
  packages/remix-vite-plugin/package.json
  packages/rollup-plugin/package.json
  packages/solidstart-plugin/package.json
  packages/sveltekit-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
  pnpm-lock.yaml
Due: Plugin core, Next.js Webpack plugin, Nuxt plugin, Remix Vite plugin, Rollup plugin, SolidStart plugin, SvelteKit plugin, Vite plugin, Webpack plugin

fix(rollup-plugin): silence vitest 3.2.7 plugin type mismatch
  packages/rollup-plugin/vitest.config.ts
Due: Rollup plugin

test(bundler-plugin-core): match FailedFetchError in Output breadcrumbs
  packages/bundler-plugin-core/src/utils/__tests__/Output.test.ts
Due: Plugin core

test(bundle-analyzer): stabilize CLI tests under vitest 3.2
  packages/bundle-analyzer/src/cli.test.ts
  packages/bundle-analyzer/vitest.config.ts
Due: none

chore(bundle-analyzer): add console reporter to CI unit tests
  packages/bundle-analyzer/package.json
Due: none

test(bundle-analyzer): spawn CLI subprocesses asynchronously
  packages/bundle-analyzer/src/cli.test.ts
Due: none

fix(deps): bump vitest to ^3.2.6 (CVE-2026-47429) (#352)
  package.json
  packages/astro-plugin/package.json
  packages/bundle-analyzer/package.json
  packages/bundle-analyzer/src/cli.test.ts
  packages/bundle-analyzer/vitest.config.ts
  packages/bundler-plugin-core/package.json
  packages/bundler-plugin-core/src/utils/__tests__/Output.test.ts
  packages/nextjs-webpack-plugin/package.json
  packages/nuxt-plugin/package.json
  packages/remix-vite-plugin/package.json
  packages/rollup-plugin/package.json
  packages/rollup-plugin/vitest.config.ts
  packages/solidstart-plugin/package.json
  packages/sveltekit-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
  pnpm-lock.yaml
Due: Plugin core, Next.js Webpack plugin, Nuxt plugin, Remix Vite plugin, Rollup plugin, SolidStart plugin, SvelteKit plugin, Vite plugin, Webpack plugin

test: serialize integration fixtures
  integration-tests/package.json
Due: none

fix(astro): use supported static output
  examples/astro/astro.config.mjs
Due: none

Path conditions:
  Bundle Analyzer: any of: packages/bundler-analyzer/**, but not: examples/*, integration-tests/*
  Plugin core: any of: packages/bundler-plugin-core/**, but not: examples/*, integration-tests/*
  Next.js Webpack plugin: any of: packages/nextjs-webpack-plugin/**, but not: examples/*, integration-tests/*
  Nuxt plugin: any of: packages/nuxt-plugin/**, but not: examples/*, integration-tests/*
  Remix Vite plugin: any of: packages/remix-vite-plugin/**, but not: examples/*, integration-tests/*
  Rollup plugin: any of: packages/rollup-plugin/**, but not: examples/*, integration-tests/*
  SolidStart plugin: any of: packages/solidstart-plugin/**, but not: examples/*, integration-tests/*
  SvelteKit plugin: any of: packages/sveltekit-plugin/**, but not: examples/*, integration-tests/*
  Vite plugin: any of: packages/vite-plugin/**, but not: examples/*, integration-tests/*
  Webpack plugin: any of: packages/webpack-plugin/**, but not: examples/*, integration-tests/*
