Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

allow users to override git service for tokenless uploads
  packages/bundler-plugin-core/src/utils/__tests__/normalizeOptions.test.ts
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
Due: Plugin core

update types with gitService
  packages/bundler-plugin-core/src/types.ts
Due: Plugin core

add back no upload token error and new undefined git service error
  packages/bundler-plugin-core/src/errors/NoUploadTokenError.ts
  packages/bundler-plugin-core/src/errors/UndefinedGitServiceError.ts
Due: Plugin core

add in new function used to find the origin git service
  packages/bundler-plugin-core/src/utils/__tests__/findGitService.test.ts
  packages/bundler-plugin-core/src/utils/findGitService.ts
Due: Plugin core

update getPreSignedURL to support tokenless uploads
  packages/bundler-plugin-core/src/utils/__tests__/getPreSignedURL.test.ts
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

actually use the passed git service
  packages/bundler-plugin-core/src/utils/Output.ts
  packages/bundler-plugin-core/src/utils/__tests__/getPreSignedURL.test.ts
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

move findFileFormat into new utils dir
  packages/webpack-plugin/src/webpack-bundle-analysis/utils/__tests__/findFileFormat.test.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/utils/findFileFormat.ts
Due: Webpack plugin

create new functions to handle the processing of assets, chunks, and modules
  packages/webpack-plugin/src/webpack-bundle-analysis/utils/__tests__/processAssets.test.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/utils/__tests__/processChunks.test.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/utils/__tests__/processModules.test.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/utils/index.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/utils/processAssets.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/utils/processChunks.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/utils/processModules.ts
Due: Webpack plugin

rexport new util functions for upcoming nextjs plugin
  packages/webpack-plugin/src/index.ts
Due: Webpack plugin

use new util functions inside of the webpack plugin, and remove redundent bundle name check
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Webpack plugin

add in changeset
  .changeset/beige-games-invite.md
Due: none

ref: Webpack plugin to export utility functions (#155)
  .changeset/beige-games-invite.md
  packages/webpack-plugin/src/index.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/utils/__tests__/findFileFormat.test.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/utils/__tests__/processAssets.test.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/utils/__tests__/processChunks.test.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/utils/__tests__/processModules.test.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/utils/findFileFormat.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/utils/index.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/utils/processAssets.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/utils/processChunks.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/utils/processModules.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Webpack plugin

feat: Create non-bundler plugin
  examples/non-bundler/.eslintrc.cjs
  examples/non-bundler/.gitignore
  examples/non-bundler/README.md
  examples/non-bundler/index.html
  examples/non-bundler/package.json
  examples/non-bundler/public/vite.svg
  examples/non-bundler/src/App.css
  examples/non-bundler/src/App.tsx
  examples/non-bundler/src/IndexedLazyComponent/IndexedLazyComponent.tsx
  examples/non-bundler/src/IndexedLazyComponent/index.ts
  examples/non-bundler/src/LazyComponent/LazyComponent.tsx
  examples/non-bundler/src/assets/react.svg
  examples/non-bundler/src/index.css
  examples/non-bundler/src/main.tsx
  examples/non-bundler/src/vite-env.d.ts
  examples/non-bundler/tsconfig.json
  examples/non-bundler/tsconfig.node.json
  examples/non-bundler/vite.config.ts
  packages/nobundler-plugin/CHANGELOG.md
  packages/nobundler-plugin/LICENSE
  packages/nobundler-plugin/README.md
  packages/nobundler-plugin/build.config.ts
  packages/nobundler-plugin/package.json
  packages/nobundler-plugin/src/index.ts
  packages/nobundler-plugin/src/nobundler-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/nobundler-plugin/src/nobundler-bundle-analysis/__tests__/viteBundleAnalysisPlugin.test.ts
  packages/nobundler-plugin/src/nobundler-bundle-analysis/nobundlerBundleAnalysisPlugin.ts
  packages/nobundler-plugin/tsconfig.json
  packages/nobundler-plugin/typedoc.json
  packages/nobundler-plugin/vitest.config.ts
Due: none

add in nextjs webpack plugin
  packages/nextjs-webpack-plugin/LICENSE
  packages/nextjs-webpack-plugin/README.md
  packages/nextjs-webpack-plugin/build.config.ts
  packages/nextjs-webpack-plugin/package.json
  packages/nextjs-webpack-plugin/src/index.ts
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/__tests__/__snapshots__/nextJSWebpackBundleAnalysisPlugin.test.ts.snap
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/__tests__/nextJSWebpackBundleAnalysisPlugin.test.ts
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/nextJSWebpackBundleAnalysisPlugin.ts
  packages/nextjs-webpack-plugin/tsconfig.json
  packages/nextjs-webpack-plugin/typedoc.json
  packages/nextjs-webpack-plugin/vitest.config.ts
Due: none

adjust types in plugin core so we can extend them in the next plugin
  packages/bundler-plugin-core/src/index.ts
  packages/bundler-plugin-core/src/types.ts
Due: Plugin core

add in integration tests for nextjs
  integration-tests/fixtures/generate-bundle-stats/nextjs/__snapshots__/nextjs-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/nextjs/next-base.config.mjs
  integration-tests/fixtures/generate-bundle-stats/nextjs/nextjs-plugin.test.ts
  integration-tests/package.json
  integration-tests/scripts/gen-config.ts
  integration-tests/test-apps/nextjs/.gitignore
  integration-tests/test-apps/nextjs/README.md
  integration-tests/test-apps/nextjs/app/favicon.ico
  integration-tests/test-apps/nextjs/app/globals.css
  integration-tests/test-apps/nextjs/app/layout.tsx
  integration-tests/test-apps/nextjs/app/page.module.css
  integration-tests/test-apps/nextjs/app/page.tsx
  integration-tests/test-apps/nextjs/next.config.mjs
  integration-tests/test-apps/nextjs/package.json
  integration-tests/test-apps/nextjs/public/next.svg
  integration-tests/test-apps/nextjs/public/vercel.svg
  integration-tests/test-apps/nextjs/tsconfig.json
Due: none

adjust nextjs example to use nextjs plugin
  examples/next-js/next.config.mjs
  examples/next-js/package.json
  examples/next-js/src/app/layout.tsx
  examples/next-js/tsconfig.json
Due: none

add in changeset
  .changeset/lucky-rocks-breathe.md
Due: none

update lock file, lint config, and pnpm workspace
  .eslintrc.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

fix jsdoc issue in solid start index.ts
  .changeset/tidy-pumpkins-yawn.md
  packages/solidstart-plugin/src/index.ts
Due: none

adjust lint and ts config to handle .mjs files
  .eslintrc.js
  integration-tests/tsconfig.json
Due: none

redo types to add in an extendable BA plugin type
  packages/bundler-plugin-core/src/index.ts
  packages/bundler-plugin-core/src/types.ts
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/nextJSWebpackBundleAnalysisPlugin.ts
Due: Plugin core

add in changeset for bundler plugin core changes
  .changeset/nervous-onions-hang.md
Due: none

update CI to build and upload stats for nextjs plugin
  .github/workflows/ci.yml
Due: none

Update nuxt
  examples/nuxt/package.json
  integration-tests/package.json
  integration-tests/test-apps/nuxt/package.json
  packages/nuxt-plugin/package.json
  pnpm-lock.yaml
Due: none

Update kit
  packages/nuxt-plugin/package.json
Due: none

Bump
  pnpm-lock.yaml
Due: none

remove dryRun flag
  examples/next-js/next.config.mjs
Due: none

Update tests
  integration-tests/fixtures/generate-bundle-stats/nuxt/nuxt-plugin.test.ts
Due: none

Update test
  integration-tests/fixtures/generate-bundle-stats/nuxt/nuxt-plugin.test.ts
Due: none

bump
  integration-tests/fixtures/generate-bundle-stats/nuxt/nuxt-plugin.test.ts
Due: none

Try again
  integration-tests/fixtures/generate-bundle-stats/nuxt/nuxt-plugin.test.ts
Due: none

Update snapshot
  integration-tests/fixtures/generate-bundle-stats/nuxt/nuxt-plugin.test.ts
  integration-tests/test-apps/nuxt/distV3/app.config.mjs
  integration-tests/test-apps/nuxt/distV3/components.d.ts
  integration-tests/test-apps/nuxt/distV3/imports.d.ts
  integration-tests/test-apps/nuxt/distV3/nuxt.d.ts
  integration-tests/test-apps/nuxt/distV3/tsconfig.json
  integration-tests/test-apps/nuxt/distV3/tsconfig.server.json
  integration-tests/test-apps/nuxt/distV3/types/app-defaults.d.ts
  integration-tests/test-apps/nuxt/distV3/types/app.config.d.ts
  integration-tests/test-apps/nuxt/distV3/types/build.d.ts
  integration-tests/test-apps/nuxt/distV3/types/imports.d.ts
  integration-tests/test-apps/nuxt/distV3/types/middleware.d.ts
  integration-tests/test-apps/nuxt/distV3/types/nitro-config.d.ts
  integration-tests/test-apps/nuxt/distV3/types/nitro-imports.d.ts
  integration-tests/test-apps/nuxt/distV3/types/nitro-nuxt.d.ts
  integration-tests/test-apps/nuxt/distV3/types/nitro-routes.d.ts
  integration-tests/test-apps/nuxt/distV3/types/nitro.d.ts
  integration-tests/test-apps/nuxt/distV3/types/plugins.d.ts
  integration-tests/test-apps/nuxt/distV3/types/schema.d.ts
  integration-tests/test-apps/nuxt/distV3/types/vue-shim.d.ts
  integration-tests/test-apps/nuxt/nuxt.config.ts
Due: none

remove output
  integration-tests/test-apps/nuxt/distV3/app.config.mjs
  integration-tests/test-apps/nuxt/distV3/components.d.ts
  integration-tests/test-apps/nuxt/distV3/imports.d.ts
  integration-tests/test-apps/nuxt/distV3/nuxt.d.ts
  integration-tests/test-apps/nuxt/distV3/tsconfig.json
  integration-tests/test-apps/nuxt/distV3/tsconfig.server.json
  integration-tests/test-apps/nuxt/distV3/types/app-defaults.d.ts
  integration-tests/test-apps/nuxt/distV3/types/app.config.d.ts
  integration-tests/test-apps/nuxt/distV3/types/build.d.ts
  integration-tests/test-apps/nuxt/distV3/types/imports.d.ts
  integration-tests/test-apps/nuxt/distV3/types/middleware.d.ts
  integration-tests/test-apps/nuxt/distV3/types/nitro-config.d.ts
  integration-tests/test-apps/nuxt/distV3/types/nitro-imports.d.ts
  integration-tests/test-apps/nuxt/distV3/types/nitro-nuxt.d.ts
  integration-tests/test-apps/nuxt/distV3/types/nitro-routes.d.ts
  integration-tests/test-apps/nuxt/distV3/types/nitro.d.ts
  integration-tests/test-apps/nuxt/distV3/types/plugins.d.ts
  integration-tests/test-apps/nuxt/distV3/types/schema.d.ts
  integration-tests/test-apps/nuxt/distV3/types/vue-shim.d.ts
Due: none

correct version types
  .changeset/lucky-rocks-breathe.md
  .changeset/nervous-onions-hang.md
Due: none

add in example nextjs 15 app
  examples/next-js-15/.gitignore
  examples/next-js-15/README.md
  examples/next-js-15/app/favicon.ico
  examples/next-js-15/app/globals.css
  examples/next-js-15/app/layout.tsx
  examples/next-js-15/app/page.module.css
  examples/next-js-15/app/page.tsx
  examples/next-js-15/next.config.mjs
  examples/next-js-15/package.json
  examples/next-js-15/public/next.svg
  examples/next-js-15/public/vercel.svg
  examples/next-js-15/tsconfig.json
  pnpm-lock.yaml
Due: none

tweak peer deps for nextjs plugin
  packages/nextjs-webpack-plugin/package.json
Due: none

add in next-js-15 to examples
  .github/workflows/ci.yml
Due: none

Path conditions:
  Plugin core: any of: packages/bundler-plugin-core/**
  Rollup plugin: any of: packages/rollup-plugin/**
  Vite plugin: any of: packages/vite-plugin/**
  Webpack plugin: any of: packages/webpack-plugin/**
