Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

Update index.ts
  packages/nuxt-plugin/src/index.ts
Due: none

update
  packages/nuxt-plugin/package.json
  pnpm-lock.yaml
Due: none

ts expect
  packages/nuxt-plugin/package.json
  packages/nuxt-plugin/vitest.config.ts
  packages/vite-plugin/vitest.config.ts
  packages/webpack-plugin/vitest.config.ts
  pnpm-lock.yaml
Due: Vite plugin, Webpack plugin

changeset
  .changeset/honest-radios-sleep.md
Due: none

expect everything
  packages/bundle-analyzer/vitest.config.ts
  packages/nextjs-webpack-plugin/vitest.config.ts
  packages/remix-vite-plugin/vitest.config.ts
  packages/solidstart-plugin/vitest.config.ts
  packages/sveltekit-plugin/vitest.config.ts
  packages/webpack-plugin/vitest.config.ts
Due: Webpack plugin

Update
  packages/bundle-analyzer/vitest.config.ts
  packages/nextjs-webpack-plugin/vitest.config.ts
  packages/remix-vite-plugin/vitest.config.ts
  packages/solidstart-plugin/vitest.config.ts
  packages/webpack-plugin/vitest.config.ts
Due: Webpack plugin

changeset
  .changeset/rare-rivers-talk.md
Due: none

Delete .changeset/honest-radios-sleep.md
  .changeset/honest-radios-sleep.md
Due: none

[vuln] Bump nuxt to 3.14.159 (#212)
  .changeset/rare-rivers-talk.md
  packages/nextjs-webpack-plugin/vitest.config.ts
  packages/nuxt-plugin/package.json
  packages/nuxt-plugin/vitest.config.ts
  packages/remix-vite-plugin/vitest.config.ts
  packages/solidstart-plugin/vitest.config.ts
  packages/sveltekit-plugin/vitest.config.ts
  packages/vite-plugin/vitest.config.ts
  packages/webpack-plugin/vitest.config.ts
  pnpm-lock.yaml
Due: Vite plugin, Webpack plugin

update webpack versions
  examples/webpack/package.json
  packages/nextjs-webpack-plugin/package.json
  packages/webpack-plugin/package.json
Due: Webpack plugin

update lockfile
  pnpm-lock.yaml
Due: none

fix up type issues in webpack processChunks test
  packages/webpack-plugin/src/webpack-bundle-analysis/utils/__tests__/processChunks.test.ts
Due: Webpack plugin

update webpack test snapshots
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
Due: none

chore: Update Webpack versions (#206)
  examples/webpack/package.json
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  packages/nextjs-webpack-plugin/package.json
  packages/webpack-plugin/package.json
  packages/webpack-plugin/src/webpack-bundle-analysis/utils/__tests__/processChunks.test.ts
  pnpm-lock.yaml
Due: Webpack plugin

fix: Remove unused regex escape char (#211)
  .changeset/rare-foxes-cheat.md
  packages/bundler-plugin-core/src/utils/normalizePath.ts
Due: Plugin core

bump integration test versions
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/__tests__/__snapshots__/nextJSWebpackBundleAnalysisPlugin.test.ts.snap
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/solidstart-plugin/src/solidstart-bundle-analysis/__tests__/__snapshots__/solidstartBundleAnalysisPlugin.test.ts.snap
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
Due: Rollup plugin, Vite plugin, Webpack plugin

meta: Update docs
  functions/_codecov_bundle_analyzer.index.createAndUploadReport.html
  functions/_codecov_bundler_plugin_core.handleErrors.html
  functions/_codecov_bundler_plugin_core.normalizeOptions.html
  functions/_codecov_nextjs_webpack_plugin.codecovNextJSWebpackPlugin.html
  functions/_codecov_nuxt_plugin.default.html
  functions/_codecov_remix_vite_plugin.codecovRemixVitePlugin.html
  functions/_codecov_rollup_plugin.codecovRollupPlugin.html
  functions/_codecov_solidstart_plugin.codecovSolidStartPlugin.html
  functions/_codecov_sveltekit_plugin.codecovSvelteKitPlugin.html
  functions/_codecov_vite_plugin.codecovVitePlugin.html
  functions/_codecov_webpack_plugin.codecovWebpackPlugin.html
  interfaces/_codecov_bundle_analyzer.options.BundleAnalyzerOptions.html
  interfaces/_codecov_bundler_plugin_core.Options.html
  interfaces/_codecov_bundler_plugin_core.UploadOverrides.html
  modules/_codecov_bundle_analyzer.html
  modules/_codecov_bundle_analyzer.index.html
  modules/_codecov_bundle_analyzer.options.html
  modules/_codecov_bundler_plugin_core.html
  modules/_codecov_nextjs_webpack_plugin.html
  modules/_codecov_nuxt_plugin.html
  modules/_codecov_remix_vite_plugin.html
  modules/_codecov_rollup_plugin.html
  modules/_codecov_solidstart_plugin.html
  modules/_codecov_sveltekit_plugin.html
  modules/_codecov_vite_plugin.html
  modules/_codecov_webpack_plugin.html
Due: none

bump codecov bundler package version
  packages/bundle-analyzer/package.json
  packages/bundler-plugin-core/package.json
  packages/nextjs-webpack-plugin/package.json
  packages/nuxt-plugin/package.json
  packages/remix-vite-plugin/package.json
  packages/rollup-plugin/package.json
  packages/solidstart-plugin/package.json
  packages/sveltekit-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
  pnpm-lock.yaml
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

add changeset
  .changeset/empty-news-flash.md
Due: none

reword changset message
  .changeset/empty-news-flash.md
Due: none

chore: Upgrade codecov plugin versions in our uploads (#202)
  .changeset/empty-news-flash.md
  packages/bundle-analyzer/build.config.ts
  packages/bundle-analyzer/package.json
  packages/bundler-plugin-core/build.config.ts
  packages/bundler-plugin-core/package.json
  packages/nextjs-webpack-plugin/build.config.ts
  packages/nextjs-webpack-plugin/package.json
  packages/nuxt-plugin/build.config.ts
  packages/nuxt-plugin/package.json
  packages/remix-vite-plugin/build.config.ts
  packages/remix-vite-plugin/package.json
  packages/rollup-plugin/build.config.ts
  packages/rollup-plugin/package.json
  packages/solidstart-plugin/build.config.ts
  packages/solidstart-plugin/package.json
  packages/sveltekit-plugin/build.config.ts
  packages/sveltekit-plugin/package.json
  packages/vite-plugin/build.config.ts
  packages/vite-plugin/package.json
  packages/webpack-plugin/build.config.ts
  packages/webpack-plugin/package.json
  pnpm-lock.yaml
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

bump integration test version
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/__tests__/__snapshots__/nextJSWebpackBundleAnalysisPlugin.test.ts.snap
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/solidstart-plugin/src/solidstart-bundle-analysis/__tests__/__snapshots__/solidstartBundleAnalysisPlugin.test.ts.snap
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
Due: Rollup plugin, Vite plugin, Webpack plugin

add dynamicImports to the Chunk type
  packages/bundler-plugin-core/src/types.ts
Due: Plugin core

bump schema version to 3
  packages/bundler-plugin-core/src/utils/Output.ts
Due: Plugin core

collect dynamic imports from base bundler plugins
  .changeset/tame-glasses-compete.md
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/utils/__tests__/processChunks.test.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/utils/processChunks.ts
Due: Rollup plugin, Vite plugin, Webpack plugin

update plugin unit test snapshots
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/__tests__/__snapshots__/nextJSWebpackBundleAnalysisPlugin.test.ts.snap
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/solidstart-plugin/src/solidstart-bundle-analysis/__tests__/__snapshots__/solidstartBundleAnalysisPlugin.test.ts.snap
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
Due: Rollup plugin, Vite plugin, Webpack plugin

add chalk as a dev dep for the webpack plugin
  packages/webpack-plugin/package.json
  pnpm-lock.yaml
Due: Webpack plugin

update integration tests to expect the dynamicImports array and their snapshots
  integration-tests/fixtures/generate-bundle-stats/bundle-analyzer/dotenv-vercel/__snapshots__/bundle-analyzer.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/nextjs/nextjs-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/nuxt/nuxt-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/remix-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/solidstart/solidstart-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/sveltekit-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
Due: none

rename arg and add in better comment
  packages/webpack-plugin/src/webpack-bundle-analysis/utils/processChunks.ts
Due: Webpack plugin

address feedback
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/nextJSWebpackBundleAnalysisPlugin.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/utils/__tests__/processChunks.test.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/utils/processChunks.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Webpack plugin

feat: Collect dynamicImports in plugins (#217)
  .changeset/tame-glasses-compete.md
  integration-tests/fixtures/generate-bundle-stats/bundle-analyzer/dotenv-vercel/__snapshots__/bundle-analyzer.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/nextjs/nextjs-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/nuxt/nuxt-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/remix-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/solidstart/solidstart-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/sveltekit-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  packages/bundler-plugin-core/src/types.ts
  packages/bundler-plugin-core/src/utils/Output.ts
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/__tests__/__snapshots__/nextJSWebpackBundleAnalysisPlugin.test.ts.snap
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/nextJSWebpackBundleAnalysisPlugin.ts
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
  packages/solidstart-plugin/src/solidstart-bundle-analysis/__tests__/__snapshots__/solidstartBundleAnalysisPlugin.test.ts.snap
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
  packages/webpack-plugin/package.json
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/utils/__tests__/processChunks.test.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/utils/processChunks.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
  pnpm-lock.yaml
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

add in astro integration
  .changeset/old-singers-visit.md
  .eslintrc.js
  packages/astro-integration/LICENSE
  packages/astro-integration/README.md
  packages/astro-integration/build.config.ts
  packages/astro-integration/package.json
  packages/astro-integration/src/astro-bundle-analysis/__tests__/astroBundleAnalysisPlugin.test.ts
  packages/astro-integration/src/astro-bundle-analysis/__tests__/getBundleName.test.ts
  packages/astro-integration/src/astro-bundle-analysis/astroBundleAnalysisPlugin.ts
  packages/astro-integration/src/astro-bundle-analysis/getBundleName.ts
  packages/astro-integration/src/index.ts
  packages/astro-integration/tsconfig.json
  packages/astro-integration/typedoc.json
  packages/astro-integration/vitest.config.ts
Due: none

fix test not testing name being passed
  packages/astro-integration/src/astro-bundle-analysis/__tests__/getBundleName.test.ts
Due: none

export plugin return type from plugin core
  .changeset/nine-boxes-help.md
  packages/astro-integration/src/astro-bundle-analysis/__tests__/__snapshots__/astroBundleAnalysisPlugin.test.ts.snap
  packages/bundler-plugin-core/src/index.ts
  packages/bundler-plugin-core/src/types.ts
Due: Plugin core

bump versions in astro package json
  packages/astro-integration/package.json
Due: none

be a bit more specific about keywords in the package.json
  packages/astro-integration/package.json
Due: none

fix up jsdoc typo
  packages/astro-integration/src/index.ts
Due: none

add in example astro app
  examples/astro/.gitignore
  examples/astro/.vscode/extensions.json
  examples/astro/.vscode/launch.json
  examples/astro/README.md
  examples/astro/astro.config.mjs
  examples/astro/package.json
  examples/astro/public/favicon.svg
  examples/astro/src/components/Card.astro
  examples/astro/src/components/Counter.module.css
  examples/astro/src/components/Counter.tsx
  examples/astro/src/env.d.ts
  examples/astro/src/layouts/Layout.astro
  examples/astro/src/pages/index.astro
  examples/astro/src/pages/not-pre-rendered.astro
  examples/astro/tsconfig.json
Due: none

Path conditions:
  Plugin core: any of: packages/bundler-plugin-core/**
  Rollup plugin: any of: packages/rollup-plugin/**
  Vite plugin: any of: packages/vite-plugin/**
  Webpack plugin: any of: packages/webpack-plugin/**
