Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

codecov.yml:

comment:
  layout: "condensed_header, condensed_files, components, condensed_footer"

ai_pr_review:
  enabled: true

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: package_core
      name: Plugin core
      paths:
        - packages/bundler-plugin-core/**
    - component_id: package_rollup
      name: Rollup plugin
      paths:
        - packages/rollup-plugin/**
    - component_id: package_vite
      name: Vite plugin
      paths:
        - packages/vite-plugin/**
    - component_id: package_webpack
      name: Webpack plugin
      paths:
        - packages/webpack-plugin/**

add contents read
  .github/workflows/ci.yml
Due: none

speed up ci
  .github/workflows/ci.yml
Due: none

try reverting logic in suspect commit
  .github/workflows/ci.yml
  examples/oidc/package.json
Due: none

revert
  .github/workflows/ci.yml
  examples/oidc/package.json
Due: none

move the default API value to a const
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
Due: Plugin core

pass down sentry things to getPresignedURL and uploadStats
  packages/bundler-plugin-core/src/utils/Output.ts
Due: Plugin core

update getPreSignedURL and uploadStats to collect spans only around fetching
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
  packages/bundler-plugin-core/src/utils/uploadStats.ts
Due: Plugin core

point to shelter instead of the API on staging
  .github/workflows/ci.yml
Due: none

build: Point Staging Uploads to Shelter (#238)
  .github/workflows/ci.yml
Due: none

feat: Add finer Sentry HTTP Tracing (#237)
  packages/bundler-plugin-core/src/utils/Output.ts
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
  packages/bundler-plugin-core/src/utils/uploadStats.ts
Due: Plugin core

update snapshot versions
  integration-tests/fixtures/generate-bundle-stats/astro/__snapshots__/astro-integration.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  packages/astro-plugin/src/astro-bundle-analysis/__tests__/__snapshots__/astroBundleAnalysisPlugin.test.ts.snap
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/__tests__/__snapshots__/nextJSWebpackBundleAnalysisPlugin.test.ts.snap
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/solidstart-plugin/src/solidstart-bundle-analysis/__tests__/__snapshots__/solidstartBundleAnalysisPlugin.test.ts.snap
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
Due: Rollup plugin, Vite plugin, Webpack plugin

meta: Update docs
  assets/hierarchy.js
  assets/icons.js
  assets/icons.svg
  assets/main.js
  assets/navigation.js
  assets/search.js
  assets/style.css
  functions/_codecov_astro-plugin.default.html
  functions/_codecov_bundle-analyzer.index.createAndUploadReport.html
  functions/_codecov_bundler-plugin-core.handleErrors.html
  functions/_codecov_bundler-plugin-core.normalizeOptions.html
  functions/_codecov_bundler-plugin-core.safeFlushTelemetry.html
  functions/_codecov_nextjs-webpack-plugin.codecovNextJSWebpackPlugin.html
  functions/_codecov_nuxt-plugin.default.html
  functions/_codecov_remix-vite-plugin.codecovRemixVitePlugin.html
  functions/_codecov_rollup-plugin.codecovRollupPlugin.html
  functions/_codecov_solidstart-plugin.codecovSolidStartPlugin.html
  functions/_codecov_sveltekit-plugin.codecovSvelteKitPlugin.html
  functions/_codecov_vite-plugin.codecovVitePlugin.html
  functions/_codecov_webpack-plugin.codecovWebpackPlugin.html
  index.html
  interfaces/_codecov_bundle-analyzer.index.Options.html
  interfaces/_codecov_bundle-analyzer.options.BundleAnalyzerOptions.html
  interfaces/_codecov_bundler-plugin-core.Options.html
  interfaces/_codecov_bundler-plugin-core.UploadOverrides.html
  modules.html
  modules/_codecov_astro-plugin.html
  modules/_codecov_bundle-analyzer.html
  modules/_codecov_bundle-analyzer.index.html
  modules/_codecov_bundle-analyzer.options.html
  modules/_codecov_bundler-plugin-core.html
  modules/_codecov_nextjs-webpack-plugin.html
  modules/_codecov_nuxt-plugin.html
  modules/_codecov_remix-vite-plugin.html
  modules/_codecov_rollup-plugin.html
  modules/_codecov_solidstart-plugin.html
  modules/_codecov_sveltekit-plugin.html
  modules/_codecov_vite-plugin.html
  modules/_codecov_webpack-plugin.html
Due: none

update deps in integration-tests package json
  integration-tests/package.json
Due: none

update lockfile
  pnpm-lock.yaml
Due: none

add in changeset
  .changeset/slimy-ducks-double.md
Due: none

chore: Remove unused solid-start package (#241)
  .changeset/slimy-ducks-double.md
  integration-tests/package.json
  pnpm-lock.yaml
Due: none

feat: Inline `@sentry/core` dependency
  packages/bundler-plugin-core/build.config.ts
  packages/bundler-plugin-core/package.json
Due: Plugin core

add more content to about page
  examples/sveltekit/src/routes/about/+page.svelte
  examples/sveltekit/src/routes/about/+page.ts
Due: none

remove content
  examples/sveltekit/src/routes/sverdle/how-to-play/+page.svelte
Due: none

add in changeset
  .changeset/brown-ears-check.md
Due: none

enable debug mode for cli example
  examples/bundle-analyzer-cli/package.json
Due: none

feat: Inline `@sentry/core` dependency (#242)
  .changeset/brown-ears-check.md
  examples/bundle-analyzer-cli/package.json
  packages/bundler-plugin-core/build.config.ts
  packages/bundler-plugin-core/package.json
  pnpm-lock.yaml
Due: Plugin core

update normalizePath to handle vite legacy builds
  packages/bundler-plugin-core/src/utils/__tests__/normalizePath.test.ts
  packages/bundler-plugin-core/src/utils/normalizePath.ts
Due: Plugin core

bump vitest to latest version
  package.json
  packages/astro-plugin/package.json
  packages/bundle-analyzer/package.json
  packages/bundler-plugin-core/package.json
  packages/nextjs-webpack-plugin/package.json
  packages/nuxt-plugin/package.json
  packages/remix-vite-plugin/package.json
  packages/rollup-plugin/package.json
  packages/solidstart-plugin/package.json
  packages/sveltekit-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
  pnpm-lock.yaml
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

make sure we only run the legacy hash normalization if the path hasn't already been normalized
  packages/bundler-plugin-core/src/utils/normalizePath.ts
Due: Plugin core

add in changeset
  .changeset/empty-hounds-grow.md
Due: none

bump vitest/coverage-v8 to latest
  packages/astro-plugin/package.json
  packages/bundle-analyzer/package.json
  packages/bundler-plugin-core/package.json
  packages/nextjs-webpack-plugin/package.json
  packages/nuxt-plugin/package.json
  packages/remix-vite-plugin/package.json
  packages/rollup-plugin/package.json
  packages/solidstart-plugin/package.json
  packages/sveltekit-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
  pnpm-lock.yaml
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

update normalizePath to take a metaFramework argument
  packages/bundler-plugin-core/src/utils/__tests__/normalizePath.test.ts
  packages/bundler-plugin-core/src/utils/normalizePath.ts
Due: Plugin core

pass metaFramework value in bundle analyzer
  packages/bundle-analyzer/src/assets.test.ts
  packages/bundle-analyzer/src/assets.ts
Due: none

update createRollupAsset to take in metaFramework
  packages/bundler-plugin-core/src/utils/__tests__/createRollupAsset.test.ts
  packages/bundler-plugin-core/src/utils/createRollupAsset.ts
Due: Plugin core

update processAssets to take in metaFramework
  packages/webpack-plugin/src/webpack-bundle-analysis/utils/__tests__/processAssets.test.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/utils/processAssets.ts
Due: Webpack plugin

update nextjs and webpack
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/nextJSWebpackBundleAnalysisPlugin.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Webpack plugin

update rollup based packages
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
Due: Rollup plugin, Vite plugin

adjust regex after testing with gazebo
  packages/bundler-plugin-core/src/utils/__tests__/normalizePath.test.ts
  packages/bundler-plugin-core/src/utils/normalizePath.ts
Due: Plugin core

remove minification
  packages/astro-plugin/build.config.ts
  packages/bundle-analyzer/build.config.ts
  packages/bundler-plugin-core/build.config.ts
  packages/nextjs-webpack-plugin/build.config.ts
  packages/nuxt-plugin/build.config.ts
  packages/remix-vite-plugin/build.config.ts
  packages/rollup-plugin/build.config.ts
  packages/solidstart-plugin/build.config.ts
  packages/sveltekit-plugin/build.config.ts
  packages/vite-plugin/build.config.ts
  packages/webpack-plugin/build.config.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

add in minification changeset
  .changeset/eleven-spies-dance.md
Due: none

remove sourcemap generation
  packages/astro-plugin/build.config.ts
  packages/bundle-analyzer/build.config.ts
  packages/bundler-plugin-core/build.config.ts
  packages/nextjs-webpack-plugin/build.config.ts
  packages/nuxt-plugin/build.config.ts
  packages/remix-vite-plugin/build.config.ts
  packages/rollup-plugin/build.config.ts
  packages/solidstart-plugin/build.config.ts
  packages/sveltekit-plugin/build.config.ts
  packages/vite-plugin/build.config.ts
  packages/webpack-plugin/build.config.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin
