Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

codecov.yml:

comment:
  layout: "condensed_header, condensed_files, components, condensed_footer"

ai_pr_review:
  enabled: true

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: package_core
      name: Plugin core
      paths:
        - packages/bundler-plugin-core/**
    - component_id: package_rollup
      name: Rollup plugin
      paths:
        - packages/rollup-plugin/**
    - component_id: package_vite
      name: Vite plugin
      paths:
        - packages/vite-plugin/**
    - component_id: package_webpack
      name: Webpack plugin
      paths:
        - packages/webpack-plugin/**

build: Setup example repos to send data to staging (#53)
  .changeset/pretty-ghosts-arrive.md
  .github/workflows/ci.yml
  .github/workflows/upload_example_stats.yml
  .gitignore
  examples/next-js/next.config.js
  examples/rollup/package.json
  examples/rollup/rollup.config.ts
  examples/vite/package.json
  examples/vite/vite.config.ts
  examples/webpack/package.json
  examples/webpack/webpack.config.js
  integration-tests/package.json
  packages/rollup-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
  pnpm-lock.yaml
Due: Rollup plugin, Vite plugin, Webpack plugin

update example versions
  examples/next-js/package.json
  examples/vite/package.json
  examples/webpack/package.json
Due: none

fix broken yaml
  .github/workflows/upload_example_stats.yml
Due: none

fix: Yaml was incorrect (#56)
  .github/workflows/upload_example_stats.yml
Due: none

some more issues with the yaml
  .github/workflows/upload_example_stats.yml
Due: none

fix: Round Two fixing example upload workflow (#57)
  .github/workflows/upload_example_stats.yml
Due: none

fix: Round 3 updating example upload yaml
  .github/workflows/upload_example_stats.yml
Due: none

fix: Round 3 updating example upload yaml (#58)
  .github/workflows/upload_example_stats.yml
Due: none

access secrets properly
  .github/workflows/upload_example_stats.yml
Due: none

add new bad response error type
  packages/bundler-plugin-core/src/errors/BadResponseError.ts
Due: Plugin core

fix fetchWithRetry to actually retry if the response is not ok
  packages/bundler-plugin-core/src/utils/__tests__/fetchWithRetry.test.ts
  packages/bundler-plugin-core/src/utils/fetchWithRetry.ts
Due: Plugin core

update tests
  packages/bundler-plugin-core/src/utils/__tests__/getPreSignedURL.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/uploadStats.test.ts
Due: Plugin core

small styling change
  packages/bundler-plugin-core/src/utils/fetchWithRetry.ts
Due: Plugin core

add changeset
  .changeset/fluffy-candles-switch.md
Due: none

allow retrying if fetch throws an error
  packages/bundler-plugin-core/src/utils/fetchWithRetry.ts
Due: Plugin core

fix tests
  packages/bundler-plugin-core/src/utils/__tests__/uploadStats.test.ts
Due: Plugin core

fix: Fetch with retry not actually retrying (#59)
  .changeset/fluffy-candles-switch.md
  packages/bundler-plugin-core/src/errors/BadResponseError.ts
  packages/bundler-plugin-core/src/utils/__tests__/fetchWithRetry.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/getPreSignedURL.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/uploadStats.test.ts
  packages/bundler-plugin-core/src/utils/fetchWithRetry.ts
Due: Plugin core

feat: Add sqlite db to test api (#54)
  integration-tests/test-api/Dockerfile
  integration-tests/test-api/bun.lockb
  integration-tests/test-api/package.json
  integration-tests/test-api/src/index.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

i just need a commit because of a new data model
  examples/next-js/package.json
Due: none

update vite and rollup apps for testing
  examples/rollup/public/index.html
  examples/rollup/src/main.js
  examples/rollup/src/update.js
  examples/vite/src/App.tsx
  examples/vite/src/IndexedLazyComponent/IndexedLazyComponent.tsx
  examples/vite/src/IndexedLazyComponent/index.ts
Due: none

fix the vite app
  examples/vite/src/LazyComponent/LazyComponent.tsx
Due: none

add some extra text to vite example app
  examples/vite/src/App.tsx
Due: none

bring back indexed lazy component
  examples/vite/src/App.tsx
  examples/vite/src/IndexedLazyComponent/IndexedLazyComponent.tsx
  examples/vite/src/IndexedLazyComponent/index.ts
  examples/vite/src/LazyComponent/LazyComponent.tsx
Due: none

access secrets from secrets not envs
  .github/workflows/upload_example_stats.yml
Due: none

run upload steps on branches and pulls
  .github/workflows/upload_example_stats.yml
Due: none

upload coverage reports to staging
  .github/workflows/ci.yml
Due: none

remove stats upload workflow
  .github/workflows/upload_example_stats.yml
Due: none

upload stats from ci workflow after tests run
  .github/workflows/ci.yml
Due: none

wait for both unit and integration tests
  .github/workflows/ci.yml
Due: none

fix typo
  .github/workflows/ci.yml
Due: none

break out of loop when response is okay
  packages/bundler-plugin-core/src/utils/fetchWithRetry.ts
Due: Plugin core

add in changeset
  .changeset/grumpy-icons-hammer.md
Due: none

swap to using codecov cli
  .github/workflows/ci.yml
Due: none

manually start up codecov cli
  .github/workflows/ci.yml
Due: none

remove secrets: inherit
  .github/workflows/ci.yml
Due: none

add in no console lint rule
  .eslintrc.js
Due: none

exclude rule for logging.ts
  packages/bundler-plugin-core/src/utils/logging.ts
Due: Plugin core

build: Upload stats data and coverage reports to staging (#61)
  .changeset/grumpy-icons-hammer.md
  .eslintrc.js
  .github/workflows/ci.yml
  .github/workflows/upload_example_stats.yml
  packages/bundler-plugin-core/src/utils/fetchWithRetry.ts
  packages/bundler-plugin-core/src/utils/logging.ts
Due: Plugin core

update webpack plugin to grab output path, and update tests to use snapshots
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/webpackBundleAnalysisPlugin.test.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Webpack plugin

update vite plugin to grab output path, and update tests to use snapshots
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/viteBundleAnalysisPlugin.test.ts
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
Due: Vite plugin
