Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

add warning informing users that the plugins are currently in alpha
  README.md
  packages/bundler-plugin-core/README.md
  packages/rollup-plugin/README.md
  packages/vite-plugin/README.md
  packages/webpack-plugin/README.md
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

append bundler name option if present
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Rollup plugin, Vite plugin, Webpack plugin

update examples in package readmes
  packages/rollup-plugin/README.md
  packages/vite-plugin/README.md
  packages/webpack-plugin/README.md
Due: Rollup plugin, Vite plugin, Webpack plugin

append output format to bundle name
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Rollup plugin, Vite plugin, Webpack plugin

update integration tests
  integration-tests/fixtures/generate-bundle-stats/rollup-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/webpack-plugin.test.ts
Due: none

add readme for integration tests package
  integration-tests/README.md
Due: none

update bundle name for rollup and webpack readme examples
  packages/rollup-plugin/README.md
  packages/webpack-plugin/README.md
Due: Rollup plugin, Webpack plugin

remove bundler from individual package names
  packages/rollup-plugin/README.md
  packages/vite-plugin/README.md
  packages/webpack-plugin/README.md
Due: Rollup plugin, Vite plugin, Webpack plugin

docs: Add README documentation to root and individual packages. (#28)
  README.md
  integration-tests/README.md
  packages/bundler-plugin-core/README.md
  packages/rollup-plugin/README.md
  packages/vite-plugin/README.md
  packages/webpack-plugin/README.md
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

dont have a url param as the first arg
  integration-tests/test-api/src/index.ts
Due: none

build: Fix up integration test API (#30)
  integration-tests/test-api/src/index.ts
Due: none

update ci yaml to pull in service container
  .github/workflows/ci.yml
Due: none

add in some error tests using the test api for rollup
  integration-tests/fixtures/generate-bundle-stats/rollup-plugin.test.ts
Due: none

fix up port numbers
  .github/workflows/ci.yml
Due: none

add in successful upload integration tests
  integration-tests/fixtures/generate-bundle-stats/rollup-plugin.test.ts
Due: none

remove unused tagged template string
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

quick format fix for rollup integration tests
  integration-tests/fixtures/generate-bundle-stats/rollup-plugin.test.ts
Due: none

add in api integration tests to vite integration tests
  integration-tests/fixtures/generate-bundle-stats/vite-plugin.test.ts
Due: none

move console spy up
  integration-tests/fixtures/generate-bundle-stats/rollup-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite-plugin.test.ts
Due: none

feat: Add in bundle name config option (#26)
  integration-tests/fixtures/generate-bundle-stats/rollup-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/webpack-plugin.test.ts
  packages/bundler-plugin-core/src/bundle-analysis/__tests__/bundleAnalysisPluginFactory.test.ts
  packages/bundler-plugin-core/src/bundle-analysis/bundleAnalysisPluginFactory.ts
  packages/bundler-plugin-core/src/index.ts
  packages/bundler-plugin-core/src/types.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/rollupBundleAnalysisPlugin.test.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/viteBundleAnalysisPlugin.test.ts
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/webpackBundleAnalysisPlugin.test.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

some more progress towards getting webpack playing nicely
  packages/bundler-plugin-core/src/index.ts
  packages/bundler-plugin-core/src/types.ts
  packages/bundler-plugin-core/src/utils/__tests__/normalizePath.test.ts
  packages/bundler-plugin-core/src/utils/normalizePath.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

swap lib from ES2020 to ES2021
  tsconfig.json
Due: none

use includes instead of a direct comparison
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Webpack plugin

create a function for webpack to determine the file format string
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/findFileFormat.test.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/findFileFormat.ts
Due: Webpack plugin

use new findFileFormat function to determine the format string being used
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Webpack plugin

update normalizePath tests to follow a table test format
  packages/bundler-plugin-core/src/utils/__tests__/normalizePath.test.ts
Due: Plugin core

update the rollup plugin to use asset format for assets and chunk format for chunks
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
Due: Rollup plugin

clean up the normalizePath function into it's more finalized version
  packages/bundler-plugin-core/src/utils/__tests__/normalizePath.test.ts
  packages/bundler-plugin-core/src/utils/normalizePath.ts
Due: Plugin core

update the vite plugin to use asset format for assets and chunk format for chunks
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
Due: Vite plugin

turn on dry run for all examples for testing purposes
  examples/next-js/next.config.js
  examples/rollup/rollup.config.ts
  examples/vite/vite.config.ts
  examples/webpack/webpack.config.js
Due: none

refactor of the normalizePath function to escape regex and handle multiple hashes in format string
  packages/bundler-plugin-core/src/utils/normalizePath.ts
Due: Plugin core

use it.each for table test
  packages/bundler-plugin-core/src/utils/__tests__/normalizePath.test.ts
Due: Plugin core

feat: Normalize asset file names (#27)
  examples/next-js/next.config.js
  examples/rollup/rollup.config.ts
  examples/vite/vite.config.ts
  examples/webpack/webpack.config.js
  packages/bundler-plugin-core/src/index.ts
  packages/bundler-plugin-core/src/types.ts
  packages/bundler-plugin-core/src/utils/__tests__/normalizePath.test.ts
  packages/bundler-plugin-core/src/utils/normalizePath.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/findFileFormat.test.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/findFileFormat.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
  tsconfig.json
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

add in keywords and peer deps to rollup package.json file
  packages/rollup-plugin/package.json
Due: Rollup plugin

add in keywords and peer deps to vite package.json file
  packages/vite-plugin/package.json
Due: Vite plugin

add in keywords and peer deps to webpack package.json file
  packages/webpack-plugin/package.json
Due: Webpack plugin

meta: Fix up peer deps, and keywords in package.json files (#32)
  packages/rollup-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
Due: Rollup plugin, Vite plugin, Webpack plugin

add workflows for publishing releases
  .github/workflows/prepare-publish.yml
  .github/workflows/publish.yml
Due: none

add changeset to dev deps
  package.json
  pnpm-lock.yaml
Due: none

init changesets
  .changeset/README.md
  .changeset/config.json
Due: none

Path conditions:
  Plugin core: any of: packages/bundler-plugin-core/**
  Rollup plugin: any of: packages/rollup-plugin/**
  Vite plugin: any of: packages/vite-plugin/**
  Webpack plugin: any of: packages/webpack-plugin/**
