Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

codecov.yml:

comment:
  layout: "condensed_header, condensed_files, components, condensed_footer"

ai_pr_review:
  enabled: true

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: package_core
      name: Plugin core
      paths:
        - packages/bundler-plugin-core/**
    - component_id: package_rollup
      name: Rollup plugin
      paths:
        - packages/rollup-plugin/**
    - component_id: package_vite
      name: Vite plugin
      paths:
        - packages/vite-plugin/**
    - component_id: package_webpack
      name: Webpack plugin
      paths:
        - packages/webpack-plugin/**

update rollup plugin to grab output path, and update tests to use snapshots
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/rollupBundleAnalysisPlugin.test.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
Due: Rollup plugin

update bundle analysis plugin factory test to snapshot as there isn't any functionality tests
  packages/bundler-plugin-core/src/bundle-analysis/__tests__/__snapshots__/bundleAnalysisPluginFactory.test.ts.snap
  packages/bundler-plugin-core/src/bundle-analysis/__tests__/bundleAnalysisPluginFactory.test.ts
Due: Plugin core

update webpack tests to check for outputPath
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-v5-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-v5-plugin.test.ts
Due: none

update vite tests to check for outputPath
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-v4-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-v5-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v4-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v5-plugin.test.ts
Due: none

update rollup tests to check for outputPath
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-v3-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-v4-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-v3-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-v4-plugin.test.ts
Due: none

add in changeset
  .changeset/tasty-adults-design.md
Due: none

fix: Add missing output path (#63)
  .changeset/tasty-adults-design.md
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-v3-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-v4-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-v3-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-v4-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-v4-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-v5-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v4-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v5-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-v5-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-v5-plugin.test.ts
  packages/bundler-plugin-core/src/bundle-analysis/__tests__/__snapshots__/bundleAnalysisPluginFactory.test.ts.snap
  packages/bundler-plugin-core/src/bundle-analysis/__tests__/bundleAnalysisPluginFactory.test.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/rollupBundleAnalysisPlugin.test.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/viteBundleAnalysisPlugin.test.ts
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/webpackBundleAnalysisPlugin.test.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

update package deps
  packages/bundler-plugin-core/package.json
  packages/rollup-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

update integration test deps
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-v3-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-v4-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-v5-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-v5-plugin.test.ts.snap
  integration-tests/package.json
Due: none

update examples deps
  examples/next-js/package.json
  examples/rollup/package.json
  examples/rollup/rollup.config.js
  examples/vite/package.json
  examples/webpack/package.json
Due: none

update root dir deps and lock file
  package.json
  pnpm-lock.yaml
Due: none

add in changeset
  .changeset/calm-points-mix.md
Due: none

remove dryRun from rollup example
  examples/rollup/rollup.config.js
Due: none

build: Update dependencies for making repo public(#64)
  .changeset/calm-points-mix.md
  examples/next-js/package.json
  examples/rollup/package.json
  examples/rollup/rollup.config.js
  examples/vite/package.json
  examples/webpack/package.json
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-v3-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-v4-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-v5-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-v5-plugin.test.ts.snap
  integration-tests/package.json
  package.json
  packages/bundler-plugin-core/package.json
  packages/rollup-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
  pnpm-lock.yaml
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

exit alpha
  .changeset/pre.json
Due: none

update out of alpha
  .changeset/breezy-horses-rule.md
  .changeset/calm-points-mix.md
  .changeset/flat-coats-jump.md
  .changeset/fluffy-candles-switch.md
  .changeset/grumpy-icons-hammer.md
  .changeset/new-chefs-fold.md
  .changeset/poor-cows-kneel.md
  .changeset/pre.json
  .changeset/pretty-ghosts-arrive.md
  .changeset/shy-bottles-shout.md
  .changeset/tasty-adults-design.md
  packages/bundler-plugin-core/CHANGELOG.md
  packages/bundler-plugin-core/package.json
  packages/rollup-plugin/CHANGELOG.md
  packages/rollup-plugin/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/package.json
  packages/webpack-plugin/CHANGELOG.md
  packages/webpack-plugin/package.json
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

move into pre-release beta
  .changeset/pre.json
Due: none

move package version to 0.0.0 so we can get the correct pre-release version
  packages/bundler-plugin-core/package.json
  packages/rollup-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

update changelogs
  packages/bundler-plugin-core/CHANGELOG.md
  packages/rollup-plugin/CHANGELOG.md
  packages/vite-plugin/CHANGELOG.md
  packages/webpack-plugin/CHANGELOG.md
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

get changeset ready
  .changeset/healthy-foxes-joke.md
  .changeset/pre.json
Due: none

move readme from alpha to beta
  README.md
  packages/bundler-plugin-core/README.md
  packages/rollup-plugin/README.md
  packages/vite-plugin/README.md
  packages/webpack-plugin/README.md
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

update vite v4 version
  integration-tests/package.json
Due: none

update pnpm yaml
  pnpm-lock.yaml
Due: none

fix: Update Vite v4 in integration tests (#68)
  integration-tests/package.json
  pnpm-lock.yaml
Due: none

build: Move from Alpha to Beta (#66)
  .changeset/breezy-horses-rule.md
  .changeset/calm-points-mix.md
  .changeset/flat-coats-jump.md
  .changeset/fluffy-candles-switch.md
  .changeset/grumpy-icons-hammer.md
  .changeset/healthy-foxes-joke.md
  .changeset/new-chefs-fold.md
  .changeset/pre.json
  .changeset/pretty-ghosts-arrive.md
  .changeset/shy-bottles-shout.md
  .changeset/tasty-adults-design.md
  README.md
  packages/bundler-plugin-core/CHANGELOG.md
  packages/bundler-plugin-core/README.md
  packages/bundler-plugin-core/package.json
  packages/rollup-plugin/CHANGELOG.md
  packages/rollup-plugin/README.md
  packages/rollup-plugin/package.json
  packages/vite-plugin/CHANGELOG.md
  packages/vite-plugin/README.md
  packages/vite-plugin/package.json
  packages/webpack-plugin/CHANGELOG.md
  packages/webpack-plugin/README.md
  packages/webpack-plugin/package.json
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

tweak changelogs to merge release to beta changes from exiting alpha pre-release
  packages/bundler-plugin-core/CHANGELOG.md
  packages/rollup-plugin/CHANGELOG.md
  packages/vite-plugin/CHANGELOG.md
  packages/webpack-plugin/CHANGELOG.md
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

Experiment with bundle analyzer CLI
  .eslintrc.js
  examples/plain-js/a.js
  examples/plain-js/package.json
  examples/plain-js/src/b.js
  examples/plain-js/src/c.js
  examples/plain-js/src/common.js
  examples/plain-js/src/d.js
  examples/plain-js/src/main.js
  examples/plain-js/src/nested/extra.js
  packages/bundle-analyzer/CHANGELOG.md
  packages/bundle-analyzer/LICENSE
  packages/bundle-analyzer/README.md
  packages/bundle-analyzer/build.config.ts
  packages/bundle-analyzer/jest.config.ts
  packages/bundle-analyzer/package.json
  packages/bundle-analyzer/src/analyze.ts
  packages/bundle-analyzer/src/bin/index.ts
  packages/bundle-analyzer/src/index.ts
  packages/bundle-analyzer/src/types.ts
  packages/bundle-analyzer/tsconfig.json
  pnpm-lock.yaml
Due: none

add step to ci to upload stats to prod
  .github/workflows/ci.yml
Due: none

build: Add step to ci to upload stats to prod (#73)
  .github/workflows/ci.yml
Due: none

update ci to use repo token in prod data
  .github/workflows/ci.yml
Due: none

add service container to workflow
  .github/workflows/ci.yml
Due: none

update deps etc.
  integration-tests/package.json
  package.json
  pnpm-lock.yaml
Due: none

move to using bun for e2e tests using bun shell
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-v4-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-v5-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/vite-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v4-config.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v4-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v5-config.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v5-plugin.test.ts
Due: none

run new e2e tests
  .github/workflows/ci.yml
Due: none

rename config to template
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v4-config-template.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v5-config-template.ts
Due: none

update tests to hopefully work properly
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/vite-plugin.test.ts
Due: none

add in logs to test-api when grabbing stats
  integration-tests/test-api/src/index.ts
Due: none

get webpack up and running
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-v5-config-template.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-v5-plugin.test.ts
Due: none

get rollup tests up and running
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-v3-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-v4-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-v3-config-template.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-v3-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-v4-config-template.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-v4-plugin.test.ts
Due: none

adjust ids in vite-plugin
  integration-tests/fixtures/generate-bundle-stats/vite/vite-plugin.test.ts
Due: none
