Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

update webpack plugin to vitest
  packages/webpack-plugin/jest.config.ts
  packages/webpack-plugin/package.json
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/findFileFormat.test.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/webpackBundleAnalysisPlugin.test.ts
  packages/webpack-plugin/tsconfig.json
  packages/webpack-plugin/vitest.config.ts
Due: Webpack plugin

update lockfile and runtime scripts
  package.json
  pnpm-lock.yaml
Due: none

remove last bit of jest
  packages/bundler-plugin-core/tsconfig.json
Due: Plugin core

remove helper functions that were removed
  packages/bundler-plugin-core/src/utils/__tests__/buildEndHelper.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/buildStartHelper.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/writeBundleHelper.test.ts
  packages/bundler-plugin-core/src/utils/buildEndHelper.ts
  packages/bundler-plugin-core/src/utils/buildStartHelper.ts
  packages/bundler-plugin-core/src/utils/writeBundleHelper.ts
Due: Plugin core

update Ouput tests to vitest
  packages/bundler-plugin-core/src/utils/__tests__/Output.test.ts
Due: Plugin core

create shared vitest config
  package.json
  pnpm-lock.yaml
  tsconfig.json
  vitest.shared.ts
Due: none

update bundler core
  packages/bundler-plugin-core/package.json
  packages/bundler-plugin-core/vitest.config.ts
Due: Plugin core

update rollup plugin
  packages/rollup-plugin/package.json
  packages/rollup-plugin/vitest.config.ts
Due: Rollup plugin

update package json
  packages/vite-plugin/package.json
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/vitest.config.ts
Due: Vite plugin

update webpack
  packages/webpack-plugin/package.json
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/vitest.config.ts
Due: Webpack plugin

dont run ci tests in watch mode
  packages/bundler-plugin-core/package.json
  packages/rollup-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
  vitest.shared.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

remove max workers
  .github/workflows/ci.yml
Due: none

remove nuxt stuff ... that's for later
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
Due: Vite plugin

remove these path aliases as they're not used
  packages/rollup-plugin/tsconfig.json
  packages/vite-plugin/tsconfig.json
  packages/webpack-plugin/tsconfig.json
Due: Rollup plugin, Vite plugin, Webpack plugin

add in example nuxt app
  examples/nuxt/.gitignore
  examples/nuxt/README.md
  examples/nuxt/app.vue
  examples/nuxt/nuxt.config.ts
  examples/nuxt/package.json
  examples/nuxt/public/favicon.ico
  examples/nuxt/server/tsconfig.json
  examples/nuxt/tsconfig.json
  pnpm-lock.yaml
Due: none

update package names for other example apps
  examples/next-js/package.json
  examples/rollup/package.json
  examples/vite/package.json
  examples/webpack/package.json
Due: none

update to unplugin v1.10.1
  .eslintrc.js
  packages/bundler-plugin-core/package.json
  packages/rollup-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
  pnpm-lock.yaml
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

add in new option to lock out bundle name and plugin details in Output class
  packages/bundler-plugin-core/src/utils/Output.ts
  packages/nuxt-plugin/src/nuxt-bundle-analysis/nuxtBundleAnalysisPlugin.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

setup testing nuxt example
  examples/nuxt/nuxt.config.ts
  examples/nuxt/package.json
Due: none

intial nuxt plugin implementation
  packages/nuxt-plugin/LICENSE
  packages/nuxt-plugin/README.md
  packages/nuxt-plugin/build.config.ts
  packages/nuxt-plugin/package.json
  packages/nuxt-plugin/src/index.ts
  packages/nuxt-plugin/tsconfig.json
  packages/nuxt-plugin/typedoc.json
  packages/nuxt-plugin/vitest.config.ts
Due: none

add in Nuxt plugin
  .changeset/little-knives-hunt.md
Due: none

be less specific about plugin versions for workspace packages
  examples/nuxt/package.json
  packages/nuxt-plugin/package.json
Due: none

adjust lock file
  pnpm-lock.yaml
Due: none

ignore scripts on initial dep install
  .github/workflows/ci.yml
Due: none

add in more ignoring of install scripts
  .github/workflows/ci.yml
Due: none

set the bundle name from package json name
  packages/bundler-plugin-core/build.config.ts
  packages/nuxt-plugin/build.config.ts
  packages/rollup-plugin/build.config.ts
  packages/vite-plugin/build.config.ts
  packages/webpack-plugin/build.config.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

add in setter and getters for bundle name and plugin details
  packages/bundler-plugin-core/src/utils/Output.ts
  packages/bundler-plugin-core/src/utils/__tests__/Output.test.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

tweak build configs for grabbing package json details
  packages/bundler-plugin-core/build.config.ts
  packages/rollup-plugin/build.config.ts
  packages/vite-plugin/build.config.ts
  packages/webpack-plugin/build.config.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

add in workspace for nuxt
  pnpm-workspace.yaml
Due: none

remove post install script from nuxt
  examples/nuxt/package.json
Due: none

update gen-config script to be a class
  integration-tests/scripts/gen-config.ts
Due: none

update bundler tests to use new gen config class
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-plugin.test.ts
Due: none

final tweaks to the nuxt plugin
  packages/nuxt-plugin/build.config.ts
  packages/nuxt-plugin/src/index.ts
  packages/nuxt-plugin/src/nuxt-bundle-analysis/nuxtBundleAnalysisPlugin.ts
Due: none

get integration tests up and running
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/nuxt/nuxt-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/nuxt/nuxt-plugin.test.ts
  integration-tests/package.json
  integration-tests/test-apps/nuxt/.gitignore
  integration-tests/test-apps/nuxt/README.md
  integration-tests/test-apps/nuxt/app.vue
  integration-tests/test-apps/nuxt/package.json
  integration-tests/test-apps/nuxt/public/favicon.ico
  integration-tests/test-apps/nuxt/server/tsconfig.json
  integration-tests/test-apps/nuxt/tsconfig.json
  integration-tests/tsconfig.json
  pnpm-lock.yaml
Due: none

add in multi-column primary key and also require id for grabbing by bundle name
  integration-tests/test-api/src/index.ts
Due: none

fix: Small tweak to table and endpoint in integration test-api (#122)
  integration-tests/test-api/src/index.ts
Due: none

add in unit test for nuxt plugin
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/nuxtBundleAnalysisPlugin.test.ts
Due: none

setup example nuxt app to upload stats
  examples/nuxt/nuxt.config.ts
Due: none

small tweaks to workflow
  .github/workflows/ci.yml
Due: none

Path conditions:
  Plugin core: any of: packages/bundler-plugin-core/**
  Rollup plugin: any of: packages/rollup-plugin/**
  Vite plugin: any of: packages/vite-plugin/**
  Webpack plugin: any of: packages/webpack-plugin/**
