Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

update rollup plugin to remove map files
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
Due: Rollup plugin

update rollup integration tests to check for no source maps
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-base.config.cjs
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-plugin.test.ts
Due: none

update vite plugin to remove map files
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
Due: Vite plugin

update vite integration tests to check for no source maps
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/vite-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-plugin.test.ts
Due: none

update webpack integration tests to check for no source maps
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-base.config.cjs
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-plugin.test.ts
Due: none

add in script to update snapshots
  integration-tests/package.json
Due: none

update gen config script to handle turning on and off snapshots
  integration-tests/scripts/gen-config.ts
Due: none

add back in cache stuff
  .github/workflows/ci.yml
  .github/workflows/publish.yml
Due: none

build: Fix publish CI for publishing docs (#108)
  .github/workflows/ci.yml
  .github/workflows/publish.yml
  .github/workflows/test-api-ci.yml
  .github/workflows/typedoc-manual-deploy.yml
  codecov.yml
Due: none

fix: normalizePath does not handle all base64 characters (#110)
  .changeset/warm-feet-cry.md
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  packages/bundler-plugin-core/src/utils/__tests__/normalizePath.test.ts
  packages/bundler-plugin-core/src/utils/normalizePath.ts
Due: Plugin core

ref: Remove source maps from bundle stats (#111)
  .changeset/chilled-eagles-protect.md
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-base.config.cjs
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/vite-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-base.config.cjs
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-plugin.test.ts
  integration-tests/package.json
  integration-tests/scripts/gen-config.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Rollup plugin, Vite plugin, Webpack plugin

meta: Update docs
  assets/search.js
  functions/_codecov_rollup_plugin.codecovRollupPlugin.html
  functions/_codecov_vite_plugin.codecovVitePlugin.html
  functions/_codecov_webpack_plugin.codecovWebpackPlugin.html
  interfaces/_codecov_bundler_plugin_core.Options.html
  interfaces/_codecov_bundler_plugin_core.UploadOverrides.html
  modules/_codecov_bundler_plugin_core.html
  modules/_codecov_rollup_plugin.html
  modules/_codecov_vite_plugin.html
  modules/_codecov_webpack_plugin.html
Due: none

update workflow to call the right script
  .github/workflows/publish.yml
Due: none

fix: Update publish workflow to call the right script (#113)
  .github/workflows/publish.yml
Due: none

update plugin docs to direct people to the docs for uploading coverage and link to config docs
  packages/rollup-plugin/README.md
  packages/vite-plugin/README.md
  packages/webpack-plugin/README.md
Due: Rollup plugin, Vite plugin, Webpack plugin

add disclaimer to the bundle plugin core repo as well as config docs
  packages/bundler-plugin-core/README.md
Due: Plugin core

add in link to config docs in root readme
  README.md
Due: none

add in new column, and endpoint to grab stats via the bundle name
  integration-tests/test-api/src/index.ts
Due: none

add unqiue constraint to bundle_name column
  integration-tests/test-api/src/index.ts
Due: none

feat: Update integration test-api to fetching via bundle name (#115)
  integration-tests/test-api/src/index.ts
Due: none

docs: Add in disclaimer in the plugin README's (#114)
  README.md
  packages/bundler-plugin-core/README.md
  packages/rollup-plugin/README.md
  packages/vite-plugin/README.md
  packages/webpack-plugin/README.md
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

remove unused gha else if branch
  packages/bundler-plugin-core/src/utils/providers/GitHubActions.ts
Due: Plugin core

add in debug option to bundler plugins
  packages/bundler-plugin-core/src/types.ts
  packages/bundler-plugin-core/src/utils/__tests__/normalizeOptions.test.ts
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
Due: Plugin core

add in log for the commit sha that's being uploaded
  packages/bundler-plugin-core/src/bundle-analysis/bundleAnalysisPluginFactory.ts
Due: Plugin core

fix type issues
  packages/bundler-plugin-core/src/bundle-analysis/__tests__/bundleAnalysisPluginFactory.test.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/rollupBundleAnalysisPlugin.test.ts
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/viteBundleAnalysisPlugin.test.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/webpackBundleAnalysisPlugin.test.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

add in changeset
  .changeset/popular-chicken-confess.md
Due: none

feat: Add in debug option, and log out short sha for commit being uploaded (#117)
  .changeset/popular-chicken-confess.md
  packages/bundler-plugin-core/src/bundle-analysis/__tests__/bundleAnalysisPluginFactory.test.ts
  packages/bundler-plugin-core/src/bundle-analysis/bundleAnalysisPluginFactory.ts
  packages/bundler-plugin-core/src/types.ts
  packages/bundler-plugin-core/src/utils/__tests__/normalizeOptions.test.ts
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
  packages/bundler-plugin-core/src/utils/providers/GitHubActions.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/rollupBundleAnalysisPlugin.test.ts
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/viteBundleAnalysisPlugin.test.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/webpackBundleAnalysisPlugin.test.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

meta: Update docs
  assets/search.js
  functions/_codecov_rollup_plugin.codecovRollupPlugin.html
  functions/_codecov_vite_plugin.codecovVitePlugin.html
  functions/_codecov_webpack_plugin.codecovWebpackPlugin.html
  index.html
  interfaces/_codecov_bundler_plugin_core.Options.html
  interfaces/_codecov_bundler_plugin_core.UploadOverrides.html
  modules/_codecov_bundler_plugin_core.html
  modules/_codecov_rollup_plugin.html
  modules/_codecov_vite_plugin.html
  modules/_codecov_webpack_plugin.html
Due: none

add unplugin dep to vite package
  packages/vite-plugin/package.json
  pnpm-lock.yaml
Due: Vite plugin

rename from factory to helper
  packages/bundler-plugin-core/src/utils/buildEndHelper.ts
  packages/bundler-plugin-core/src/utils/buildStartHelper.ts
  packages/bundler-plugin-core/src/utils/writeBundleFactory.ts
  packages/bundler-plugin-core/src/utils/writeBundleHelper.ts
Due: Plugin core

update exports
  packages/bundler-plugin-core/src/index.ts
Due: Plugin core

make new function to check node version, and export more functions
  packages/bundler-plugin-core/src/index.ts
  packages/bundler-plugin-core/src/utils/checkNodeVersion.ts
Due: Plugin core

update snap shot
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
Due: none

add in tests for new helpers
  packages/bundler-plugin-core/src/utils/__tests__/buildEndHelper.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/buildStartHelper.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/writeBundleHelper.test.ts
Due: Plugin core

add inline replace for plugin name and version
  packages/vite-plugin/build.config.ts
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
Due: Vite plugin

use new helpers instead of factory functions
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
Due: Vite plugin

fix up last remaining test for vite plugin
  packages/vite-plugin/jest.config.ts
  packages/vite-plugin/package.json
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
Due: Vite plugin

more progress moving vite to be composable
  packages/bundler-plugin-core/src/index.ts
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
Due: Plugin core, Vite plugin

update vite plugin to create it's own plugin
  packages/vite-plugin/src/index.ts
Due: Vite plugin

slight change to doc string
  packages/vite-plugin/src/index.ts
Due: Vite plugin

Path conditions:
  Plugin core: any of: packages/bundler-plugin-core/**
  Rollup plugin: any of: packages/rollup-plugin/**
  Vite plugin: any of: packages/vite-plugin/**
  Webpack plugin: any of: packages/webpack-plugin/**
