Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

codecov.yml:

comment:
  layout: "condensed_header, condensed_files, components, condensed_footer"

ai_pr_review:
  enabled: true

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: package_core
      name: Plugin core
      paths:
        - packages/bundler-plugin-core/**
    - component_id: package_rollup
      name: Rollup plugin
      paths:
        - packages/rollup-plugin/**
    - component_id: package_vite
      name: Vite plugin
      paths:
        - packages/vite-plugin/**
    - component_id: package_webpack
      name: Webpack plugin
      paths:
        - packages/webpack-plugin/**

update node and pnpm action versions
  .github/workflows/ci.yml
Due: none

update version of the cache action
  .github/workflows/ci.yml
Due: none

update test snapshots with new version
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
Due: Rollup plugin, Vite plugin, Webpack plugin

meta: Update docs
  functions/_codecov_bundler_plugin_core.handleErrors.html
  functions/_codecov_bundler_plugin_core.normalizeOptions.html
  functions/_codecov_nuxt_plugin.default.html
  functions/_codecov_remix_vite_plugin.codecovRemixVitePlugin.html
  functions/_codecov_rollup_plugin.codecovRollupPlugin.html
  functions/_codecov_sveltekit_plugin.codecovSvelteKitPlugin.html
  functions/_codecov_vite_plugin.codecovVitePlugin.html
  functions/_codecov_webpack_plugin.codecovWebpackPlugin.html
  interfaces/_codecov_bundler_plugin_core.Options.html
  interfaces/_codecov_bundler_plugin_core.UploadOverrides.html
  modules/_codecov_bundler_plugin_core.html
  modules/_codecov_nuxt_plugin.html
  modules/_codecov_remix_vite_plugin.html
  modules/_codecov_rollup_plugin.html
  modules/_codecov_sveltekit_plugin.html
  modules/_codecov_vite_plugin.html
  modules/_codecov_webpack_plugin.html
Due: none

remove temp removal
  packages/bundler-plugin-core/src/utils/preProcessBody.ts
Due: Plugin core

feat: Grab compare SHA for GH pre-merge commits (#147)
  .github/workflows/ci.yml
  examples/next-js/next.config.js
  examples/nuxt/nuxt.config.ts
  examples/remix/vite.config.ts
  examples/rollup/rollup.config.js
  examples/sveltekit/vite.config.ts
  examples/vite/vite.config.ts
  examples/webpack/webpack.config.js
  packages/bundler-plugin-core/src/types.ts
  packages/bundler-plugin-core/src/utils/__tests__/normalizeOptions.test.ts
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
  packages/bundler-plugin-core/src/utils/providers/GitHubActions.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/GitHubActions.test.ts
Due: Plugin core

update tests so that nulls are happy
  packages/bundler-plugin-core/src/types.ts
Due: Plugin core

update setSlug to return null if not found
  packages/bundler-plugin-core/src/utils/__tests__/provider.test.ts
  packages/bundler-plugin-core/src/utils/provider.ts
Due: Plugin core

update parseSlugFromRemoteAddr to return null instead of empty string
  packages/bundler-plugin-core/src/utils/git.ts
Due: Plugin core

Update packages
  integration-tests/test-apps/solidstart/solid-project/package.json
  integration-tests/test-apps/solidstart/solid-project/tsconfig.json
Due: none

Try workspace
  integration-tests/fixtures/generate-bundle-stats/solidstart/solidstart-plugin.test.ts
Due: none

Add tests
  integration-tests/fixtures/generate-bundle-stats/solidstart/__snapshots__/solidstart-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/solidstart/solidstart-plugin.test.ts
  integration-tests/scripts/gen-config.ts
  integration-tests/test-api/src/index.ts
  integration-tests/test-apps/solidstart/app.config.timestamp_1722273355659.js
  integration-tests/test-apps/solidstart/app.config.timestamp_1722273373908.js
Due: none

Remove console log
  integration-tests/scripts/gen-config.ts
Due: none

Some changes
  examples/solidstart/app.config.timestamp_1722262406157.js
  examples/solidstart/package.json
  integration-tests/fixtures/generate-bundle-stats/solidstart/solidstart-plugin.test.ts
  integration-tests/test-api/src/index.ts
  integration-tests/test-apps/nuxt/nuxt.config.ts
  integration-tests/test-apps/solidstart/package.json
  packages/solidstart-plugin/CHANGELOG.md
Due: none

Update examples
  integration-tests/fixtures/generate-bundle-stats/solidstart/app-base.config.ts
  packages/solidstart-plugin/README.md
  packages/solidstart-plugin/src/index.ts
Due: none

update tests
  integration-tests/fixtures/generate-bundle-stats/solidstart/__snapshots__/solidstart-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/solidstart/solidstart-plugin.test.ts
  integration-tests/test-apps/solidstart/app.config.timestamp_1722273355659.js
  integration-tests/test-apps/solidstart/app.config.timestamp_1722273373908.js
Due: none

Add api url
  integration-tests/fixtures/generate-bundle-stats/solidstart/__snapshots__/solidstart-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/solidstart/app-base.config.ts
Due: none

Update app.config.ts
  examples/solidstart/app.config.ts
Due: none

Add changeset
  .changeset/gorgeous-donuts-complain.md
Due: none

Example stats staging
  .github/workflows/ci.yml
Due: none

Update ci yml
  .github/workflows/ci.yml
Due: none

add in missing changeset
  .changeset/early-years-walk.md
Due: none

correct base version of solidstart plugin
  .changeset/pre.json
Due: none

bump versions in snapshots
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/solidstart-plugin/src/solidstart-bundle-analysis/__tests__/__snapshots__/solidstartBundleAnalysisPlugin.test.ts.snap
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
Due: Rollup plugin, Vite plugin, Webpack plugin

meta: Update docs
  assets/navigation.js
  assets/search.js
  functions/_codecov_bundler_plugin_core.handleErrors.html
  functions/_codecov_bundler_plugin_core.normalizeOptions.html
  functions/_codecov_nuxt_plugin.default.html
  functions/_codecov_remix_vite_plugin.codecovRemixVitePlugin.html
  functions/_codecov_rollup_plugin.codecovRollupPlugin.html
  functions/_codecov_solidstart_plugin.codecovSolidStartPlugin.html
  functions/_codecov_sveltekit_plugin.codecovSvelteKitPlugin.html
  functions/_codecov_vite_plugin.codecovVitePlugin.html
  functions/_codecov_webpack_plugin.codecovWebpackPlugin.html
  interfaces/_codecov_bundler_plugin_core.Options.html
  interfaces/_codecov_bundler_plugin_core.UploadOverrides.html
  modules/_codecov_bundler_plugin_core.html
  modules/_codecov_nuxt_plugin.html
  modules/_codecov_remix_vite_plugin.html
  modules/_codecov_rollup_plugin.html
  modules/_codecov_solidstart_plugin.html
  modules/_codecov_sveltekit_plugin.html
  modules/_codecov_vite_plugin.html
  modules/_codecov_webpack_plugin.html
Due: none

add in @actions/github to get GHA context
  packages/bundler-plugin-core/package.json
  pnpm-lock.yaml
Due: Plugin core

update GHA sha and compare sha to use payload context from gha package
  packages/bundler-plugin-core/src/utils/providers/GitHubActions.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/GitHubActions.test.ts
Due: Plugin core

add in changeset
  .changeset/warm-moles-float.md
Due: none

slight tweak to changeset changes
  .changeset/warm-moles-float.md
Due: none

tidy up conditional checks
  packages/bundler-plugin-core/src/utils/providers/GitHubActions.ts
Due: Plugin core

ref: GHA provider to use @actions/github (#152)
  .changeset/warm-moles-float.md
  packages/bundler-plugin-core/package.json
  packages/bundler-plugin-core/src/utils/providers/GitHubActions.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/GitHubActions.test.ts
  pnpm-lock.yaml
Due: Plugin core

remove NoUploadTokenError
  packages/bundler-plugin-core/src/errors/NoUploadTokenError.ts
Due: Plugin core

update getPreSignedURL to remove requirement for uploadToken
  packages/bundler-plugin-core/src/utils/__tests__/getPreSignedURL.test.ts
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

update Output tests
  packages/bundler-plugin-core/src/utils/__tests__/Output.test.ts
Due: Plugin core

add in changeset
  .changeset/kind-camels-give.md
Due: none
