Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

codecov.yml:

comment:
  layout: "condensed_header, condensed_files, components, condensed_footer"

ai_pr_review:
  enabled: true

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: package_core
      name: Plugin core
      paths:
        - packages/bundler-plugin-core/**
    - component_id: package_rollup
      name: Rollup plugin
      paths:
        - packages/rollup-plugin/**
    - component_id: package_vite
      name: Vite plugin
      paths:
        - packages/vite-plugin/**
    - component_id: package_webpack
      name: Webpack plugin
      paths:
        - packages/webpack-plugin/**

be a little more explicit on package names
  examples/next-js/package.json
  examples/rollup/package.json
  examples/vite/package.json
  examples/webpack/package.json
  integration-tests/package.json
  packages/bundler-plugin-core/package.json
  packages/rollup-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

add in 0.0.1-alpha change log
  .changeset/sweet-lemons-add.md
Due: none

update prepare-publish workflow
  .github/workflows/prepare-publish.yml
Due: none

use double quotes instead of single quotes
  .github/workflows/publish.yml
Due: none

remove readme from .changeset dir
  .changeset/README.md
Due: none

build: Setup npm release flow (#33)
  .changeset/config.json
  .changeset/sweet-lemons-add.md
  .github/workflows/prepare-publish.yml
  .github/workflows/publish.yml
  examples/next-js/package.json
  examples/rollup/package.json
  examples/vite/package.json
  examples/webpack/package.json
  integration-tests/package.json
  package.json
  packages/bundler-plugin-core/package.json
  packages/rollup-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
  pnpm-lock.yaml
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

add pnpm version to prepare-publish workflow
  .github/workflows/prepare-publish.yml
Due: none

add pnpm version to publish workflow
  .github/workflows/publish.yml
Due: none

swap to only patch release
  .changeset/sweet-lemons-add.md
Due: none

swap to pre-release mode
  .changeset/pre.json
  .changeset/sweet-lemons-add.md
Due: none

swap pre-release tag to alpha
  .changeset/pre.json
Due: none

remove alpha from package json
  packages/bundler-plugin-core/package.json
  packages/rollup-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

build: Quick fixes to release workflow (#35)
  .changeset/pre.json
  .changeset/sweet-lemons-add.md
  .github/workflows/prepare-publish.yml
  .github/workflows/publish.yml
  packages/bundler-plugin-core/package.json
  packages/rollup-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

swap version numbers to zero
  packages/bundler-plugin-core/package.json
  packages/rollup-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

add in base changeset file
  .changeset/poor-cows-kneel.md
Due: none

build: Add in base patch changeset to get a version number live (#36)
  .changeset/poor-cows-kneel.md
  packages/bundler-plugin-core/package.json
  packages/rollup-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

fix typos in readmes
  packages/rollup-plugin/README.md
  packages/vite-plugin/README.md
  packages/webpack-plugin/README.md
Due: Rollup plugin, Vite plugin, Webpack plugin

move test packages to devDeps
  packages/bundler-plugin-core/package.json
  pnpm-lock.yaml
Due: Plugin core

add changeset for updating location of test deps for bundler core
  .changeset/shy-bottles-shout.md
Due: none

move webpack to just a peer deep
  packages/webpack-plugin/package.json
  pnpm-lock.yaml
Due: Webpack plugin

update webpack plugin to remove reference to webpack 4
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Webpack plugin

add in changeset log
  .changeset/flat-coats-jump.md
Due: none

add older versions and alias bundler deps
  integration-tests/package.json
  pnpm-lock.yaml
Due: none

add rollup v3 tests
  integration-tests/fixtures/generate-bundle-stats/rollup-plugin.test.ts
Due: none

add vite v4 tests
  integration-tests/fixtures/generate-bundle-stats/vite-plugin.test.ts
Due: none

specify webpack v5 in webpack e2e tests
  integration-tests/fixtures/generate-bundle-stats/webpack-plugin.test.ts
Due: none

docs, build: Fix few typos and dep placement (#39)
  .changeset/shy-bottles-shout.md
  packages/bundler-plugin-core/package.json
  packages/rollup-plugin/README.md
  packages/vite-plugin/README.md
  packages/webpack-plugin/README.md
  pnpm-lock.yaml
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

run in band to see if that fixes things
  integration-tests/package.json
Due: none

temp remove max workers from matrix tests
  .github/workflows/ci.yml
Due: none

this experiment did not work
  .github/workflows/ci.yml
  integration-tests/package.json
Due: none

let's try a percentage rather then a direct number
  .github/workflows/ci.yml
Due: none

add webpack v5 as a dev dep
  packages/webpack-plugin/package.json
  pnpm-lock.yaml
Due: Webpack plugin

import webpack v5
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Webpack plugin

swap back to two workers, and only pin to major node versions
  .github/workflows/ci.yml
Due: none

supress webpack warning for only using hash
  integration-tests/fixtures/generate-bundle-stats/webpack-plugin.test.ts
Due: none

move webpack as a peer dep cause as a dev dep it broke everything ...
  packages/webpack-plugin/package.json
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
  pnpm-lock.yaml
Due: Webpack plugin

lets try different test files for different versions
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-v3-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-v4-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v4-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v5-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-v5-plugin.test.ts
Due: none

force trace warning output to see what's going on
  integration-tests/package.json
Due: none

making the files mts may fix the problems?
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v4-plugin.test.mts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v5-plugin.test.mts
  integration-tests/jest.config.ts
Due: none

add webpack as a dev dep remove alias
  packages/webpack-plugin/package.json
  pnpm-lock.yaml
Due: Webpack plugin
