Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

update bundle names in templates
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v4-config-template.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v5-config-template.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-v5-config-template.ts
Due: none

swap to using strings for ids as well move setup and teardown into beforeEach and afterEach
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-v3-config-template.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-v4-config-template.ts
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/vite-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v4-config-template.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v5-config-template.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-v5-config-template.ts
Due: none

update command
  integration-tests/package.json
Due: none

remove e2e new test
  .github/workflows/ci.yml
Due: none

remove jest from integration tests dir
  integration-tests/jest.config.ts
  integration-tests/package.json
  pnpm-lock.yaml
Due: none

tweak configs
  .eslintrc.js
  integration-tests/tsconfig.json
Due: none

redo rollup tests
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-v3.config.cjs
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-v4.config.cjs
Due: none

redo vite tests
  integration-tests/fixtures/generate-bundle-stats/vite/vite-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v4.config.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v5.config.ts
Due: none

redo webpack tests
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-v5.config.cjs
Due: none

ref: Refactor Integration Tests (#75)
  .eslintrc.js
  .github/workflows/ci.yml
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-v3-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-v4-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-v3-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-v3.config.cjs
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-v4-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-v4.config.cjs
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-v4-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-v5-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/vite-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v4-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v4.config.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v5-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-v5.config.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-v5-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-v5.config.cjs
  integration-tests/jest.config.ts
  integration-tests/package.json
  integration-tests/test-api/src/index.ts
  integration-tests/tsconfig.json
  package.json
  pnpm-lock.yaml
Due: none

update vercel env helper
  packages/bundler-plugin-core/src/utils/providers/Vercel.ts
Due: Plugin core

update tests
  packages/bundler-plugin-core/src/utils/providers/__tests__/Vercel.test.ts
Due: Plugin core

add in changeset
  .changeset/four-houses-drive.md
Due: none

ref(core): Add codecov prefix to log messages
  .changeset/khaki-lions-glow.md
  packages/bundler-plugin-core/src/utils/logging.ts
Due: Plugin core

add link to top of file
  packages/bundler-plugin-core/src/utils/providers/Vercel.ts
Due: Plugin core

ref(core): Add codecov prefix to log messages (#76)
  .changeset/khaki-lions-glow.md
  packages/bundler-plugin-core/src/utils/logging.ts
Due: Plugin core

fix: Manually create Git slug for Vercel (#77)
  .changeset/four-houses-drive.md
  packages/bundler-plugin-core/src/utils/providers/Vercel.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Vercel.test.ts
Due: Plugin core

ref(core): improve logging for upload stats
  .changeset/many-peas-repeat.md
  packages/bundler-plugin-core/src/bundle-analysis/bundleAnalysisPluginFactory.ts
  packages/bundler-plugin-core/src/utils/__tests__/uploadStats.test.ts
  packages/bundler-plugin-core/src/utils/uploadStats.ts
Due: Plugin core

grab branch name from vercel env vars
  packages/bundler-plugin-core/src/utils/providers/Vercel.ts
Due: Plugin core

ref(core): improve logging for upload stats (#79)
  .changeset/many-peas-repeat.md
  packages/bundler-plugin-core/src/bundle-analysis/bundleAnalysisPluginFactory.ts
  packages/bundler-plugin-core/src/utils/__tests__/uploadStats.test.ts
  packages/bundler-plugin-core/src/utils/uploadStats.ts
Due: Plugin core

quickly add optional chaining:
  packages/bundler-plugin-core/src/utils/providers/Vercel.ts
Due: Plugin core

add in changeset
  .changeset/early-phones-prove.md
Due: none

fix: Support grabbing branch in Vercel (#80)
  .changeset/early-phones-prove.md
  packages/bundler-plugin-core/src/utils/providers/Vercel.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Vercel.test.ts
Due: Plugin core

update core config
  packages/bundler-plugin-core/build.config.ts
Due: Plugin core

update rollup config
  packages/rollup-plugin/build.config.ts
Due: Rollup plugin

udpate vite config
  packages/vite-plugin/build.config.ts
Due: Vite plugin

update webpack config
  packages/webpack-plugin/build.config.ts
Due: Webpack plugin

add in changeset
  .changeset/cool-sheep-care.md
Due: none

fix: Keep JSDoc comments in dts files (#82)
  .changeset/cool-sheep-care.md
  packages/bundler-plugin-core/build.config.ts
  packages/rollup-plugin/build.config.ts
  packages/vite-plugin/build.config.ts
  packages/webpack-plugin/build.config.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

update lockfile
  pnpm-lock.yaml
Due: none

update CI workflow
  .github/workflows/ci.yml
Due: none

add plugin to core
  packages/bundler-plugin-core/build.config.ts
  packages/bundler-plugin-core/package.json
Due: Plugin core

add plugin to rollup
  packages/rollup-plugin/build.config.ts
  packages/rollup-plugin/package.json
Due: Rollup plugin

add plugin to vite
  packages/vite-plugin/build.config.ts
  packages/vite-plugin/package.json
Due: Vite plugin

add plugin to webpack
  packages/webpack-plugin/build.config.ts
  packages/webpack-plugin/package.json
Due: Webpack plugin

try and force the env vars when calling build
  .github/workflows/ci.yml
Due: none

that style of brute force did not work
  .github/workflows/ci.yml
Due: none

set env vars before running?
  .github/workflows/ci.yml
Due: none

maybe building the plugins in their directory will work
  .github/workflows/ci.yml
Due: none

Path conditions:
  Plugin core: any of: packages/bundler-plugin-core/**
  Rollup plugin: any of: packages/rollup-plugin/**
  Vite plugin: any of: packages/vite-plugin/**
  Webpack plugin: any of: packages/webpack-plugin/**
