Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

codecov.yml:

comment:
  layout: "condensed_header, condensed_files, components, condensed_footer"

ai_pr_review:
  enabled: true

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: package_core
      name: Plugin core
      paths:
        - packages/bundler-plugin-core/**
    - component_id: package_rollup
      name: Rollup plugin
      paths:
        - packages/rollup-plugin/**
    - component_id: package_vite
      name: Vite plugin
      paths:
        - packages/vite-plugin/**
    - component_id: package_webpack
      name: Webpack plugin
      paths:
        - packages/webpack-plugin/**

move key parts of the bundler plugin factory to their own functions
  packages/bundler-plugin-core/src/utils/buildEndFactory.ts
  packages/bundler-plugin-core/src/utils/buildStartFactory.ts
  packages/bundler-plugin-core/src/utils/writeBundleFactory.ts
Due: Plugin core

add in debug field
  packages/bundler-plugin-core/src/utils/__tests__/writeBundleHelper.test.ts
Due: Plugin core

update root command to update e2e snapshots
  package.json
Due: none

update vite plugin snapshot tests to handle changing version numbers
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/vite-plugin.test.ts
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/viteBundleAnalysisPlugin.test.ts
Due: Vite plugin

assert version directly
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/vite-plugin.test.ts
Due: none

add in new update unit test command to root package json
  package.json
Due: none

integration test snapshot updates
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
Due: none

update webpack plugin to new format
  packages/webpack-plugin/build.config.ts
  packages/webpack-plugin/jest.config.ts
  packages/webpack-plugin/package.json
  packages/webpack-plugin/src/index.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Webpack plugin

update rollup plugin to new format
  packages/rollup-plugin/build.config.ts
  packages/rollup-plugin/jest.config.ts
  packages/rollup-plugin/package.json
  packages/rollup-plugin/src/index.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
Due: Rollup plugin

few tweaks to vite plugin
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/viteBundleAnalysisPlugin.test.ts
Due: Vite plugin

things aren't still fully content
  packages/bundler-plugin-core/package.json
  packages/bundler-plugin-core/src/utils/__tests__/writeBundleHelper.test.ts
  pnpm-lock.yaml
Due: Plugin core

add in changeset
  .changeset/hungry-toes-hide.md
Due: none

update snapshot tests to check for plugin name
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/vite-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-plugin.test.ts
Due: none

fix content-type header in upload stats
  packages/bundler-plugin-core/src/utils/uploadStats.ts
Due: Plugin core

mock out fetch in writeBundleHelper tests
  packages/bundler-plugin-core/src/utils/__tests__/writeBundleHelper.test.ts
Due: Plugin core

remove force exit from main package json test script
  package.json
Due: none

temp skip uploadStats test until vitest migration
  packages/bundler-plugin-core/src/utils/__tests__/uploadStats.test.ts
Due: Plugin core

remove unused bundler core plugin factory
  packages/bundler-plugin-core/src/bundle-analysis/__tests__/__snapshots__/bundleAnalysisPluginFactory.test.ts.snap
  packages/bundler-plugin-core/src/bundle-analysis/__tests__/bundleAnalysisPluginFactory.test.ts
  packages/bundler-plugin-core/src/bundle-analysis/bundleAnalysisPluginFactory.ts
  packages/bundler-plugin-core/src/index.ts
Due: Plugin core

update build start to set plugin name and version
  packages/bundler-plugin-core/src/utils/__tests__/buildStartHelper.test.ts
  packages/bundler-plugin-core/src/utils/buildStartHelper.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

create a class to handle the output just so things are a bit cleaner
  packages/bundler-plugin-core/src/index.ts
  packages/bundler-plugin-core/src/types.ts
  packages/bundler-plugin-core/src/utils/Output.ts
  packages/bundler-plugin-core/src/utils/__tests__/Output.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/buildEndHelper.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/buildStartHelper.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/writeBundleHelper.test.ts
  packages/bundler-plugin-core/src/utils/buildEndHelper.ts
  packages/bundler-plugin-core/src/utils/buildStartHelper.ts
  packages/bundler-plugin-core/src/utils/writeBundleHelper.ts
Due: Plugin core

update bundler plugins to use new class
  packages/rollup-plugin/src/index.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
  packages/webpack-plugin/src/index.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Rollup plugin, Vite plugin, Webpack plugin

remove extra optional chaining
  packages/vite-plugin/src/index.ts
  packages/webpack-plugin/src/index.ts
Due: Vite plugin, Webpack plugin

swap options to userOptions to be a bit more explicit about what the value contains
  packages/bundler-plugin-core/src/utils/Output.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

wrap up tests and changes to output class
  packages/bundler-plugin-core/src/utils/Output.ts
  packages/bundler-plugin-core/src/utils/__tests__/Output.test.ts
Due: Plugin core

small update to bundler plugin tests
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/rollupBundleAnalysisPlugin.test.ts
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/viteBundleAnalysisPlugin.test.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/webpackBundleAnalysisPlugin.test.ts
Due: Rollup plugin, Vite plugin, Webpack plugin

more progress moving vite to be composable
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
Due: Vite plugin

rename from factory to helper
  packages/bundler-plugin-core/src/utils/buildEndHelper.ts
  packages/bundler-plugin-core/src/utils/buildStartHelper.ts
  packages/bundler-plugin-core/src/utils/writeBundleFactory.ts
  packages/bundler-plugin-core/src/utils/writeBundleHelper.ts
Due: Plugin core

add in tests for new helpers
  packages/bundler-plugin-core/src/utils/__tests__/buildEndHelper.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/buildStartHelper.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/writeBundleHelper.test.ts
Due: Plugin core

update vite plugin snapshot tests to handle changing version numbers
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/viteBundleAnalysisPlugin.test.ts
Due: Vite plugin

few tweaks to vite plugin
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/viteBundleAnalysisPlugin.test.ts
Due: Vite plugin

things aren't still fully content
  packages/bundler-plugin-core/src/utils/__tests__/writeBundleHelper.test.ts
Due: Plugin core

update tests to vitest
  packages/bundler-plugin-core/src/utils/__tests__/buildEndHelper.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/buildStartHelper.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/fetchWithRetry.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/getPreSignedURL.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/normalizeOptions.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/normalizePath.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/preProcessBody.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/provider.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/uploadStats.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/validate.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/writeBundleHelper.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/AppVeyorCI.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/AzurePipelines.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Bitbucket.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Bitrise.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Buildkite.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/CircleCI.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Cirrus.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/CloudflarePages.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/CodeBuild.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Drone.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/GitHubActions.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/GitLabCI.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/HerokuCI.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/JenkinsCI.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Local.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Netlify.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Render.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/TeamCity.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/TravisCI.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Vercel.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Werker.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Woodpecker.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/index.test.ts
Due: Plugin core

setup bundler plugin core for vitest
  packages/bundler-plugin-core/jest.config.ts
  packages/bundler-plugin-core/package.json
  packages/bundler-plugin-core/test-utils/helpers.ts
  packages/bundler-plugin-core/tsconfig.json
  packages/bundler-plugin-core/vitest.config.ts
  pnpm-lock.yaml
Due: Plugin core

remove jest deps from bundler core
  packages/bundler-plugin-core/package.json
Due: Plugin core

update rollup tests to vitest
  packages/rollup-plugin/jest.config.ts
  packages/rollup-plugin/package.json
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/rollupBundleAnalysisPlugin.test.ts
  packages/rollup-plugin/tsconfig.json
  packages/rollup-plugin/vitest.config.ts
Due: Rollup plugin

update vite plugin to vitest
  packages/vite-plugin/jest.config.ts
  packages/vite-plugin/package.json
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/viteBundleAnalysisPlugin.test.ts
  packages/vite-plugin/tsconfig.json
  packages/vite-plugin/vitest.config.ts
Due: Vite plugin
