Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

chore: Resolve vite, rollup vulns
  examples/oidc/package.json
  examples/remix/package.json
  examples/sveltekit/package.json
  examples/tokenless/package.json
  examples/vite/package.json
  integration-tests/test-apps/bundle-analyzer/dotenv-vercel/package.json
  integration-tests/test-apps/remix/package.json
  integration-tests/test-apps/sveltekit/package.json
  package.json
  packages/bundle-analyzer/package.json
  packages/nuxt-plugin/package.json
  packages/remix-vite-plugin/package.json
  packages/solidstart-plugin/package.json
  packages/sveltekit-plugin/package.json
  packages/vite-plugin/package.json
  pnpm-lock.yaml
Due: Vite plugin

chore: Add in debug logs for all upload params (#179)
  .changeset/serious-olives-add.md
  examples/bundle-analyzer-cli/package.json
  examples/bundle-analyzer-lib-cjs/analyze.js
  examples/bundle-analyzer-lib-esm/analyze.ts
  packages/bundler-plugin-core/src/utils/fetchWithRetry.ts
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
  packages/bundler-plugin-core/src/utils/providers/AppVeyorCI.ts
  packages/bundler-plugin-core/src/utils/providers/AzurePipelines.ts
  packages/bundler-plugin-core/src/utils/providers/Bitbucket.ts
  packages/bundler-plugin-core/src/utils/providers/Bitrise.ts
  packages/bundler-plugin-core/src/utils/providers/Buildkite.ts
  packages/bundler-plugin-core/src/utils/providers/CircleCI.ts
  packages/bundler-plugin-core/src/utils/providers/Cirrus.ts
  packages/bundler-plugin-core/src/utils/providers/CloudflarePages.ts
  packages/bundler-plugin-core/src/utils/providers/CodeBuild.ts
  packages/bundler-plugin-core/src/utils/providers/Drone.ts
  packages/bundler-plugin-core/src/utils/providers/GitHubActions.ts
  packages/bundler-plugin-core/src/utils/providers/GitLabCI.ts
  packages/bundler-plugin-core/src/utils/providers/HerokuCI.ts
  packages/bundler-plugin-core/src/utils/providers/JenkinsCI.ts
  packages/bundler-plugin-core/src/utils/providers/Local.ts
  packages/bundler-plugin-core/src/utils/providers/Netlify.ts
  packages/bundler-plugin-core/src/utils/providers/Render.ts
  packages/bundler-plugin-core/src/utils/providers/TeamCity.ts
  packages/bundler-plugin-core/src/utils/providers/TravisCI.ts
  packages/bundler-plugin-core/src/utils/providers/Vercel.ts
  packages/bundler-plugin-core/src/utils/providers/Wercker.ts
  packages/bundler-plugin-core/src/utils/providers/Woodpecker.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/AppVeyorCI.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Local.test.ts
Due: Plugin core

add GITHUB_JOB env var to list of env var names
  packages/bundler-plugin-core/src/utils/providers/GitHubActions.ts
Due: Plugin core

add in changeset
  .changeset/twelve-meals-report.md
Due: none

fix: Add missing env var for GitHub Actions (#187)
  .changeset/twelve-meals-report.md
  packages/bundler-plugin-core/src/utils/providers/GitHubActions.ts
Due: Plugin core

bump snapshot versions
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/__tests__/__snapshots__/nextJSWebpackBundleAnalysisPlugin.test.ts.snap
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/solidstart-plugin/src/solidstart-bundle-analysis/__tests__/__snapshots__/solidstartBundleAnalysisPlugin.test.ts.snap
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
Due: Rollup plugin, Vite plugin, Webpack plugin

do not filter out branches for tokenless uploads
  packages/bundler-plugin-core/src/utils/__tests__/getPreSignedURL.test.ts
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

meta: Update docs
  functions/_codecov_bundle_analyzer.index.createAndUploadReport.html
  functions/_codecov_bundler_plugin_core.handleErrors.html
  functions/_codecov_bundler_plugin_core.normalizeOptions.html
  functions/_codecov_nextjs_webpack_plugin.codecovNextJSWebpackPlugin.html
  functions/_codecov_nuxt_plugin.default.html
  functions/_codecov_remix_vite_plugin.codecovRemixVitePlugin.html
  functions/_codecov_rollup_plugin.codecovRollupPlugin.html
  functions/_codecov_solidstart_plugin.codecovSolidStartPlugin.html
  functions/_codecov_sveltekit_plugin.codecovSvelteKitPlugin.html
  functions/_codecov_vite_plugin.codecovVitePlugin.html
  functions/_codecov_webpack_plugin.codecovWebpackPlugin.html
  interfaces/_codecov_bundle_analyzer.options.BundleAnalyzerOptions.html
  interfaces/_codecov_bundler_plugin_core.Options.html
  interfaces/_codecov_bundler_plugin_core.UploadOverrides.html
  modules/_codecov_bundle_analyzer.html
  modules/_codecov_bundle_analyzer.index.html
  modules/_codecov_bundle_analyzer.options.html
  modules/_codecov_bundler_plugin_core.html
  modules/_codecov_nextjs_webpack_plugin.html
  modules/_codecov_nuxt_plugin.html
  modules/_codecov_remix_vite_plugin.html
  modules/_codecov_rollup_plugin.html
  modules/_codecov_solidstart_plugin.html
  modules/_codecov_sveltekit_plugin.html
  modules/_codecov_vite_plugin.html
  modules/_codecov_webpack_plugin.html
Due: none

remove NoUploadTokenError
  packages/bundler-plugin-core/src/errors/NoUploadTokenError.ts
Due: Plugin core

reorder logic in getPreSignedURL to be happy
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

tidy up test
  packages/bundler-plugin-core/src/utils/__tests__/getPreSignedURL.test.ts
Due: Plugin core

add in changeset
  .changeset/big-news-bake.md
Due: none

remove tokenless from tokenless example
  examples/tokenless/vite.config.ts
Due: none

chore(ci): upgrade to v5-beta
  .github/workflows/ci.yml
Due: none

chore: Resolve nextjs vuln
  examples/next-js/package.json
  integration-tests/test-apps/nextjs/package.json
  pnpm-lock.yaml
Due: none

fix next
  packages/nextjs-webpack-plugin/package.json
  pnpm-lock.yaml
Due: none

add changeset
  .changeset/moody-goats-sing.md
Due: none

chore: Resolve rollup vuln
  examples/bundle-analyzer-cli/package.json
  examples/oidc/package.json
  examples/rollup/package.json
  examples/tokenless/package.json
  examples/vite/package.json
  packages/rollup-plugin/package.json
  pnpm-lock.yaml
Due: Rollup plugin

use range for 3.x
  packages/rollup-plugin/package.json
Due: Rollup plugin

add changeset
  .changeset/brave-bikes-wait.md
Due: none

fix package.json within same major version
  package.json
  pnpm-lock.yaml
Due: none

fix rollup version
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
Due: none

fix type checks
  integration-tests/fixtures/generate-bundle-stats/remix/vite-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/sveltekit/vite-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-base.config.ts
  packages/nextjs-webpack-plugin/vitest.config.ts
  packages/nuxt-plugin/vitest.config.ts
  packages/remix-vite-plugin/vitest.config.ts
  packages/solidstart-plugin/vitest.config.ts
  packages/sveltekit-plugin/vitest.config.ts
  packages/vite-plugin/vitest.config.ts
  packages/webpack-plugin/vitest.config.ts
Due: Vite plugin, Webpack plugin

fix versions
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
Due: none

use later version, add changeset
  .changeset/giant-peas-matter.md
  pnpm-lock.yaml
Due: none

fix integration test
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
Due: none

regenerate to get non-vulnerable versions
  integration-tests/package.json
  package.json
  pnpm-lock.yaml
Due: none

fix integration tests
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
Due: none

chore: Resolve vite vulns (#186)
  .changeset/giant-peas-matter.md
  examples/oidc/package.json
  examples/remix/package.json
  examples/sveltekit/package.json
  examples/tokenless/package.json
  examples/vite/package.json
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/vite-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/vite-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/vite-base.config.ts
  integration-tests/package.json
  integration-tests/test-apps/bundle-analyzer/dotenv-vercel/package.json
  integration-tests/test-apps/remix/package.json
  integration-tests/test-apps/sveltekit/package.json
  package.json
  packages/bundle-analyzer/package.json
  packages/nextjs-webpack-plugin/vitest.config.ts
  packages/nuxt-plugin/package.json
  packages/nuxt-plugin/vitest.config.ts
  packages/remix-vite-plugin/package.json
  packages/remix-vite-plugin/vitest.config.ts
  packages/solidstart-plugin/package.json
  packages/solidstart-plugin/vitest.config.ts
  packages/sveltekit-plugin/package.json
  packages/sveltekit-plugin/vitest.config.ts
  packages/vite-plugin/package.json
  packages/vite-plugin/vitest.config.ts
  packages/webpack-plugin/vitest.config.ts
  pnpm-lock.yaml
Due: Vite plugin, Webpack plugin

restore peer dep range
  packages/nextjs-webpack-plugin/package.json
  pnpm-lock.yaml
Due: none

restore range
  packages/rollup-plugin/package.json
Due: Rollup plugin

missed a spot
  integration-tests/package.json
  pnpm-lock.yaml
Due: none

chore: Add tokenless v3 example
  examples/tokenless_v3/.eslintrc.cjs
  examples/tokenless_v3/.gitignore
  examples/tokenless_v3/README.md
  examples/tokenless_v3/index.html
  examples/tokenless_v3/package.json
  examples/tokenless_v3/public/vite.svg
  examples/tokenless_v3/src/App.css
  examples/tokenless_v3/src/App.tsx
  examples/tokenless_v3/src/IndexedLazyComponent/IndexedLazyComponent.tsx
  examples/tokenless_v3/src/IndexedLazyComponent/index.ts
  examples/tokenless_v3/src/LazyComponent/LazyComponent.tsx
  examples/tokenless_v3/src/assets/react.svg
  examples/tokenless_v3/src/index.css
  examples/tokenless_v3/src/main.tsx
  examples/tokenless_v3/src/vite-env.d.ts
  examples/tokenless_v3/tsconfig.json
  examples/tokenless_v3/tsconfig.node.json
  examples/tokenless_v3/vite.config.ts
Due: none

add to ci
  .github/workflows/ci.yml
  examples/tokenless-v3/.eslintrc.cjs
  examples/tokenless-v3/.gitignore
  examples/tokenless-v3/README.md
  examples/tokenless-v3/index.html
  examples/tokenless-v3/package.json
  examples/tokenless-v3/public/vite.svg
  examples/tokenless-v3/src/App.css
  examples/tokenless-v3/src/App.tsx
  examples/tokenless-v3/src/IndexedLazyComponent/IndexedLazyComponent.tsx
  examples/tokenless-v3/src/IndexedLazyComponent/index.ts
  examples/tokenless-v3/src/LazyComponent/LazyComponent.tsx
  examples/tokenless-v3/src/assets/react.svg
  examples/tokenless-v3/src/index.css
  examples/tokenless-v3/src/main.tsx
  examples/tokenless-v3/src/vite-env.d.ts
  examples/tokenless-v3/tsconfig.json
  examples/tokenless-v3/tsconfig.node.json
  examples/tokenless-v3/vite.config.ts
Due: none

fix lockfile
  pnpm-lock.yaml
Due: none

fix env var
  examples/tokenless-v3/vite.config.ts
Due: none

fix build
  packages/rollup-plugin/vitest.config.ts
  pnpm-lock.yaml
Due: Rollup plugin

leave tokenless example as it was
  examples/tokenless/vite.config.ts
Due: none

fix integration tests
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
Due: none

accept any version in test
  integration-tests/fixtures/generate-bundle-stats/nuxt/nuxt-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/remix/remix-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/sveltekit/sveltekit-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-plugin.test.ts
Due: none

Path conditions:
  Plugin core: any of: packages/bundler-plugin-core/**
  Rollup plugin: any of: packages/rollup-plugin/**
  Vite plugin: any of: packages/vite-plugin/**
  Webpack plugin: any of: packages/webpack-plugin/**
