Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

codecov.yml:

comment:
  layout: "condensed_header, condensed_files, components, condensed_footer"

ai_pr_review:
  enabled: true

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: package_core
      name: Plugin core
      paths:
        - packages/bundler-plugin-core/**
    - component_id: package_rollup
      name: Rollup plugin
      paths:
        - packages/rollup-plugin/**
    - component_id: package_vite
      name: Vite plugin
      paths:
        - packages/vite-plugin/**
    - component_id: package_webpack
      name: Webpack plugin
      paths:
        - packages/webpack-plugin/**

update all of the deps
  examples/astro/package.json
  examples/next-js-15/package.json
  examples/nuxt/package.json
  examples/oidc/package.json
  examples/solidstart/package.json
  examples/sveltekit/package.json
  examples/tokenless/package.json
  examples/vite/package.json
  integration-tests/package.json
  integration-tests/test-apps/bundle-analyzer/dotenv-vercel/package.json
  integration-tests/test-apps/nuxt/package.json
  integration-tests/test-apps/remix/package.json
  integration-tests/test-apps/solidstart/package.json
  integration-tests/test-apps/sveltekit/package.json
  package.json
  packages/astro-plugin/package.json
  packages/astro-plugin/src/index.ts
  packages/bundle-analyzer/package.json
  packages/bundler-plugin-core/package.json
  packages/nextjs-webpack-plugin/package.json
  packages/nuxt-plugin/package.json
  packages/remix-vite-plugin/package.json
  packages/rollup-plugin/package.json
  packages/solidstart-plugin/package.json
  packages/sveltekit-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
  pnpm-lock.yaml
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

add in and resolve issues with integration tests
  integration-tests/fixtures/generate-bundle-stats/astro/__snapshots__/astro-integration.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/astro/astro-integration.test.ts
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/vite-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
Due: none

fix type issue in Nuxt module
  packages/nuxt-plugin/src/index.ts
Due: none

add in changeset
  .changeset/neat-beans-yell.md
Due: none

upload astro 5 example app
  .github/workflows/ci.yml
  examples/astro-5/astro.config.mjs
Due: none

missing lock file changes
  pnpm-lock.yaml
Due: none

resolve issue with git service tests
  packages/bundler-plugin-core/src/utils/__tests__/findGitService.test.ts
Due: Plugin core

fix up issues with pnpm workspaces
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

use defineConfig as it reduces the issues with types
  packages/astro-plugin/vitest.config.ts
  packages/bundle-analyzer/vitest.config.ts
  packages/bundler-plugin-core/vitest.config.ts
  packages/nextjs-webpack-plugin/vitest.config.ts
  packages/nuxt-plugin/vitest.config.ts
  packages/remix-vite-plugin/vitest.config.ts
  packages/rollup-plugin/vitest.config.ts
  packages/solidstart-plugin/vitest.config.ts
  packages/sveltekit-plugin/vitest.config.ts
  packages/vite-plugin/vitest.config.ts
  packages/webpack-plugin/vitest.config.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

resolve issues with astro 5 not having hybrid mode
  integration-tests/fixtures/generate-bundle-stats/astro/__snapshots__/astro-integration.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/astro/astro-base.config.mjs
Due: none

bump version number in snapshots
  integration-tests/fixtures/generate-bundle-stats/astro/__snapshots__/astro-integration.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  packages/astro-plugin/src/astro-bundle-analysis/__tests__/__snapshots__/astroBundleAnalysisPlugin.test.ts.snap
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/__tests__/__snapshots__/nextJSWebpackBundleAnalysisPlugin.test.ts.snap
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/solidstart-plugin/src/solidstart-bundle-analysis/__tests__/__snapshots__/solidstartBundleAnalysisPlugin.test.ts.snap
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
Due: Rollup plugin, Vite plugin, Webpack plugin

refactor typedoc plugin to esm
  .gitignore
  typedoc/plugin-remove-references.mjs
Due: none

update references to typedoc plugin
  .eslintrc.js
  typedoc.json
Due: none

add in ci step to see if docs will build successfully
  .github/workflows/ci.yml
Due: none

fix: Issue with building Typedocs (#233)
  .eslintrc.js
  .github/workflows/ci.yml
  .gitignore
  typedoc.json
  typedoc/plugin-remove-references.mjs
Due: none

add to the plugins
  packages/astro-plugin/src/astro-bundle-analysis/__tests__/astroBundleAnalysisPlugin.test.ts
  packages/astro-plugin/src/index.ts
  packages/nextjs-webpack-plugin/src/index.ts
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/__tests__/nextJSWebpackBundleAnalysisPlugin.test.ts
  packages/nuxt-plugin/src/index.ts
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/nuxtBundleAnalysisPlugin.test.ts
  packages/remix-vite-plugin/src/index.ts
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/remixBundleAnalysisPlugin.test.ts
  packages/rollup-plugin/src/index.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/rollupBundleAnalysisPlugin.test.ts
  packages/solidstart-plugin/src/index.ts
  packages/solidstart-plugin/src/solidstart-bundle-analysis/__tests__/solidstartBundleAnalysisPlugin.test.ts
  packages/sveltekit-plugin/src/index.ts
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/viteBundleAnalysisPlugin.test.ts
  packages/webpack-plugin/src/index.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/webpackBundleAnalysisPlugin.test.ts
Due: Rollup plugin, Vite plugin, Webpack plugin

setup Sentry in the bundler plugin core
  packages/bundler-plugin-core/package.json
  packages/bundler-plugin-core/src/index.ts
  packages/bundler-plugin-core/src/sentry/__tests__/telemetry.test.ts
  packages/bundler-plugin-core/src/sentry/__tests__/transports.test.ts
  packages/bundler-plugin-core/src/sentry/telemetry.ts
  packages/bundler-plugin-core/src/sentry/transports.ts
  packages/bundler-plugin-core/src/types.ts
  packages/bundler-plugin-core/src/utils/Output.ts
  packages/bundler-plugin-core/src/utils/__tests__/Output.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/normalizeOptions.test.ts
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
Due: Plugin core

refactor how we define and access the plugin name and version
  packages/astro-plugin/src/astro-bundle-analysis/__tests__/astroBundleAnalysisPlugin.test.ts
  packages/astro-plugin/src/astro-bundle-analysis/astroBundleAnalysisPlugin.ts
  packages/astro-plugin/src/index.ts
  packages/bundler-plugin-core/src/types.ts
  packages/nextjs-webpack-plugin/src/index.ts
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/__tests__/nextJSWebpackBundleAnalysisPlugin.test.ts
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/nextJSWebpackBundleAnalysisPlugin.ts
  packages/nuxt-plugin/src/index.ts
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/nuxtBundleAnalysisPlugin.test.ts
  packages/nuxt-plugin/src/nuxt-bundle-analysis/nuxtBundleAnalysisPlugin.ts
  packages/remix-vite-plugin/src/index.ts
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/remixBundleAnalysisPlugin.test.ts
  packages/remix-vite-plugin/src/remix-bundle-analysis/remixBundleAnalysisPlugin.ts
  packages/rollup-plugin/src/index.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/rollupBundleAnalysisPlugin.test.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
  packages/solidstart-plugin/src/index.ts
  packages/solidstart-plugin/src/solidstart-bundle-analysis/__tests__/solidstartBundleAnalysisPlugin.test.ts
  packages/solidstart-plugin/src/solidstart-bundle-analysis/solidstartBundleAnalysisPlugin.ts
  packages/sveltekit-plugin/src/index.ts
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/sveltekitBundleAnalysisPlugin.test.ts
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/sveltekitBundleAnalysisPlugin.ts
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/viteBundleAnalysisPlugin.test.ts
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
  packages/webpack-plugin/src/index.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/webpackBundleAnalysisPlugin.test.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

add in fix for next js webpack plugin not using the correct webpack
  .changeset/wise-toys-hug.md
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/nextJSWebpackBundleAnalysisPlugin.ts
Due: none

add in changeset
  .changeset/green-goats-thank.md
Due: none

fix type issues
  packages/bundler-plugin-core/src/sentry/__tests__/telemetry.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/provider.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/AppVeyorCI.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/AzurePipelines.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Bitbucket.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Bitrise.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Buildkite.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/CircleCI.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Cirrus.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/CloudflarePages.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/CodeBuild.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Drone.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/GitHubActions.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/GitLabCI.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/HerokuCI.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/JenkinsCI.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Local.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Netlify.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Render.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/TeamCity.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/TravisCI.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Vercel.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Werker.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Woodpecker.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/index.test.ts
Due: Plugin core

add in some more comments
  packages/bundler-plugin-core/src/sentry/telemetry.ts
Due: Plugin core

add op's to the spans
  packages/bundler-plugin-core/src/sentry/telemetry.ts
  packages/bundler-plugin-core/src/utils/Output.ts
  packages/bundler-plugin-core/src/utils/__tests__/Output.test.ts
Due: Plugin core

collect some more info about meta frameworks and bundlers
  packages/astro-plugin/src/index.ts
  packages/bundler-plugin-core/src/sentry/__tests__/telemetry.test.ts
  packages/bundler-plugin-core/src/sentry/telemetry.ts
  packages/nextjs-webpack-plugin/src/index.ts
  packages/nuxt-plugin/src/index.ts
  packages/remix-vite-plugin/src/index.ts
  packages/rollup-plugin/src/index.ts
  packages/solidstart-plugin/src/index.ts
  packages/sveltekit-plugin/src/index.ts
  packages/vite-plugin/src/index.ts
  packages/webpack-plugin/src/index.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

set owner and repo tags
  packages/bundler-plugin-core/src/utils/Output.ts
Due: Plugin core

update lock file
  pnpm-lock.yaml
Due: none

disable telemetry in the integration tests
  integration-tests/fixtures/generate-bundle-stats/astro/astro-base.config.mjs
  integration-tests/fixtures/generate-bundle-stats/nextjs/next-base.config.mjs
  integration-tests/fixtures/generate-bundle-stats/nuxt/nuxt-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/remix/vite-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-base.config.cjs
  integration-tests/fixtures/generate-bundle-stats/solidstart/app-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/sveltekit/vite-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-base.config.cjs
Due: none

Update .changeset/green-goats-thank.md
  .changeset/green-goats-thank.md
Due: none

actually send the sentry config to the Output constructor
  packages/astro-plugin/src/index.ts
  packages/nextjs-webpack-plugin/src/index.ts
  packages/nuxt-plugin/src/index.ts
  packages/remix-vite-plugin/src/index.ts
  packages/rollup-plugin/src/index.ts
  packages/solidstart-plugin/src/index.ts
  packages/sveltekit-plugin/src/index.ts
  packages/vite-plugin/src/index.ts
  packages/webpack-plugin/src/index.ts
Due: Rollup plugin, Vite plugin, Webpack plugin

modify the sverdle route
  examples/sveltekit/src/routes/Header.svelte
  examples/sveltekit/src/routes/about/+page.svelte
  examples/sveltekit/src/routes/sverdle-2/+page.server.ts
  examples/sveltekit/src/routes/sverdle-2/+page.svelte
  examples/sveltekit/src/routes/sverdle-2/game.ts
  examples/sveltekit/src/routes/sverdle-2/how-to-play/+page.svelte
  examples/sveltekit/src/routes/sverdle-2/how-to-play/+page.ts
  examples/sveltekit/src/routes/sverdle-2/reduced-motion.ts
  examples/sveltekit/src/routes/sverdle-2/words.server.ts
Due: none

force transaction span wrapping all of output.write method
  packages/bundler-plugin-core/src/utils/Output.ts
Due: Plugin core

default values to 0 not undefined
  packages/bundler-plugin-core/src/sentry/telemetry.ts
Due: Plugin core

manually set the parent span
  packages/bundler-plugin-core/src/utils/Output.ts
Due: Plugin core

mock out startSpan from Sentry
  packages/bundler-plugin-core/src/utils/__tests__/Output.test.ts
Due: Plugin core

remove mocks for getScope and clone
  packages/bundler-plugin-core/src/utils/__tests__/Output.test.ts
Due: Plugin core

wrap outer span in a try catch to actually throw any errors if they're thrown
  packages/bundler-plugin-core/src/utils/Output.ts
Due: Plugin core

bring back early returns if no provider or upload url
  packages/bundler-plugin-core/src/utils/Output.ts
Due: Plugin core

add in emitError wrapper
  packages/bundler-plugin-core/src/utils/Output.ts
Due: Plugin core

use common naming for telemetry
  packages/astro-plugin/src/index.ts
  packages/bundler-plugin-core/src/sentry/__tests__/telemetry.test.ts
  packages/bundler-plugin-core/src/sentry/telemetry.ts
  packages/nextjs-webpack-plugin/src/index.ts
  packages/nuxt-plugin/src/index.ts
  packages/remix-vite-plugin/src/index.ts
  packages/rollup-plugin/src/index.ts
  packages/solidstart-plugin/src/index.ts
  packages/sveltekit-plugin/src/index.ts
  packages/vite-plugin/src/index.ts
  packages/webpack-plugin/src/index.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin
