Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

codecov.yml:

comment:
  layout: "condensed_header, condensed_files, components, condensed_footer"

ai_pr_review:
  enabled: true

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: package_core
      name: Plugin core
      paths:
        - packages/bundler-plugin-core/**
    - component_id: package_rollup
      name: Rollup plugin
      paths:
        - packages/rollup-plugin/**
    - component_id: package_vite
      name: Vite plugin
      paths:
        - packages/vite-plugin/**
    - component_id: package_webpack
      name: Webpack plugin
      paths:
        - packages/webpack-plugin/**

Update snapshot
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
Due: none

spacing
  integration-tests/fixtures/generate-bundle-stats/nuxt/nuxt-plugin.test.ts
Due: none

Delete integration-tests/test-apps/nuxt/nuxt.config.ts
  integration-tests/test-apps/nuxt/nuxt.config.ts
Due: none

Resolve packages
  package.json
  pnpm-lock.yaml
Due: none

remove leftover dry run config
  examples/next-js-15/next.config.mjs
Due: none

Bump version
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
Due: none

Update types
  integration-tests/fixtures/generate-bundle-stats/remix/vite-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/sveltekit/vite-base.config.ts
Due: none

Bump
  integration-tests/fixtures/generate-bundle-stats/vite/vite-base.config.ts
Due: none

Remove any
  integration-tests/fixtures/generate-bundle-stats/remix/vite-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/sveltekit/vite-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-base.config.ts
Due: none

allow users to override git service for tokenless uploads
  packages/bundler-plugin-core/src/utils/__tests__/normalizeOptions.test.ts
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
Due: Plugin core

update Output tests
  packages/bundler-plugin-core/src/utils/__tests__/Output.test.ts
Due: Plugin core

remove NoUploadTokenError
  packages/bundler-plugin-core/src/errors/NoUploadTokenError.ts
Due: Plugin core

update getPreSignedURL to remove requirement for uploadToken
  packages/bundler-plugin-core/src/utils/__tests__/getPreSignedURL.test.ts
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

add in changeset
  .changeset/kind-camels-give.md
Due: none

update types with gitService
  packages/bundler-plugin-core/src/types.ts
Due: Plugin core

add tokenless examples to readme's
  packages/nuxt-plugin/README.md
  packages/remix-vite-plugin/README.md
  packages/rollup-plugin/README.md
  packages/solidstart-plugin/README.md
  packages/sveltekit-plugin/README.md
  packages/vite-plugin/README.md
  packages/webpack-plugin/README.md
Due: Rollup plugin, Vite plugin, Webpack plugin

adjust docstring value
  packages/bundler-plugin-core/src/types.ts
Due: Plugin core

add in new function used to find the origin git service
  packages/bundler-plugin-core/src/utils/__tests__/findGitService.test.ts
  packages/bundler-plugin-core/src/utils/findGitService.ts
Due: Plugin core

apply feedback
  packages/bundler-plugin-core/src/utils/findGitService.ts
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

update readme copy
  packages/nuxt-plugin/README.md
  packages/remix-vite-plugin/README.md
  packages/rollup-plugin/README.md
  packages/solidstart-plugin/README.md
  packages/sveltekit-plugin/README.md
  packages/vite-plugin/README.md
  packages/webpack-plugin/README.md
Due: Rollup plugin, Vite plugin, Webpack plugin

update getPreSignedURL to support tokenless uploads
  packages/bundler-plugin-core/src/utils/__tests__/getPreSignedURL.test.ts
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

update readme examples
  packages/nuxt-plugin/README.md
  packages/remix-vite-plugin/README.md
  packages/rollup-plugin/README.md
  packages/solidstart-plugin/README.md
  packages/sveltekit-plugin/README.md
  packages/vite-plugin/README.md
  packages/webpack-plugin/README.md
Due: Rollup plugin, Vite plugin, Webpack plugin

add in tokenless example
  examples/tokenless/.eslintrc.cjs
  examples/tokenless/.gitignore
  examples/tokenless/README.md
  examples/tokenless/index.html
  examples/tokenless/package.json
  examples/tokenless/public/vite.svg
  examples/tokenless/src/App.css
  examples/tokenless/src/App.tsx
  examples/tokenless/src/IndexedLazyComponent/IndexedLazyComponent.tsx
  examples/tokenless/src/IndexedLazyComponent/index.ts
  examples/tokenless/src/LazyComponent/LazyComponent.tsx
  examples/tokenless/src/assets/react.svg
  examples/tokenless/src/index.css
  examples/tokenless/src/main.tsx
  examples/tokenless/src/vite-env.d.ts
  examples/tokenless/tsconfig.json
  examples/tokenless/tsconfig.node.json
  examples/tokenless/vite.config.ts
  pnpm-lock.yaml
Due: none

add back no upload token error and new undefined git service error
  packages/bundler-plugin-core/src/errors/NoUploadTokenError.ts
  packages/bundler-plugin-core/src/errors/UndefinedGitServiceError.ts
Due: Plugin core

actually use the passed git service
  packages/bundler-plugin-core/src/utils/Output.ts
  packages/bundler-plugin-core/src/utils/__tests__/getPreSignedURL.test.ts
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

update doc string examples
  packages/nuxt-plugin/src/index.ts
  packages/remix-vite-plugin/src/index.ts
  packages/rollup-plugin/src/index.ts
  packages/solidstart-plugin/src/index.ts
  packages/sveltekit-plugin/src/index.ts
  packages/vite-plugin/src/index.ts
  packages/webpack-plugin/src/index.ts
Due: Rollup plugin, Vite plugin, Webpack plugin

more docstring updates
  packages/bundler-plugin-core/src/types.ts
Due: Plugin core

forgot to add to ci
  .github/workflows/ci.yml
Due: none

add nextjs to changeset
  .changeset/kind-camels-give.md
Due: none

update nextjs readme
  packages/nextjs-webpack-plugin/README.md
Due: none

Match versions
  examples/next-js/package.json
  examples/remix/package.json
  examples/sveltekit/package.json
  examples/vite/package.json
  integration-tests/package.json
  integration-tests/test-apps/remix/package.json
  integration-tests/test-apps/sveltekit/package.json
  packages/bundler-plugin-core/package.json
  packages/nuxt-plugin/package.json
  packages/remix-vite-plugin/package.json
  packages/rollup-plugin/package.json
  packages/solidstart-plugin/package.json
  packages/sveltekit-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
  pnpm-lock.yaml
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

Absolute tragedy:
  pnpm-lock.yaml
Due: none

Add plugin
  examples/next-js/package.json
Due: none

Update pnpm lock
  pnpm-lock.yaml
Due: none

update snapshot
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
Due: none

update github actions to override the branch value if from a forked PR
  packages/bundler-plugin-core/src/utils/providers/GitHubActions.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/GitHubActions.test.ts
Due: Plugin core

remove tokenless example, as it only works with forks
  .github/workflows/ci.yml
  examples/tokenless/.eslintrc.cjs
  examples/tokenless/.gitignore
  examples/tokenless/README.md
  examples/tokenless/index.html
  examples/tokenless/package.json
  examples/tokenless/public/vite.svg
  examples/tokenless/src/App.css
  examples/tokenless/src/App.tsx
  examples/tokenless/src/IndexedLazyComponent/IndexedLazyComponent.tsx
  examples/tokenless/src/IndexedLazyComponent/index.ts
  examples/tokenless/src/LazyComponent/LazyComponent.tsx
  examples/tokenless/src/assets/react.svg
  examples/tokenless/src/index.css
  examples/tokenless/src/main.tsx
  examples/tokenless/src/vite-env.d.ts
  examples/tokenless/tsconfig.json
  examples/tokenless/tsconfig.node.json
  examples/tokenless/vite.config.ts
Due: none

Experiment with bundle analyzer CLI
  .eslintrc.js
  examples/plain-js/a.js
  examples/plain-js/package.json
  examples/plain-js/src/b.js
  examples/plain-js/src/c.js
  examples/plain-js/src/common.js
  examples/plain-js/src/d.js
  examples/plain-js/src/main.js
  examples/plain-js/src/nested/extra.js
  packages/bundle-analyzer/CHANGELOG.md
  packages/bundle-analyzer/LICENSE
  packages/bundle-analyzer/README.md
  packages/bundle-analyzer/build.config.ts
  packages/bundle-analyzer/jest.config.ts
  packages/bundle-analyzer/package.json
  packages/bundle-analyzer/src/analyze.ts
  packages/bundle-analyzer/src/bin/index.ts
  packages/bundle-analyzer/src/index.ts
  packages/bundle-analyzer/src/types.ts
  packages/bundle-analyzer/tsconfig.json
  packages/custom-reporter/__tests__/dotenv-vercel/INPUT/assets/index-1dca144e.js
  packages/custom-reporter/__tests__/dotenv-vercel/INPUT/index.html
  packages/custom-reporter/__tests__/dotenv-vercel/INPUT/vite.svg
  packages/custom-reporter/__tests__/dotenv-vercel/OUTPUT/expected/sample_bundle_analysis_report_1.json
  packages/custom-reporter/package.json
  packages/custom-reporter/src/cli.ts
  packages/custom-reporter/src/index.test.ts
  packages/custom-reporter/src/index.ts
  pnpm-lock.yaml
Due: none
