Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

bump version number for snapshots
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/__tests__/__snapshots__/nextJSWebpackBundleAnalysisPlugin.test.ts.snap
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/solidstart-plugin/src/solidstart-bundle-analysis/__tests__/__snapshots__/solidstartBundleAnalysisPlugin.test.ts.snap
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
Due: Rollup plugin, Vite plugin, Webpack plugin

meta: Update docs
  functions/_codecov_bundler_plugin_core.handleErrors.html
  functions/_codecov_bundler_plugin_core.normalizeOptions.html
  functions/_codecov_nextjs_webpack_plugin.codecovNextJSWebpackPlugin.html
  functions/_codecov_nuxt_plugin.default.html
  functions/_codecov_remix_vite_plugin.codecovRemixVitePlugin.html
  functions/_codecov_rollup_plugin.codecovRollupPlugin.html
  functions/_codecov_solidstart_plugin.codecovSolidStartPlugin.html
  functions/_codecov_sveltekit_plugin.codecovSvelteKitPlugin.html
  functions/_codecov_vite_plugin.codecovVitePlugin.html
  functions/_codecov_webpack_plugin.codecovWebpackPlugin.html
  interfaces/_codecov_bundler_plugin_core.Options.html
  interfaces/_codecov_bundler_plugin_core.UploadOverrides.html
  modules/_codecov_bundler_plugin_core.html
  modules/_codecov_nextjs_webpack_plugin.html
  modules/_codecov_nuxt_plugin.html
  modules/_codecov_remix_vite_plugin.html
  modules/_codecov_rollup_plugin.html
  modules/_codecov_solidstart_plugin.html
  modules/_codecov_sveltekit_plugin.html
  modules/_codecov_vite_plugin.html
  modules/_codecov_webpack_plugin.html
Due: none

incorporate pr comments
  packages/bundle-analyzer/README.md
  packages/bundle-analyzer/src/assets.ts
Due: none

feat: Expand bundle-analyzer options (#163)
  examples/bundle-analyzer/library-import-cjs/analyze.js
  examples/bundle-analyzer/library-import-esm/analyze.js
  integration-tests/test-apps/bundle-analyzer/dotenv-vercel/analyze.js
  packages/bundle-analyzer/README.md
  packages/bundle-analyzer/package.json
  packages/bundle-analyzer/src/assets.test.ts
  packages/bundle-analyzer/src/assets.ts
  packages/bundle-analyzer/src/cli.test.ts
  packages/bundle-analyzer/src/cli.ts
  packages/bundle-analyzer/src/index.test.ts
  packages/bundle-analyzer/src/index.ts
  packages/bundle-analyzer/src/options.test.ts
  packages/bundle-analyzer/src/options.ts
  packages/bundle-analyzer/src/version.ts
  pnpm-lock.yaml
Due: none

chore: Cleanup READMEs and tests
  .changeset/eleven-deers-divide.md
  .github/workflows/ci.yml
  examples/bundle-analyzer/cli/package.json
  examples/bundle-analyzer/library-import-cjs/analyze.js
  examples/bundle-analyzer/library-import-cjs/package.json
  examples/bundle-analyzer/library-import-esm/analyze.js
  examples/bundle-analyzer/library-import-esm/package.json
  packages/bundle-analyzer/src/cli.test.ts
  packages/bundle-analyzer/src/cli.ts
  packages/bundle-analyzer/src/index.ts
  packages/bundle-analyzer/tsconfig.json
Due: none

add tests
  .github/workflows/ci.yml
  packages/bundle-analyzer/src/cli.test.ts
  packages/bundle-analyzer/src/cli.ts
  packages/bundle-analyzer/src/index.test.ts
Due: none

fix tests
  packages/bundle-analyzer/src/cli.test.ts
Due: none

fix examples to get them to upload
  .github/workflows/ci.yml
  examples/bundle-analyzer-cli/README.md
  examples/bundle-analyzer-cli/a.js
  examples/bundle-analyzer-cli/package.json
  examples/bundle-analyzer-cli/rollup.config.js
  examples/bundle-analyzer-cli/src/b.js
  examples/bundle-analyzer-cli/src/c.js
  examples/bundle-analyzer-cli/src/common.js
  examples/bundle-analyzer-cli/src/d.js
  examples/bundle-analyzer-cli/src/main.js
  examples/bundle-analyzer-cli/src/nested/extra.js
  examples/bundle-analyzer-lib-cjs/analyze.js
  examples/bundle-analyzer-lib-cjs/package.json
  examples/bundle-analyzer-lib-esm/README.md
  examples/bundle-analyzer-lib-esm/analyze.js
  examples/bundle-analyzer-lib-esm/package.json
  examples/bundle-analyzer/cli/README.md
  examples/bundle-analyzer/library-import-cjs/README.md
  examples/bundle-analyzer/library-import-esm/README.md
  pnpm-lock.yaml
Due: none

fix examples upload
  examples/bundle-analyzer-cli/package.json
  examples/bundle-analyzer-lib-cjs/analyze.js
  examples/bundle-analyzer-lib-cjs/example-dist/assets/index-1dca144e.js
  examples/bundle-analyzer-lib-cjs/example-dist/index.html
  examples/bundle-analyzer-lib-esm/analyze.js
  examples/bundle-analyzer-lib-esm/example-dist/assets/index-1dca144e.js
  examples/bundle-analyzer-lib-esm/example-dist/index.html
Due: none

fix example upload
  examples/bundle-analyzer-cli/package.json
  examples/bundle-analyzer-lib-cjs/analyze.js
  examples/bundle-analyzer-lib-esm/analyze.js
  packages/bundle-analyzer/README.md
Due: none

fix upload token
  examples/bundle-analyzer-lib-cjs/analyze.js
  examples/bundle-analyzer-lib-esm/analyze.js
Due: none

cleanup
  packages/bundle-analyzer/tsconfig.json
Due: none

chore: Cleanup bundle analyzer for release (#173)
  .changeset/eleven-deers-divide.md
  .github/workflows/ci.yml
  examples/bundle-analyzer-cli/README.md
  examples/bundle-analyzer-cli/a.js
  examples/bundle-analyzer-cli/package.json
  examples/bundle-analyzer-cli/rollup.config.js
  examples/bundle-analyzer-cli/src/b.js
  examples/bundle-analyzer-cli/src/c.js
  examples/bundle-analyzer-cli/src/common.js
  examples/bundle-analyzer-cli/src/d.js
  examples/bundle-analyzer-cli/src/main.js
  examples/bundle-analyzer-cli/src/nested/extra.js
  examples/bundle-analyzer-lib-cjs/analyze.js
  examples/bundle-analyzer-lib-cjs/example-dist/assets/index-1dca144e.js
  examples/bundle-analyzer-lib-cjs/example-dist/index.html
  examples/bundle-analyzer-lib-cjs/package.json
  examples/bundle-analyzer-lib-esm/README.md
  examples/bundle-analyzer-lib-esm/analyze.js
  examples/bundle-analyzer-lib-esm/example-dist/assets/index-1dca144e.js
  examples/bundle-analyzer-lib-esm/example-dist/index.html
  examples/bundle-analyzer-lib-esm/package.json
  examples/bundle-analyzer/cli/README.md
  examples/bundle-analyzer/library-import-cjs/README.md
  examples/bundle-analyzer/library-import-esm/README.md
  packages/bundle-analyzer/README.md
  packages/bundle-analyzer/src/cli.test.ts
  packages/bundle-analyzer/src/cli.ts
  packages/bundle-analyzer/src/index.test.ts
  packages/bundle-analyzer/src/index.ts
  pnpm-lock.yaml
Due: none

fix: Add extended options to cli, export types in bundle-analyzer lib
  .changeset/eleven-deers-divide.md
  examples/bundle-analyzer-lib-cjs/analyze.js
  examples/bundle-analyzer-lib-cjs/analyze.ts
  examples/bundle-analyzer-lib-cjs/package.json
  examples/bundle-analyzer-lib-esm/analyze.ts
  examples/bundle-analyzer-lib-esm/package.json
  packages/bundle-analyzer/README.md
  packages/bundle-analyzer/package.json
  packages/bundle-analyzer/src/cli.ts
  packages/bundle-analyzer/src/index.ts
  packages/bundler-plugin-core/src/utils/Output.ts
Due: Plugin core

add config file to cli, fix tests
  examples/bundle-analyzer-lib-cjs/analyze.js
  examples/bundle-analyzer-lib-cjs/analyze.ts
  examples/bundle-analyzer-lib-cjs/package.json
  packages/bundle-analyzer/src/assets.test.ts
  packages/bundle-analyzer/src/assets.ts
  packages/bundle-analyzer/src/cli.test.ts
  packages/bundle-analyzer/src/cli.ts
Due: none

fix tests
  examples/bundle-analyzer-cli/baconfig.json
  examples/bundle-analyzer-cli/package.json
  packages/bundle-analyzer/README.md
  packages/bundle-analyzer/src/assets.test.ts
  packages/bundle-analyzer/src/cli.test.ts
  packages/bundle-analyzer/src/cli.ts
Due: none

add tests
  integration-tests/test-apps/bundle-analyzer/dotenv-vercel/analyze.js
  packages/bundle-analyzer/src/cli.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/Output.test.ts
Due: Plugin core

unlint tsconfig.json file
  integration-tests/test-api/tsconfig.json
Due: none

fix: Add config file options to bundle-analyzer cli, export types (#174)
  .changeset/eleven-deers-divide.md
  examples/bundle-analyzer-cli/baconfig.json
  examples/bundle-analyzer-cli/package.json
  examples/bundle-analyzer-lib-cjs/analyze.js
  examples/bundle-analyzer-lib-esm/analyze.ts
  examples/bundle-analyzer-lib-esm/package.json
  integration-tests/test-api/tsconfig.json
  integration-tests/test-apps/bundle-analyzer/dotenv-vercel/analyze.js
  packages/bundle-analyzer/README.md
  packages/bundle-analyzer/package.json
  packages/bundle-analyzer/src/assets.test.ts
  packages/bundle-analyzer/src/assets.ts
  packages/bundle-analyzer/src/cli.test.ts
  packages/bundle-analyzer/src/cli.ts
  packages/bundle-analyzer/src/index.ts
  packages/bundler-plugin-core/src/utils/Output.ts
  packages/bundler-plugin-core/src/utils/__tests__/Output.test.ts
Due: Plugin core

fix integration test versions
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
Due: none

update more versions in integration tests
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/__tests__/__snapshots__/nextJSWebpackBundleAnalysisPlugin.test.ts.snap
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/solidstart-plugin/src/solidstart-bundle-analysis/__tests__/__snapshots__/solidstartBundleAnalysisPlugin.test.ts.snap
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
Due: Rollup plugin, Vite plugin, Webpack plugin

meta: Update docs
  assets/highlight.css
  assets/navigation.js
  assets/search.js
  functions/_codecov_bundle_analyzer.index.createAndUploadReport.html
  functions/_codecov_bundler_plugin_core.handleErrors.html
  functions/_codecov_bundler_plugin_core.normalizeOptions.html
  functions/_codecov_nextjs_webpack_plugin.codecovNextJSWebpackPlugin.html
  functions/_codecov_nuxt_plugin.default.html
  functions/_codecov_remix_vite_plugin.codecovRemixVitePlugin.html
  functions/_codecov_rollup_plugin.codecovRollupPlugin.html
  functions/_codecov_solidstart_plugin.codecovSolidStartPlugin.html
  functions/_codecov_sveltekit_plugin.codecovSvelteKitPlugin.html
  functions/_codecov_vite_plugin.codecovVitePlugin.html
  functions/_codecov_webpack_plugin.codecovWebpackPlugin.html
  interfaces/_codecov_bundle_analyzer.index.Options.html
  interfaces/_codecov_bundle_analyzer.options.BundleAnalyzerOptions.html
  interfaces/_codecov_bundler_plugin_core.Options.html
  interfaces/_codecov_bundler_plugin_core.UploadOverrides.html
  modules/_codecov_bundle_analyzer.html
  modules/_codecov_bundle_analyzer.index.html
  modules/_codecov_bundle_analyzer.options.html
  modules/_codecov_bundler_plugin_core.html
  modules/_codecov_nextjs_webpack_plugin.html
  modules/_codecov_nuxt_plugin.html
  modules/_codecov_remix_vite_plugin.html
  modules/_codecov_rollup_plugin.html
  modules/_codecov_solidstart_plugin.html
  modules/_codecov_sveltekit_plugin.html
  modules/_codecov_vite_plugin.html
  modules/_codecov_webpack_plugin.html
Due: none

update bad response log message
  packages/bundler-plugin-core/src/utils/__tests__/getPreSignedURL.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/uploadStats.test.ts
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
  packages/bundler-plugin-core/src/utils/uploadStats.ts
Due: Plugin core

add in debug logs when fetches failed
  packages/bundler-plugin-core/src/utils/Output.ts
  packages/bundler-plugin-core/src/utils/__tests__/Output.test.ts
Due: Plugin core

add in changeset
  .changeset/moody-camels-accept.md
Due: none

chore: Add in new debug logs, and expand on current logs (#176)
  .changeset/moody-camels-accept.md
  packages/bundler-plugin-core/src/utils/Output.ts
  packages/bundler-plugin-core/src/utils/__tests__/Output.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/getPreSignedURL.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/uploadStats.test.ts
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
  packages/bundler-plugin-core/src/utils/uploadStats.ts
Due: Plugin core

update snapshots
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/__tests__/__snapshots__/nextJSWebpackBundleAnalysisPlugin.test.ts.snap
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/solidstart-plugin/src/solidstart-bundle-analysis/__tests__/__snapshots__/solidstartBundleAnalysisPlugin.test.ts.snap
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
Due: Rollup plugin, Vite plugin, Webpack plugin

meta: Update docs
  functions/_codecov_bundle_analyzer.index.createAndUploadReport.html
  functions/_codecov_bundler_plugin_core.handleErrors.html
  functions/_codecov_bundler_plugin_core.normalizeOptions.html
  functions/_codecov_nextjs_webpack_plugin.codecovNextJSWebpackPlugin.html
  functions/_codecov_nuxt_plugin.default.html
  functions/_codecov_remix_vite_plugin.codecovRemixVitePlugin.html
  functions/_codecov_rollup_plugin.codecovRollupPlugin.html
  functions/_codecov_solidstart_plugin.codecovSolidStartPlugin.html
  functions/_codecov_sveltekit_plugin.codecovSvelteKitPlugin.html
  functions/_codecov_vite_plugin.codecovVitePlugin.html
  functions/_codecov_webpack_plugin.codecovWebpackPlugin.html
  interfaces/_codecov_bundle_analyzer.options.BundleAnalyzerOptions.html
  interfaces/_codecov_bundler_plugin_core.Options.html
  interfaces/_codecov_bundler_plugin_core.UploadOverrides.html
  modules/_codecov_bundle_analyzer.html
  modules/_codecov_bundle_analyzer.index.html
  modules/_codecov_bundle_analyzer.options.html
  modules/_codecov_bundler_plugin_core.html
  modules/_codecov_nextjs_webpack_plugin.html
  modules/_codecov_nuxt_plugin.html
  modules/_codecov_remix_vite_plugin.html
  modules/_codecov_rollup_plugin.html
  modules/_codecov_solidstart_plugin.html
  modules/_codecov_sveltekit_plugin.html
  modules/_codecov_vite_plugin.html
  modules/_codecov_webpack_plugin.html
Due: none

add logs to appveyorci
  packages/bundler-plugin-core/src/utils/providers/AppVeyorCI.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/AppVeyorCI.test.ts
Due: Plugin core

add logs to azure pipelines
  packages/bundler-plugin-core/src/utils/providers/AzurePipelines.ts
Due: Plugin core

add logs to bitbucket
  packages/bundler-plugin-core/src/utils/providers/Bitbucket.ts
Due: Plugin core

add logs to bitrise
  packages/bundler-plugin-core/src/utils/providers/Bitrise.ts
Due: Plugin core

add logs to buildkite
  packages/bundler-plugin-core/src/utils/providers/Buildkite.ts
Due: Plugin core

add logs to everything
  packages/bundler-plugin-core/src/utils/providers/CircleCI.ts
  packages/bundler-plugin-core/src/utils/providers/Cirrus.ts
  packages/bundler-plugin-core/src/utils/providers/CloudflarePages.ts
  packages/bundler-plugin-core/src/utils/providers/CodeBuild.ts
  packages/bundler-plugin-core/src/utils/providers/Drone.ts
  packages/bundler-plugin-core/src/utils/providers/GitHubActions.ts
  packages/bundler-plugin-core/src/utils/providers/GitLabCI.ts
  packages/bundler-plugin-core/src/utils/providers/HerokuCI.ts
  packages/bundler-plugin-core/src/utils/providers/JenkinsCI.ts
  packages/bundler-plugin-core/src/utils/providers/Local.ts
  packages/bundler-plugin-core/src/utils/providers/Netlify.ts
  packages/bundler-plugin-core/src/utils/providers/Render.ts
  packages/bundler-plugin-core/src/utils/providers/TeamCity.ts
  packages/bundler-plugin-core/src/utils/providers/TravisCI.ts
  packages/bundler-plugin-core/src/utils/providers/Vercel.ts
  packages/bundler-plugin-core/src/utils/providers/Wercker.ts
  packages/bundler-plugin-core/src/utils/providers/Woodpecker.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Local.test.ts
Due: Plugin core

add in changeset
  .changeset/serious-olives-add.md
Due: none

upload bundle analyzer example also to staging
  examples/bundle-analyzer-cli/package.json
  examples/bundle-analyzer-lib-cjs/analyze.js
  examples/bundle-analyzer-lib-esm/analyze.ts
Due: none

add url that we're hitting
  packages/bundler-plugin-core/src/utils/fetchWithRetry.ts
Due: Plugin core

log out what endpoint we're trying to hit
  packages/bundler-plugin-core/src/utils/fetchWithRetry.ts
Due: Plugin core

log out the request body
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

Path conditions:
  Plugin core: any of: packages/bundler-plugin-core/**
  Rollup plugin: any of: packages/rollup-plugin/**
  Vite plugin: any of: packages/vite-plugin/**
  Webpack plugin: any of: packages/webpack-plugin/**
