Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

codecov.yml:

comment:
  layout: "condensed_header, condensed_files, components, condensed_footer"

ai_pr_review:
  enabled: true

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: package_core
      name: Plugin core
      paths:
        - packages/bundler-plugin-core/**
    - component_id: package_rollup
      name: Rollup plugin
      paths:
        - packages/rollup-plugin/**
    - component_id: package_vite
      name: Vite plugin
      paths:
        - packages/vite-plugin/**
    - component_id: package_webpack
      name: Webpack plugin
      paths:
        - packages/webpack-plugin/**

prepend @codecov/ in example bundle names
  examples/next-js/next.config.js
  examples/rollup/rollup.config.js
  examples/vite/vite.config.ts
  examples/webpack/webpack.config.js
Due: none

maybe removing the options.plugins will work
  packages/bundler-plugin-core/build.config.ts
  packages/rollup-plugin/build.config.ts
  packages/vite-plugin/build.config.ts
  packages/webpack-plugin/build.config.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

nope it def needs these options
  packages/bundler-plugin-core/build.config.ts
  packages/rollup-plugin/build.config.ts
  packages/vite-plugin/build.config.ts
  packages/webpack-plugin/build.config.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

remove if statement maybe?
  packages/bundler-plugin-core/build.config.ts
  packages/rollup-plugin/build.config.ts
  packages/vite-plugin/build.config.ts
  packages/webpack-plugin/build.config.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

let's attempt this
  packages/bundler-plugin-core/build.config.ts
  packages/rollup-plugin/build.config.ts
  packages/vite-plugin/build.config.ts
  packages/webpack-plugin/build.config.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

fix up individual file names
  packages/rollup-plugin/build.config.ts
  packages/vite-plugin/build.config.ts
  packages/webpack-plugin/build.config.ts
Due: Rollup plugin, Vite plugin, Webpack plugin

let's see if we can run this from the root again ...
  .github/workflows/ci.yml
Due: none

welp that did not work okay we're running them in their own dirs
  .github/workflows/ci.yml
Due: none

temp
  .eslintrc.js
  examples/esbuild/app.jsx
  examples/esbuild/esbuild.config.mjs
  examples/esbuild/package.json
  packages/esbuild-plugin/CHANGELOG.md
  packages/esbuild-plugin/LICENSE
  packages/esbuild-plugin/README.md
  packages/esbuild-plugin/build.config.ts
  packages/esbuild-plugin/jest.config.ts
  packages/esbuild-plugin/package.json
  packages/esbuild-plugin/src/esbuild-bundle-analysis/esbuildBundleAnalysisPlugin.ts
  packages/esbuild-plugin/src/index.ts
  packages/esbuild-plugin/tsconfig.json
  pnpm-lock.yaml
Due: none

testing more
  examples/esbuild/esbuild.config.mjs
  examples/esbuild/package.json
  packages/esbuild-plugin/src/esbuild-bundle-analysis/esbuildBundleAnalysisPlugin.ts
  packages/esbuild-plugin/src/index.ts
  pnpm-lock.yaml
Due: none

add in dependabot to check for plugin updates daily
  .github/dependabot.yml
Due: none

build: Add plugins to plugins (#83)
  .github/dependabot.yml
  .github/workflows/ci.yml
  examples/next-js/next.config.js
  examples/rollup/rollup.config.js
  examples/vite/vite.config.ts
  examples/webpack/webpack.config.js
  packages/bundler-plugin-core/build.config.ts
  packages/bundler-plugin-core/package.json
  packages/rollup-plugin/build.config.ts
  packages/rollup-plugin/package.json
  packages/vite-plugin/build.config.ts
  packages/vite-plugin/package.json
  packages/webpack-plugin/build.config.ts
  packages/webpack-plugin/package.json
  pnpm-lock.yaml
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

create normalizeOptions function
  packages/bundler-plugin-core/src/utils/__tests__/normalizeOptions.test.ts
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
Due: Plugin core

add in new custom error
  packages/bundler-plugin-core/src/errors/InvalidBundleNameError.ts
Due: Plugin core

slight tweak to types
  packages/bundler-plugin-core/src/bundle-analysis/bundleAnalysisPluginFactory.ts
  packages/bundler-plugin-core/src/types.ts
Due: Plugin core

normalize options and capture error if thrown
  packages/bundler-plugin-core/src/index.ts
Due: Plugin core

add in changeset
  .changeset/flat-mails-buy.md
Due: none

remove invalid bundle name error type
  packages/bundler-plugin-core/src/errors/InvalidBundleNameError.ts
Due: Plugin core

move to using zod to validate options
  packages/bundler-plugin-core/src/utils/__tests__/normalizeOptions.test.ts
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
Due: Plugin core

add in tests for validate
  packages/bundler-plugin-core/src/utils/__tests__/validate.test.ts
Due: Plugin core

fix up plugin types to properly validate
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/rollupBundleAnalysisPlugin.test.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/viteBundleAnalysisPlugin.test.ts
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/webpackBundleAnalysisPlugin.test.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Rollup plugin, Vite plugin, Webpack plugin

get bundler core fixed up using new normalized options function
  packages/bundler-plugin-core/src/bundle-analysis/__tests__/bundleAnalysisPluginFactory.test.ts
  packages/bundler-plugin-core/src/bundle-analysis/bundleAnalysisPluginFactory.ts
  packages/bundler-plugin-core/src/index.ts
Due: Plugin core

remove need of optional chaining
  packages/bundler-plugin-core/src/bundle-analysis/bundleAnalysisPluginFactory.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

validate all of the options
  packages/bundler-plugin-core/src/types.ts
  packages/bundler-plugin-core/src/utils/__tests__/normalizeOptions.test.ts
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
Due: Plugin core

quick type fix
  packages/bundler-plugin-core/src/bundle-analysis/__tests__/bundleAnalysisPluginFactory.test.ts
Due: Plugin core

slight tweak to eslint config
  .eslintrc.js
Due: none

fix pnpm recursive filters
  package.json
Due: none

fix up type errors in tests
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/rollupBundleAnalysisPlugin.test.ts
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/viteBundleAnalysisPlugin.test.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/webpackBundleAnalysisPlugin.test.ts
Due: Rollup plugin, Vite plugin, Webpack plugin

few tweaks to integration tests package json and tsconfig
  integration-tests/package.json
  integration-tests/tsconfig.json
Due: none

integration-tests dir is just causing too many problems
  package.json
Due: none

wip
  packages/bundler-plugin-core/src/bundle-analysis/bundleAnalysisPluginFactory.ts
  packages/bundler-plugin-core/src/types.ts
  packages/bundler-plugin-core/src/utils/sentryUtils.ts
Due: Plugin core

code review
  packages/bundler-plugin-core/src/bundle-analysis/bundleAnalysisPluginFactory.ts
  packages/bundler-plugin-core/src/utils/sentryUtils.ts
Due: Plugin core

nested sentry object
  packages/bundler-plugin-core/src/types.ts
  packages/bundler-plugin-core/src/utils/sentryUtils.ts
Due: Plugin core

fix
  packages/bundler-plugin-core/src/bundle-analysis/bundleAnalysisPluginFactory.ts
Due: Plugin core

feat: Validate bundle name (#86)
  .changeset/flat-mails-buy.md
  .eslintrc.js
  integration-tests/package.json
  integration-tests/tsconfig.json
  package.json
  packages/bundler-plugin-core/src/bundle-analysis/__tests__/bundleAnalysisPluginFactory.test.ts
  packages/bundler-plugin-core/src/bundle-analysis/bundleAnalysisPluginFactory.ts
  packages/bundler-plugin-core/src/index.ts
  packages/bundler-plugin-core/src/types.ts
  packages/bundler-plugin-core/src/utils/__tests__/normalizeOptions.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/validate.test.ts
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/rollupBundleAnalysisPlugin.test.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/viteBundleAnalysisPlugin.test.ts
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/webpackBundleAnalysisPlugin.test.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

code review 1
  packages/bundler-plugin-core/src/bundle-analysis/bundleAnalysisPluginFactory.ts
  packages/bundler-plugin-core/src/types.ts
  packages/bundler-plugin-core/src/utils/sentryUtils.ts
Due: Plugin core

use sentry auth token
  packages/bundler-plugin-core/src/bundle-analysis/bundleAnalysisPluginFactory.ts
  packages/bundler-plugin-core/src/types.ts
  packages/bundler-plugin-core/src/utils/sentryUtils.ts
Due: Plugin core

fix linting
  packages/bundler-plugin-core/src/types.ts
  packages/bundler-plugin-core/src/utils/sentryUtils.ts
Due: Plugin core

add tests
  packages/bundler-plugin-core/src/utils/__tests__/sentryUtils.test.ts
  packages/bundler-plugin-core/src/utils/sentryUtils.ts
Due: Plugin core

update import path
  packages/bundler-plugin-core/src/utils/__tests__/sentryUtils.test.ts
Due: Plugin core
