Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

codecov.yml:

comment:
  layout: "condensed_header, condensed_files, components, condensed_footer"

ai_pr_review:
  enabled: true

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: package_core
      name: Plugin core
      paths:
        - packages/bundler-plugin-core/**
    - component_id: package_rollup
      name: Rollup plugin
      paths:
        - packages/rollup-plugin/**
    - component_id: package_vite
      name: Vite plugin
      paths:
        - packages/vite-plugin/**
    - component_id: package_webpack
      name: Webpack plugin
      paths:
        - packages/webpack-plugin/**

update root dir stuff
  .eslintrc.js
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: none

add in integration tests for remix
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/remix-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/remix/vite-base.config.ts
  integration-tests/package.json
  integration-tests/scripts/gen-config.ts
  integration-tests/test-apps/remix/.eslintrc.cjs
  integration-tests/test-apps/remix/.gitignore
  integration-tests/test-apps/remix/README.md
  integration-tests/test-apps/remix/app/entry.client.tsx
  integration-tests/test-apps/remix/app/entry.server.tsx
  integration-tests/test-apps/remix/app/root.tsx
  integration-tests/test-apps/remix/app/routes/_index.tsx
  integration-tests/test-apps/remix/app/tailwind.css
  integration-tests/test-apps/remix/package.json
  integration-tests/test-apps/remix/postcss.config.js
  integration-tests/test-apps/remix/public/favicon.ico
  integration-tests/test-apps/remix/tailwind.config.ts
  integration-tests/test-apps/remix/tsconfig.json
Due: none

small tweak to sveltekit tests to clean up broken vite configs for failing tests
  integration-tests/fixtures/generate-bundle-stats/sveltekit/sveltekit-plugin.test.ts
Due: none

add plugin to remix example
  examples/remix/package.json
  examples/remix/vite.config.ts
Due: none

tweak sveltekit package json keywords
  .changeset/big-socks-impress.md
  packages/sveltekit-plugin/package.json
Due: none

update remix example codecov env vars
  examples/remix/vite.config.ts
Due: none

update CI to upload remix example and remix plugin stats
  .github/workflows/ci.yml
Due: none

rebrand the remix plugin to remix vite
  packages/remix-vite-plugin/LICENSE
  packages/remix-vite-plugin/README.md
  packages/remix-vite-plugin/build.config.ts
  packages/remix-vite-plugin/package.json
  packages/remix-vite-plugin/src/index.ts
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/getBundleName.test.ts
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/remixBundleAnalysisPlugin.test.ts
  packages/remix-vite-plugin/src/remix-bundle-analysis/getBundleName.ts
  packages/remix-vite-plugin/src/remix-bundle-analysis/remixBundleAnalysisPlugin.ts
  packages/remix-vite-plugin/tsconfig.json
  packages/remix-vite-plugin/typedoc.json
  packages/remix-vite-plugin/vitest.config.ts
Due: none

fix up integration tests
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/remix-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/remix/vite-base.config.ts
  integration-tests/package.json
  integration-tests/test-apps/remix/package.json
Due: none

adjust remix example
  examples/remix/package.json
  examples/remix/vite.config.ts
Due: none

update CI
  .github/workflows/ci.yml
Due: none

adjust changeset entries
  .changeset/big-socks-impress.md
  .changeset/shy-turtles-shout.md
Due: none

update root dir files
  .eslintrc.js
  pnpm-lock.yaml
Due: none

fix: Rebranch Remix plugin to include Vite (#142)
  .changeset/big-socks-impress.md
  .changeset/shy-turtles-shout.md
  .eslintrc.js
  .github/workflows/ci.yml
  examples/remix/package.json
  examples/remix/vite.config.ts
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/remix-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/remix/vite-base.config.ts
  integration-tests/package.json
  integration-tests/test-apps/remix/package.json
  packages/remix-vite-plugin/LICENSE
  packages/remix-vite-plugin/README.md
  packages/remix-vite-plugin/build.config.ts
  packages/remix-vite-plugin/package.json
  packages/remix-vite-plugin/src/index.ts
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/getBundleName.test.ts
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/remixBundleAnalysisPlugin.test.ts
  packages/remix-vite-plugin/src/remix-bundle-analysis/getBundleName.ts
  packages/remix-vite-plugin/src/remix-bundle-analysis/remixBundleAnalysisPlugin.ts
  packages/remix-vite-plugin/tsconfig.json
  packages/remix-vite-plugin/typedoc.json
  packages/remix-vite-plugin/vitest.config.ts
  pnpm-lock.yaml
Due: none

remove this shell command as it's erroring and not doing anything
  integration-tests/fixtures/generate-bundle-stats/sveltekit/sveltekit-plugin.test.ts
Due: none

bump version numbers
  .changeset/pre.json
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
Due: Rollup plugin, Vite plugin, Webpack plugin

meta: Update docs
  assets/navigation.js
  assets/search.js
  functions/_codecov_bundler_plugin_core.handleErrors.html
  functions/_codecov_bundler_plugin_core.normalizeOptions.html
  functions/_codecov_nuxt_plugin.default.html
  functions/_codecov_remix_vite_plugin.codecovRemixVitePlugin.html
  functions/_codecov_rollup_plugin.codecovRollupPlugin.html
  functions/_codecov_sveltekit_plugin.codecovSvelteKitPlugin.html
  functions/_codecov_vite_plugin.codecovVitePlugin.html
  functions/_codecov_webpack_plugin.codecovWebpackPlugin.html
  interfaces/_codecov_bundler_plugin_core.Options.html
  interfaces/_codecov_bundler_plugin_core.UploadOverrides.html
  modules/_codecov_bundler_plugin_core.html
  modules/_codecov_nuxt_plugin.html
  modules/_codecov_remix_vite_plugin.html
  modules/_codecov_rollup_plugin.html
  modules/_codecov_sveltekit_plugin.html
  modules/_codecov_vite_plugin.html
  modules/_codecov_webpack_plugin.html
Due: none

update bundler plugin core with updated asset type and function to collect gzip value
  .changeset/old-cameras-search.md
  packages/bundler-plugin-core/src/index.ts
  packages/bundler-plugin-core/src/types.ts
  packages/bundler-plugin-core/src/utils/Output.ts
  packages/bundler-plugin-core/src/utils/__tests__/getCompressedSize.spec.ts
  packages/bundler-plugin-core/src/utils/__tests__/normalizeOptions.test.ts
  packages/bundler-plugin-core/src/utils/getCompressedSize.ts
Due: Plugin core

update base plugins to collect gzip info
  .changeset/stupid-points-vanish.md
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Rollup plugin, Vite plugin, Webpack plugin

Update meta-framework plugins to collect version generated in output arg
  .changeset/wise-insects-accept.md
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/nuxt-plugin/src/nuxt-bundle-analysis/nuxtBundleAnalysisPlugin.ts
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/remix-vite-plugin/src/remix-bundle-analysis/remixBundleAnalysisPlugin.ts
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/sveltekitBundleAnalysisPlugin.ts
Due: none

modify changeset name
  .changeset/stupid-points-vanish.md
Due: none

update meta-framework plugin integration tests to check for gzipSize and build for more output formats
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/nuxt/nuxt-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/remix-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/remix/vite-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/sveltekit-plugin.test.ts
Due: none

update base plugin integration test snapshots
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
Due: none

update webpack plugin to run all promises
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Webpack plugin

add in util function to create assets for vite plugin
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/createAsset.test.ts
  packages/vite-plugin/src/vite-bundle-analysis/createAsset.ts
Due: Vite plugin

update vite plugin to run calculate asset gzip sizes with promise.all and use new createAsset func
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
Due: Vite plugin

add in util function to create assets for rollup plugin
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/createAsset.test.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/createAsset.ts
Due: Rollup plugin

update rollup plugin to run calculate asset gzip sizes with promise.all and use new createAsset func
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
Due: Rollup plugin

move and rename createRollupAssets to bundler core
  packages/bundler-plugin-core/src/index.ts
  packages/bundler-plugin-core/src/utils/__tests__/createRollupAsset.test.ts
  packages/bundler-plugin-core/src/utils/createRollupAsset.ts
  packages/bundler-plugin-core/src/utils/index.ts
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/createAsset.test.ts
  packages/vite-plugin/src/vite-bundle-analysis/createAsset.ts
Due: Plugin core, Vite plugin

update rollup and vite plugins to import createRollupAsset from core
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
Due: Rollup plugin, Vite plugin

update rollup snapshots
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
Due: none

feat: Collect gzip info in bundler plugins (#145)
  .changeset/old-cameras-search.md
  .changeset/stupid-points-vanish.md
  .changeset/wise-insects-accept.md
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/nuxt/nuxt-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/remix-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/remix/vite-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/sveltekit-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  packages/bundler-plugin-core/src/index.ts
  packages/bundler-plugin-core/src/types.ts
  packages/bundler-plugin-core/src/utils/Output.ts
  packages/bundler-plugin-core/src/utils/__tests__/createRollupAsset.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/getCompressedSize.spec.ts
  packages/bundler-plugin-core/src/utils/__tests__/normalizeOptions.test.ts
  packages/bundler-plugin-core/src/utils/createRollupAsset.ts
  packages/bundler-plugin-core/src/utils/getCompressedSize.ts
  packages/bundler-plugin-core/src/utils/index.ts
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/nuxt-plugin/src/nuxt-bundle-analysis/nuxtBundleAnalysisPlugin.ts
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/remix-vite-plugin/src/remix-bundle-analysis/remixBundleAnalysisPlugin.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/sveltekitBundleAnalysisPlugin.ts
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

turn on debug mode for example apps
  examples/next-js/next.config.js
  examples/nuxt/nuxt.config.ts
  examples/remix/vite.config.ts
  examples/rollup/rollup.config.js
  examples/sveltekit/vite.config.ts
  examples/vite/vite.config.ts
  examples/webpack/webpack.config.js
Due: none

add in compareSha to types
  packages/bundler-plugin-core/src/types.ts
Due: Plugin core

update normalizeOptions to accept compareSha override
  packages/bundler-plugin-core/src/utils/__tests__/normalizeOptions.test.ts
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
Due: Plugin core

update GitHubActions to grab compare sha for pre-merge commits
  packages/bundler-plugin-core/src/utils/providers/GitHubActions.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/GitHubActions.test.ts
Due: Plugin core

remove compareSha from being sent
  packages/bundler-plugin-core/src/utils/preProcessBody.ts
Due: Plugin core

pass gh action event data
  .github/workflows/ci.yml
Due: none

update rollup example to grab from gh action context
  examples/rollup/rollup.config.js
Due: none
