Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

small test updates
  packages/bundler-plugin-core/src/utils/providers/__tests__/Drone.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Woodpecker.test.ts
Due: Plugin core

update snapshot version
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
Due: Rollup plugin, Vite plugin, Webpack plugin

meta: Update docs
  functions/_codecov_nuxt_plugin.default.html
  functions/_codecov_rollup_plugin._internal_rollupBundleAnalysisPlugin.html
  functions/_codecov_rollup_plugin.codecovRollupPlugin.html
  functions/_codecov_vite_plugin._internal_viteBundleAnalysisPlugin.html
  functions/_codecov_vite_plugin.codecovVitePlugin.html
  functions/_codecov_webpack_plugin._internal_webpackBundleAnalysisPlugin.html
  functions/_codecov_webpack_plugin.codecovWebpackPlugin.html
  interfaces/_codecov_bundler_plugin_core.Options.html
  interfaces/_codecov_bundler_plugin_core.UploadOverrides.html
  modules/_codecov_bundler_plugin_core.html
  modules/_codecov_nuxt_plugin.html
  modules/_codecov_rollup_plugin.html
  modules/_codecov_vite_plugin.html
  modules/_codecov_webpack_plugin.html
Due: none

correct license year
  LICENSE
  packages/bundler-plugin-core/LICENSE
  packages/nuxt-plugin/LICENSE
  packages/rollup-plugin/LICENSE
  packages/sveltekit-plugin/LICENSE
  packages/vite-plugin/LICENSE
  packages/webpack-plugin/LICENSE
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

fix up type in getBundleName functions
  .changeset/olive-ads-listen.md
  packages/nuxt-plugin/src/nuxt-bundle-analysis/getBundleName.ts
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/getBundleName.ts
  packages/vite-plugin/build.config.ts
  packages/vite-plugin/package.json
  packages/vite-plugin/src/index.ts
  pnpm-lock.yaml
Due: Vite plugin

Revert "fix up type in getBundleName functions"
  .changeset/olive-ads-listen.md
  packages/nuxt-plugin/src/nuxt-bundle-analysis/getBundleName.ts
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/getBundleName.ts
  packages/vite-plugin/build.config.ts
  packages/vite-plugin/package.json
  packages/vite-plugin/src/index.ts
  pnpm-lock.yaml
Due: Vite plugin

resolve updates that happened before merging the sveltekit plugin
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/test-apps/sveltekit/package.json
  packages/sveltekit-plugin/package.json
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  pnpm-lock.yaml
Due: none

bump pnpm version in CI to 9
  .github/workflows/ci.yml
  .github/workflows/prepare-publish.yml
  .github/workflows/publish.yml
Due: none

update test api deps
  integration-tests/test-api/bun.lockb
  integration-tests/test-api/package.json
Due: none

update nextjs deps and lockfile
  examples/next-js/package.json
  pnpm-lock.yaml
Due: none

chore: Small dep updates (#134)
  examples/next-js/package.json
  integration-tests/test-api/bun.lockb
  integration-tests/test-api/package.json
  pnpm-lock.yaml
Due: none

update plugin fixtures to test invalid bundle names
  integration-tests/fixtures/generate-bundle-stats/nuxt/nuxt-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-plugin.test.ts
Due: none

tweak gen-config to be able to remove bundle name
  integration-tests/scripts/gen-config.ts
Due: none

add in function to handle errors
  packages/bundler-plugin-core/src/utils/__tests__/normalizeOptions.test.ts
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
Due: Plugin core

use new function in plugins
  packages/nuxt-plugin/src/index.ts
  packages/rollup-plugin/src/index.ts
  packages/vite-plugin/src/index.ts
  packages/webpack-plugin/src/index.ts
Due: Rollup plugin, Vite plugin, Webpack plugin

export new things from plugin core
  packages/bundler-plugin-core/src/index.ts
Due: Plugin core

bring old integration tests up to date
  integration-tests/fixtures/generate-bundle-stats/nuxt/nuxt-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-plugin.test.ts
Due: none

update sveltekit plugin to hard fail on invalid bundle names
  integration-tests/fixtures/generate-bundle-stats/sveltekit/sveltekit-plugin.test.ts
  packages/sveltekit-plugin/src/index.ts
Due: none

add in changeset
  .changeset/two-spies-talk.md
Due: none

update normalizeOptions to return shouldExit
  packages/bundler-plugin-core/src/utils/__tests__/normalizeOptions.test.ts
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
Due: Plugin core

move the exit process into the plugins themselves
  packages/nuxt-plugin/src/index.ts
  packages/rollup-plugin/src/index.ts
  packages/sveltekit-plugin/src/index.ts
  packages/vite-plugin/src/index.ts
  packages/webpack-plugin/src/index.ts
Due: Rollup plugin, Vite plugin, Webpack plugin

feat: Hard fail on invalid bundle names (#136)
  .changeset/two-spies-talk.md
  integration-tests/fixtures/generate-bundle-stats/nuxt/nuxt-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/sveltekit/sveltekit-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-plugin.test.ts
  integration-tests/scripts/gen-config.ts
  packages/bundler-plugin-core/src/index.ts
  packages/bundler-plugin-core/src/utils/__tests__/normalizeOptions.test.ts
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
  packages/nuxt-plugin/src/index.ts
  packages/rollup-plugin/src/index.ts
  packages/sveltekit-plugin/src/index.ts
  packages/vite-plugin/src/index.ts
  packages/webpack-plugin/src/index.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

handle case where ending delimiter is [ from [hash][extenam]
  packages/bundler-plugin-core/src/utils/normalizePath.ts
Due: Plugin core

update tests
  packages/bundler-plugin-core/src/utils/__tests__/normalizePath.test.ts
Due: Plugin core

add in changeset
  .changeset/thirty-cheetahs-teach.md
Due: none

add in comment explaining condition
  packages/bundler-plugin-core/src/utils/normalizePath.ts
Due: Plugin core

add in test for no extension being present
  packages/bundler-plugin-core/src/utils/__tests__/normalizePath.test.ts
Due: Plugin core

remove dryRun from nuxt
  examples/nuxt/nuxt.config.ts
Due: none

remove dryRun from svelteKit
  examples/sveltekit/vite.config.ts
Due: none

add in env vars for nuxt and sveltekit
  .github/workflows/ci.yml
Due: none

update env vars for nuxt and sveltekit
  examples/nuxt/nuxt.config.ts
  examples/sveltekit/vite.config.ts
Due: none

build: Upload Nuxt and SvelteKit example stats (#138)
  .github/workflows/ci.yml
  examples/nuxt/nuxt.config.ts
  examples/sveltekit/vite.config.ts
Due: none

fix: Handle [extname] in normalizePath function (#137)
  .changeset/thirty-cheetahs-teach.md
  packages/bundler-plugin-core/src/utils/__tests__/normalizePath.test.ts
  packages/bundler-plugin-core/src/utils/normalizePath.ts
Due: Plugin core

adjust initial sveltekit version value
  .changeset/pre.json
Due: none

adjust snapshot values for beta version
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
Due: Rollup plugin, Vite plugin, Webpack plugin

meta: Update docs
  assets/navigation.js
  assets/search.js
  functions/_codecov_bundler_plugin_core.handleErrors.html
  functions/_codecov_bundler_plugin_core.normalizeOptions.html
  functions/_codecov_nuxt_plugin.default.html
  functions/_codecov_rollup_plugin.codecovRollupPlugin.html
  functions/_codecov_sveltekit_plugin.codecovSvelteKitPlugin.html
  functions/_codecov_vite_plugin.codecovVitePlugin.html
  functions/_codecov_webpack_plugin.codecovWebpackPlugin.html
  interfaces/_codecov_bundler_plugin_core.Options.html
  interfaces/_codecov_bundler_plugin_core.UploadOverrides.html
  modules/_codecov_bundler_plugin_core.html
  modules/_codecov_nuxt_plugin.html
  modules/_codecov_rollup_plugin.html
  modules/_codecov_sveltekit_plugin.html
  modules/_codecov_vite_plugin.html
  modules/_codecov_webpack_plugin.html
Due: none

add example remix app
  examples/remix/.eslintrc.cjs
  examples/remix/.gitignore
  examples/remix/README.md
  examples/remix/app/entry.client.tsx
  examples/remix/app/entry.server.tsx
  examples/remix/app/root.tsx
  examples/remix/app/routes/_index.tsx
  examples/remix/app/tailwind.css
  examples/remix/package.json
  examples/remix/postcss.config.js
  examples/remix/public/favicon.ico
  examples/remix/tailwind.config.ts
  examples/remix/tsconfig.json
  examples/remix/vite.config.ts
  pnpm-lock.yaml
Due: none

add in codecov plugin for remix
  .changeset/shy-turtles-shout.md
  packages/remix-plugin/LICENSE
  packages/remix-plugin/README.md
  packages/remix-plugin/build.config.ts
  packages/remix-plugin/package.json
  packages/remix-plugin/src/index.ts
  packages/remix-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/remix-plugin/src/remix-bundle-analysis/__tests__/getBundleName.test.ts
  packages/remix-plugin/src/remix-bundle-analysis/__tests__/remixBundleAnalysisPlugin.test.ts
  packages/remix-plugin/src/remix-bundle-analysis/getBundleName.ts
  packages/remix-plugin/src/remix-bundle-analysis/remixBundleAnalysisPlugin.ts
  packages/remix-plugin/tsconfig.json
  packages/remix-plugin/typedoc.json
  packages/remix-plugin/vitest.config.ts
Due: none

Path conditions:
  Plugin core: any of: packages/bundler-plugin-core/**
  Rollup plugin: any of: packages/rollup-plugin/**
  Vite plugin: any of: packages/vite-plugin/**
  Webpack plugin: any of: packages/webpack-plugin/**
