Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

codecov.yml:

comment:
  layout: "condensed_header, condensed_files, components, condensed_footer"

ai_pr_review:
  enabled: true

component_management:
  default_rules:
    statuses:
      - type: patch
        target: auto
        branches:
          - "!main"
  individual_components:
    - component_id: package_core
      name: Plugin core
      paths:
        - packages/bundler-plugin-core/**
    - component_id: package_rollup
      name: Rollup plugin
      paths:
        - packages/rollup-plugin/**
    - component_id: package_vite
      name: Vite plugin
      paths:
        - packages/vite-plugin/**
    - component_id: package_webpack
      name: Webpack plugin
      paths:
        - packages/webpack-plugin/**

add in astro integration tests
  integration-tests/fixtures/generate-bundle-stats/astro/__snapshots__/astro-integration.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/astro/astro-base.config.mjs
  integration-tests/fixtures/generate-bundle-stats/astro/astro-integration.test.ts
  integration-tests/package.json
  integration-tests/scripts/gen-config.ts
  integration-tests/test-apps/astro/.gitignore
  integration-tests/test-apps/astro/.vscode/extensions.json
  integration-tests/test-apps/astro/.vscode/launch.json
  integration-tests/test-apps/astro/README.md
  integration-tests/test-apps/astro/package.json
  integration-tests/test-apps/astro/public/favicon.svg
  integration-tests/test-apps/astro/src/components/Card.astro
  integration-tests/test-apps/astro/src/components/Counter.module.css
  integration-tests/test-apps/astro/src/components/Counter.tsx
  integration-tests/test-apps/astro/src/env.d.ts
  integration-tests/test-apps/astro/src/layouts/Layout.astro
  integration-tests/test-apps/astro/src/pages/index.astro
  integration-tests/test-apps/astro/src/pages/not-pre-rendered.astro
  integration-tests/test-apps/astro/tsconfig.json
  pnpm-workspace.yaml
Due: none

update CI to upload astro example app and astro integration stats
  .github/workflows/ci.yml
Due: none

add ts expect errors to build config
  packages/astro-plugin/build.config.ts
Due: none

remove leftover comment
  integration-tests/fixtures/generate-bundle-stats/astro/astro-integration.test.ts
Due: none

remove a copy pasted comment
  integration-tests/fixtures/generate-bundle-stats/astro/astro-integration.test.ts
Due: none

resolve all of the unit test issues
  packages/astro-plugin/src/astro-bundle-analysis/__tests__/__snapshots__/astroBundleAnalysisPlugin.test.ts.snap
  packages/astro-plugin/vitest.config.ts
  packages/bundle-analyzer/vitest.config.ts
  packages/bundler-plugin-core/src/utils/__tests__/getPreSignedURL.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/provider.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/AppVeyorCI.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/AzurePipelines.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Bitbucket.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Bitrise.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Buildkite.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/CircleCI.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Cirrus.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/CloudflarePages.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/CodeBuild.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Drone.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/GitHubActions.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/GitLabCI.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/HerokuCI.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/JenkinsCI.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Local.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Netlify.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Render.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/TeamCity.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/TravisCI.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Vercel.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Werker.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Woodpecker.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/index.test.ts
  packages/bundler-plugin-core/tsconfig.json
  packages/nextjs-webpack-plugin/vitest.config.ts
  packages/nuxt-plugin/vitest.config.ts
  packages/remix-vite-plugin/vitest.config.ts
  packages/rollup-plugin/vitest.config.ts
  packages/solidstart-plugin/vitest.config.ts
  packages/sveltekit-plugin/vitest.config.ts
  packages/vite-plugin/vitest.config.ts
  packages/webpack-plugin/vitest.config.ts
  vitest.shared.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

remove vite-tsconf-path as it's not needed
  package.json
  packages/astro-plugin/package.json
  packages/bundle-analyzer/package.json
  packages/bundler-plugin-core/package.json
  packages/nextjs-webpack-plugin/package.json
  packages/nuxt-plugin/package.json
  packages/remix-vite-plugin/package.json
  packages/rollup-plugin/package.json
  packages/solidstart-plugin/package.json
  packages/sveltekit-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
  pnpm-lock.yaml
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

bump version number in astro snapshots
  integration-tests/fixtures/generate-bundle-stats/astro/__snapshots__/astro-integration.test.ts.snap
Due: none

rename from astro-integration to astro-plugin
  .changeset/nine-boxes-help.md
  .changeset/old-singers-visit.md
  .eslintrc.js
  .github/workflows/ci.yml
  examples/astro/astro.config.mjs
  examples/astro/package.json
  integration-tests/fixtures/generate-bundle-stats/astro/__snapshots__/astro-integration.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/astro/astro-base.config.mjs
  integration-tests/fixtures/generate-bundle-stats/astro/astro-integration.test.ts
  integration-tests/package.json
  integration-tests/test-apps/astro/package.json
  packages/astro-plugin/LICENSE
  packages/astro-plugin/README.md
  packages/astro-plugin/build.config.ts
  packages/astro-plugin/package.json
  packages/astro-plugin/src/astro-bundle-analysis/__tests__/__snapshots__/astroBundleAnalysisPlugin.test.ts.snap
  packages/astro-plugin/src/astro-bundle-analysis/__tests__/astroBundleAnalysisPlugin.test.ts
  packages/astro-plugin/src/astro-bundle-analysis/__tests__/getBundleName.test.ts
  packages/astro-plugin/src/astro-bundle-analysis/astroBundleAnalysisPlugin.ts
  packages/astro-plugin/src/astro-bundle-analysis/getBundleName.ts
  packages/astro-plugin/src/index.ts
  packages/astro-plugin/tsconfig.json
  packages/astro-plugin/typedoc.json
  packages/astro-plugin/vitest.config.ts
  pnpm-lock.yaml
Due: none

cast type to plugin option array to make things happy
  packages/astro-plugin/src/index.ts
Due: none

final few type fixes
  integration-tests/fixtures/generate-bundle-stats/remix/vite-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/solidstart/app-base.config.ts
Due: none

ignore types in vitest
  packages/astro-plugin/vitest.config.ts
Due: none

bump version numbers
  integration-tests/fixtures/generate-bundle-stats/astro/__snapshots__/astro-integration.test.ts.snap
  packages/astro-plugin/package.json
  packages/astro-plugin/src/astro-bundle-analysis/__tests__/__snapshots__/astroBundleAnalysisPlugin.test.ts.snap
Due: none

correct changeset for dynamic imports
  .changeset/tame-glasses-compete.md
Due: none

fix snapshots
  integration-tests/fixtures/generate-bundle-stats/astro/__snapshots__/astro-integration.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/astro/astro-integration.test.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  packages/astro-plugin/src/astro-bundle-analysis/__tests__/__snapshots__/astroBundleAnalysisPlugin.test.ts.snap
Due: none

refactor how we define and access the plugin name and version
  packages/astro-plugin/src/astro-bundle-analysis/__tests__/astroBundleAnalysisPlugin.test.ts
  packages/astro-plugin/src/astro-bundle-analysis/astroBundleAnalysisPlugin.ts
  packages/astro-plugin/src/index.ts
  packages/bundler-plugin-core/src/types.ts
  packages/nextjs-webpack-plugin/src/index.ts
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/__tests__/nextJSWebpackBundleAnalysisPlugin.test.ts
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/nextJSWebpackBundleAnalysisPlugin.ts
  packages/nuxt-plugin/src/index.ts
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/nuxtBundleAnalysisPlugin.test.ts
  packages/nuxt-plugin/src/nuxt-bundle-analysis/nuxtBundleAnalysisPlugin.ts
  packages/remix-vite-plugin/src/index.ts
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/remixBundleAnalysisPlugin.test.ts
  packages/remix-vite-plugin/src/remix-bundle-analysis/remixBundleAnalysisPlugin.ts
  packages/rollup-plugin/src/index.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/rollupBundleAnalysisPlugin.test.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
  packages/solidstart-plugin/src/index.ts
  packages/solidstart-plugin/src/solidstart-bundle-analysis/__tests__/solidstartBundleAnalysisPlugin.test.ts
  packages/solidstart-plugin/src/solidstart-bundle-analysis/solidstartBundleAnalysisPlugin.ts
  packages/sveltekit-plugin/src/index.ts
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/sveltekitBundleAnalysisPlugin.test.ts
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/sveltekitBundleAnalysisPlugin.ts
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/viteBundleAnalysisPlugin.test.ts
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
  packages/webpack-plugin/src/index.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/webpackBundleAnalysisPlugin.test.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

chore(ci): upgrade to v5
  .github/workflows/ci.yml
Due: none

chore(ci): upgrade to v5 (#223)
  .github/workflows/ci.yml
Due: none

setup Sentry in the bundler plugin core
  packages/bundler-plugin-core/package.json
  packages/bundler-plugin-core/src/index.ts
  packages/bundler-plugin-core/src/sentry/__tests__/telemetry.test.ts
  packages/bundler-plugin-core/src/sentry/__tests__/transports.test.ts
  packages/bundler-plugin-core/src/sentry/telemetry.ts
  packages/bundler-plugin-core/src/sentry/transports.ts
  packages/bundler-plugin-core/src/types.ts
  packages/bundler-plugin-core/src/utils/Output.ts
  packages/bundler-plugin-core/src/utils/__tests__/Output.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/normalizeOptions.test.ts
  packages/bundler-plugin-core/src/utils/normalizeOptions.ts
Due: Plugin core

add to the plugins
  packages/astro-plugin/src/astro-bundle-analysis/__tests__/astroBundleAnalysisPlugin.test.ts
  packages/astro-plugin/src/index.ts
  packages/nextjs-webpack-plugin/src/index.ts
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/__tests__/nextJSWebpackBundleAnalysisPlugin.test.ts
  packages/nuxt-plugin/src/index.ts
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/nuxtBundleAnalysisPlugin.test.ts
  packages/remix-vite-plugin/src/index.ts
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/remixBundleAnalysisPlugin.test.ts
  packages/rollup-plugin/src/index.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/rollupBundleAnalysisPlugin.test.ts
  packages/solidstart-plugin/src/index.ts
  packages/solidstart-plugin/src/solidstart-bundle-analysis/__tests__/solidstartBundleAnalysisPlugin.test.ts
  packages/sveltekit-plugin/src/index.ts
  packages/vite-plugin/src/index.ts
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/viteBundleAnalysisPlugin.test.ts
  packages/webpack-plugin/src/index.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/webpackBundleAnalysisPlugin.test.ts
Due: Rollup plugin, Vite plugin, Webpack plugin

disable telemetry in the integration tests
  integration-tests/fixtures/generate-bundle-stats/astro/astro-base.config.mjs
  integration-tests/fixtures/generate-bundle-stats/nextjs/next-base.config.mjs
  integration-tests/fixtures/generate-bundle-stats/nuxt/nuxt-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/remix/vite-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-base.config.cjs
  integration-tests/fixtures/generate-bundle-stats/solidstart/app-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/sveltekit/vite-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/vite/vite-base.config.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-base.config.cjs
Due: none

update lock file
  pnpm-lock.yaml
Due: none

add in changeset
  .changeset/green-goats-thank.md
Due: none

fix type issues
  packages/bundler-plugin-core/src/sentry/__tests__/telemetry.test.ts
  packages/bundler-plugin-core/src/utils/__tests__/provider.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/AppVeyorCI.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/AzurePipelines.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Bitbucket.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Bitrise.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Buildkite.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/CircleCI.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Cirrus.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/CloudflarePages.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/CodeBuild.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Drone.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/GitHubActions.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/GitLabCI.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/HerokuCI.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/JenkinsCI.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Local.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Netlify.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Render.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/TeamCity.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/TravisCI.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Vercel.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Werker.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/Woodpecker.test.ts
  packages/bundler-plugin-core/src/utils/providers/__tests__/index.test.ts
Due: Plugin core

add in fix for next js webpack plugin not using the correct webpack
  .changeset/wise-toys-hug.md
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/nextJSWebpackBundleAnalysisPlugin.ts
Due: none

point uploads to staging
  .github/workflows/ci.yml
Due: none

set the correct token
  .github/workflows/ci.yml
Due: none

set owner and repo tags
  packages/bundler-plugin-core/src/utils/Output.ts
Due: Plugin core

add op's to the spans
  packages/bundler-plugin-core/src/sentry/telemetry.ts
  packages/bundler-plugin-core/src/utils/Output.ts
  packages/bundler-plugin-core/src/utils/__tests__/Output.test.ts
Due: Plugin core

collect some more info about meta frameworks and bundlers
  packages/astro-plugin/src/index.ts
  packages/bundler-plugin-core/src/sentry/__tests__/telemetry.test.ts
  packages/bundler-plugin-core/src/sentry/telemetry.ts
  packages/nextjs-webpack-plugin/src/index.ts
  packages/nuxt-plugin/src/index.ts
  packages/remix-vite-plugin/src/index.ts
  packages/rollup-plugin/src/index.ts
  packages/solidstart-plugin/src/index.ts
  packages/sveltekit-plugin/src/index.ts
  packages/vite-plugin/src/index.ts
  packages/webpack-plugin/src/index.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

build: Point example uploads to staging (#225)
  .github/workflows/ci.yml
Due: none

add in some more comments
  packages/bundler-plugin-core/src/sentry/telemetry.ts
Due: Plugin core

fix up conditionals in Local
  packages/bundler-plugin-core/src/utils/providers/Local.ts
Due: Plugin core

add in changeset
  .changeset/little-dryers-switch.md
Due: none

fix: Resolve issues with the Local Provider (#226)
  .changeset/little-dryers-switch.md
  packages/bundler-plugin-core/src/utils/providers/Local.ts
Due: Plugin core

bump version in snapshots
  integration-tests/fixtures/generate-bundle-stats/astro/__snapshots__/astro-integration.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  packages/astro-plugin/src/astro-bundle-analysis/__tests__/__snapshots__/astroBundleAnalysisPlugin.test.ts.snap
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/__tests__/__snapshots__/nextJSWebpackBundleAnalysisPlugin.test.ts.snap
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/solidstart-plugin/src/solidstart-bundle-analysis/__tests__/__snapshots__/solidstartBundleAnalysisPlugin.test.ts.snap
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
Due: Rollup plugin, Vite plugin, Webpack plugin

meta: Update docs
  assets/highlight.css
  assets/navigation.js
  assets/search.js
  functions/_codecov_astro_plugin.default.html
  functions/_codecov_bundle_analyzer.index.createAndUploadReport.html
  functions/_codecov_bundler_plugin_core.handleErrors.html
  functions/_codecov_bundler_plugin_core.normalizeOptions.html
  functions/_codecov_nextjs_webpack_plugin.codecovNextJSWebpackPlugin.html
  functions/_codecov_nuxt_plugin.default.html
  functions/_codecov_remix_vite_plugin.codecovRemixVitePlugin.html
  functions/_codecov_rollup_plugin.codecovRollupPlugin.html
  functions/_codecov_solidstart_plugin.codecovSolidStartPlugin.html
  functions/_codecov_sveltekit_plugin.codecovSvelteKitPlugin.html
  functions/_codecov_vite_plugin.codecovVitePlugin.html
  functions/_codecov_webpack_plugin.codecovWebpackPlugin.html
  interfaces/_codecov_bundle_analyzer.index.Options.html
  interfaces/_codecov_bundle_analyzer.options.BundleAnalyzerOptions.html
  interfaces/_codecov_bundler_plugin_core.Options.html
  interfaces/_codecov_bundler_plugin_core.UploadOverrides.html
  modules/_codecov_astro_plugin.html
  modules/_codecov_bundle_analyzer.html
  modules/_codecov_bundle_analyzer.index.html
  modules/_codecov_bundle_analyzer.options.html
  modules/_codecov_bundler_plugin_core.html
  modules/_codecov_nextjs_webpack_plugin.html
  modules/_codecov_nuxt_plugin.html
  modules/_codecov_remix_vite_plugin.html
  modules/_codecov_rollup_plugin.html
  modules/_codecov_solidstart_plugin.html
  modules/_codecov_sveltekit_plugin.html
  modules/_codecov_vite_plugin.html
  modules/_codecov_webpack_plugin.html
Due: none

add in example astro-5 app
  examples/astro-5/.gitignore
  examples/astro-5/.vscode/extensions.json
  examples/astro-5/.vscode/launch.json
  examples/astro-5/README.md
  examples/astro-5/astro.config.mjs
  examples/astro-5/package.json
  examples/astro-5/public/favicon.svg
  examples/astro-5/src/assets/astro.svg
  examples/astro-5/src/assets/background.svg
  examples/astro-5/src/components/Welcome.astro
  examples/astro-5/src/layouts/Layout.astro
  examples/astro-5/src/pages/index.astro
  examples/astro-5/tsconfig.json
Due: none

rename astro 4 test app and add in astro 5 test app
  integration-tests/test-apps/astro-4/.gitignore
  integration-tests/test-apps/astro-4/.vscode/extensions.json
  integration-tests/test-apps/astro-4/.vscode/launch.json
  integration-tests/test-apps/astro-4/README.md
  integration-tests/test-apps/astro-4/package.json
  integration-tests/test-apps/astro-4/public/favicon.svg
  integration-tests/test-apps/astro-4/src/components/Card.astro
  integration-tests/test-apps/astro-4/src/components/Counter.module.css
  integration-tests/test-apps/astro-4/src/components/Counter.tsx
  integration-tests/test-apps/astro-4/src/env.d.ts
  integration-tests/test-apps/astro-4/src/layouts/Layout.astro
  integration-tests/test-apps/astro-4/src/pages/index.astro
  integration-tests/test-apps/astro-4/src/pages/not-pre-rendered.astro
  integration-tests/test-apps/astro-4/tsconfig.json
  integration-tests/test-apps/astro-5/.gitignore
  integration-tests/test-apps/astro-5/.vscode/extensions.json
  integration-tests/test-apps/astro-5/.vscode/launch.json
  integration-tests/test-apps/astro-5/README.md
  integration-tests/test-apps/astro-5/package.json
  integration-tests/test-apps/astro-5/public/favicon.svg
  integration-tests/test-apps/astro-5/src/components/Card.astro
  integration-tests/test-apps/astro-5/src/components/Counter.module.css
  integration-tests/test-apps/astro-5/src/components/Counter.tsx
  integration-tests/test-apps/astro-5/src/env.d.ts
  integration-tests/test-apps/astro-5/src/layouts/Layout.astro
  integration-tests/test-apps/astro-5/src/pages/index.astro
  integration-tests/test-apps/astro-5/src/pages/not-pre-rendered.astro
  integration-tests/test-apps/astro-5/tsconfig.json
Due: none
