Repository codecov/codecov-javascript-bundler-plugins: changes, and which Codecov flags are due for each by the changed paths.
All: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

fix integration tests
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/package.json
  pnpm-lock.yaml
Due: none

fix integration test
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
Due: none

fix integration test chunk names
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
Due: none

chore: Bump vite in integration test
  integration-tests/package.json
  pnpm-lock.yaml
Due: none

one more wrong chunk name
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
Due: none

feat: Enable true tokenless for bundler plugins (#189)
  .changeset/big-news-bake.md
  packages/bundler-plugin-core/src/errors/NoUploadTokenError.ts
  packages/bundler-plugin-core/src/utils/__tests__/getPreSignedURL.test.ts
  packages/bundler-plugin-core/src/utils/getPreSignedURL.ts
Due: Plugin core

add in components for all of the new packages
  codecov.yml
Due: none

chore: Resolve nextjs vuln (#190)
  .changeset/moody-goats-sing.md
  examples/next-js/package.json
  integration-tests/test-apps/nextjs/package.json
  pnpm-lock.yaml
Due: none

chore: Resolve rollup vuln (#191)
  .changeset/brave-bikes-wait.md
  examples/bundle-analyzer-cli/package.json
  examples/oidc/package.json
  examples/rollup/package.json
  examples/tokenless/package.json
  examples/vite/package.json
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/package.json
  packages/rollup-plugin/package.json
  packages/rollup-plugin/vitest.config.ts
  pnpm-lock.yaml
Due: Rollup plugin

chore: Fix rollup versions in lockfile
  pnpm-lock.yaml
Due: none

re-run pnpm install
  pnpm-lock.yaml
Due: none

fix rollup dep
  pnpm-lock.yaml
Due: none

chore: Bump vite in integration test (#196)
  integration-tests/package.json
  pnpm-lock.yaml
Due: none

fix rollup versions
  pnpm-lock.yaml
Due: none

regen
  pnpm-lock.yaml
Due: none

try to fix lockfile
  pnpm-lock.yaml
Due: none

fix integration tests
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/nuxt/nuxt-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/remix-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/sveltekit-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/vite-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-plugin.test.ts
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/solidstart-plugin/src/solidstart-bundle-analysis/__tests__/__snapshots__/solidstartBundleAnalysisPlugin.test.ts.snap
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
Due: Rollup plugin, Vite plugin, Webpack plugin

use hardcoded versions
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/nuxt/nuxt-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/remix-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/rollup-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/sveltekit-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/vite-plugin.test.ts
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/webpack-plugin.test.ts
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/solidstart-plugin/src/solidstart-bundle-analysis/__tests__/__snapshots__/solidstartBundleAnalysisPlugin.test.ts.snap
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
Due: Rollup plugin, Vite plugin, Webpack plugin

missed a spot to hardcode version
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/__tests__/__snapshots__/nextJSWebpackBundleAnalysisPlugin.test.ts.snap
Due: none

meta: Update docs
  functions/_codecov_bundle_analyzer.index.createAndUploadReport.html
  functions/_codecov_bundler_plugin_core.handleErrors.html
  functions/_codecov_bundler_plugin_core.normalizeOptions.html
  functions/_codecov_nextjs_webpack_plugin.codecovNextJSWebpackPlugin.html
  functions/_codecov_nuxt_plugin.default.html
  functions/_codecov_remix_vite_plugin.codecovRemixVitePlugin.html
  functions/_codecov_rollup_plugin.codecovRollupPlugin.html
  functions/_codecov_solidstart_plugin.codecovSolidStartPlugin.html
  functions/_codecov_sveltekit_plugin.codecovSvelteKitPlugin.html
  functions/_codecov_vite_plugin.codecovVitePlugin.html
  functions/_codecov_webpack_plugin.codecovWebpackPlugin.html
  interfaces/_codecov_bundle_analyzer.options.BundleAnalyzerOptions.html
  interfaces/_codecov_bundler_plugin_core.Options.html
  interfaces/_codecov_bundler_plugin_core.UploadOverrides.html
  modules/_codecov_bundle_analyzer.html
  modules/_codecov_bundle_analyzer.index.html
  modules/_codecov_bundle_analyzer.options.html
  modules/_codecov_bundler_plugin_core.html
  modules/_codecov_nextjs_webpack_plugin.html
  modules/_codecov_nuxt_plugin.html
  modules/_codecov_remix_vite_plugin.html
  modules/_codecov_rollup_plugin.html
  modules/_codecov_solidstart_plugin.html
  modules/_codecov_sveltekit_plugin.html
  modules/_codecov_vite_plugin.html
  modules/_codecov_webpack_plugin.html
Due: none

fix rollup version
  packages/bundle-analyzer/package.json
  packages/bundler-plugin-core/package.json
  packages/nextjs-webpack-plugin/package.json
  packages/nuxt-plugin/package.json
  packages/remix-vite-plugin/package.json
  packages/rollup-plugin/package.json
  packages/solidstart-plugin/package.json
  packages/sveltekit-plugin/package.json
  packages/vite-plugin/package.json
  packages/webpack-plugin/package.json
  pnpm-lock.yaml
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

fix lockfile
  pnpm-lock.yaml
Due: none

fix versions
  pnpm-lock.yaml
Due: none

fix type errors
  packages/bundle-analyzer/build.config.ts
  packages/bundler-plugin-core/build.config.ts
  packages/nextjs-webpack-plugin/build.config.ts
  packages/nuxt-plugin/build.config.ts
  packages/remix-vite-plugin/build.config.ts
  packages/rollup-plugin/build.config.ts
  packages/solidstart-plugin/build.config.ts
  packages/sveltekit-plugin/build.config.ts
  packages/vite-plugin/build.config.ts
  packages/webpack-plugin/build.config.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

fix linter
  packages/bundle-analyzer/build.config.ts
  packages/bundler-plugin-core/build.config.ts
  packages/nextjs-webpack-plugin/build.config.ts
  packages/nuxt-plugin/build.config.ts
  packages/remix-vite-plugin/build.config.ts
  packages/rollup-plugin/build.config.ts
  packages/solidstart-plugin/build.config.ts
  packages/sveltekit-plugin/build.config.ts
  packages/vite-plugin/build.config.ts
  packages/webpack-plugin/build.config.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

chore: use version 1.3.0
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  packages/bundle-analyzer/package.json
  packages/bundler-plugin-core/package.json
  packages/nextjs-webpack-plugin/package.json
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/__tests__/__snapshots__/nextJSWebpackBundleAnalysisPlugin.test.ts.snap
  packages/nuxt-plugin/package.json
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/remix-vite-plugin/package.json
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/package.json
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/solidstart-plugin/package.json
  packages/solidstart-plugin/src/solidstart-bundle-analysis/__tests__/__snapshots__/solidstartBundleAnalysisPlugin.test.ts.snap
  packages/sveltekit-plugin/package.json
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/package.json
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/package.json
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

use plugin version 1.3.0 (#207)
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  packages/bundle-analyzer/package.json
  packages/bundler-plugin-core/package.json
  packages/nextjs-webpack-plugin/package.json
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/__tests__/__snapshots__/nextJSWebpackBundleAnalysisPlugin.test.ts.snap
  packages/nuxt-plugin/package.json
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/remix-vite-plugin/package.json
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/package.json
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/solidstart-plugin/package.json
  packages/solidstart-plugin/src/solidstart-bundle-analysis/__tests__/__snapshots__/solidstartBundleAnalysisPlugin.test.ts.snap
  packages/sveltekit-plugin/package.json
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/package.json
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/package.json
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

chore: Do not bump plugin versions
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  packages/bundle-analyzer/package.json
  packages/bundler-plugin-core/package.json
  packages/nextjs-webpack-plugin/package.json
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/__tests__/__snapshots__/nextJSWebpackBundleAnalysisPlugin.test.ts.snap
  packages/nuxt-plugin/package.json
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/remix-vite-plugin/package.json
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/package.json
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/solidstart-plugin/package.json
  packages/solidstart-plugin/src/solidstart-bundle-analysis/__tests__/__snapshots__/solidstartBundleAnalysisPlugin.test.ts.snap
  packages/sveltekit-plugin/package.json
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/package.json
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/package.json
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
  pnpm-lock.yaml
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

update originalBundleName to be an internal only field and create getter in Output
  packages/bundler-plugin-core/src/utils/Output.ts
  packages/bundler-plugin-core/src/utils/__tests__/Output.test.ts
Due: Plugin core

update plugins to set the bundle name to the original bundle name initially
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/nextJSWebpackBundleAnalysisPlugin.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Rollup plugin, Vite plugin, Webpack plugin

add in changeset
  .changeset/neat-jobs-train.md
Due: none

removed unused tests
  packages/bundler-plugin-core/src/utils/__tests__/Output.test.ts
Due: Plugin core

fix: Bundle names not being reset properly (#209)
  .changeset/neat-jobs-train.md
  packages/bundler-plugin-core/src/utils/Output.ts
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/nextJSWebpackBundleAnalysisPlugin.ts
  packages/rollup-plugin/src/rollup-bundle-analysis/rollupBundleAnalysisPlugin.ts
  packages/vite-plugin/src/vite-bundle-analysis/viteBundleAnalysisPlugin.ts
  packages/webpack-plugin/src/webpack-bundle-analysis/webpackBundleAnalysisPlugin.ts
Due: Plugin core, Rollup plugin, Vite plugin, Webpack plugin

bump integration test version
  integration-tests/fixtures/generate-bundle-stats/nuxt/__snapshots__/nuxt-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/remix/__snapshots__/remix-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/rollup/__snapshots__/rollup-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/sveltekit/__snapshots__/sveltekit-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/vite/__snapshots__/vite-plugin.test.ts.snap
  integration-tests/fixtures/generate-bundle-stats/webpack/__snapshots__/webpack-plugin.test.ts.snap
  packages/nextjs-webpack-plugin/src/nextjs-webpack-bundle-analysis/__tests__/__snapshots__/nextJSWebpackBundleAnalysisPlugin.test.ts.snap
  packages/nuxt-plugin/src/nuxt-bundle-analysis/__tests__/__snapshots__/nuxtBundleAnalysisPlugin.test.ts.snap
  packages/remix-vite-plugin/src/remix-bundle-analysis/__tests__/__snapshots__/remixBundleAnalysisPlugin.test.ts.snap
  packages/rollup-plugin/src/rollup-bundle-analysis/__tests__/__snapshots__/rollupBundleAnalysisPlugin.test.ts.snap
  packages/solidstart-plugin/src/solidstart-bundle-analysis/__tests__/__snapshots__/solidstartBundleAnalysisPlugin.test.ts.snap
  packages/sveltekit-plugin/src/sveltekit-bundle-analysis/__tests__/__snapshots__/sveltekitBundleAnalysisPlugin.test.ts.snap
  packages/vite-plugin/src/vite-bundle-analysis/__tests__/__snapshots__/viteBundleAnalysisPlugin.test.ts.snap
  packages/webpack-plugin/src/webpack-bundle-analysis/__tests__/__snapshots__/webpackBundleAnalysisPlugin.test.ts.snap
Due: Rollup plugin, Vite plugin, Webpack plugin

remove extra \
  packages/bundler-plugin-core/src/utils/normalizePath.ts
Due: Plugin core

add in changeset
  .changeset/rare-foxes-cheat.md
Due: none

update
  packages/nuxt-plugin/package.json
  packages/nuxt-plugin/src/index.ts
  pnpm-lock.yaml
Due: none

rollback peer deps
  packages/nuxt-plugin/package.json
  pnpm-lock.yaml
Due: none

Add dep
  packages/nuxt-plugin/package.json
  pnpm-lock.yaml
Due: none

Update index.ts
  packages/nuxt-plugin/src/index.ts
Due: none

Path conditions:
  Plugin core: any of: packages/bundler-plugin-core/**
  Rollup plugin: any of: packages/rollup-plugin/**
  Vite plugin: any of: packages/vite-plugin/**
  Webpack plugin: any of: packages/webpack-plugin/**
